{% extends "layout.nunjucks" %}
{% block content %}
<h1>External Links</h1>
<p>If you are interested in learning more about music theory, history, and performance, we recommend starting
    with these resources. Many of the books listed below are readily available for purchase online and may also
    be available in your local library.</p>
<h2>Companion Website to Music Crash Courses</h2>
<div class="website">
    <h1>Theme and Variations: New Perspectives in Music History</h1>
    <p>This website features essays organized around topics such as music and words, writing about music, and
        dance music. It considers both historical and present-day music.</p>
    <div class="links">
        <a href="http://www.themeandvariations.org/" target="new" title="Visit Theme and Variations"><img
            src="../images/layout/external.png" alt="Visit Theme and Variations"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<h2>Online Music Academies</h2>
<div class="website">
    <h1>Khan Academy</h1>
    <p>Khan Academy offers self-paced learning in many subject areas with videos, exercises, and a "learning
        dashboard" that tracks your progress, all for free. In music, Khan Academy offers content on music
        basics, classical masterpieces, and the instruments of the orchestra.</p>
    <div class="links">
        <a href="https://www.khanacademy.org/humanities/music" target="new"
           title="Visit Khan Academy: Music"><img src="../images/layout/khan_academy.png"
                                                  alt="Visit Khan Academy: Music"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Dave Conservatoire</h1>
    <p>Dave Conservatoire is "a free online music school, aiming to provide a world-class music education for
        everyone." Modeled on Khan Academy, Dave Conservatoire has videos, exercises, and progress tracking on
        music basics, reading music, and ear training. The site also offers ABRSM test preparation for grades
        1-3 (ABRSM, the exam board of the Royal Schools of Music, is a UK-based organization that provides music
        assessment in 93 countries).</p>
    <div class="links">
        <a href="http://www.daveconservatoire.org/" target="new" title="Visit Dave Conservatoire"><img
            src="../images/layout/dave_conservatoire.png" alt="Visit Dave Conservatoire"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<h2>General Music Resources</h2>
<div class="website">
    <h1>Oxford Music Online: Grove Music Online, The Oxford Dictionary of Music, and The Oxford Companion to
        Music</h1>
    <p>Grove is considered the definitive music encyclopedia, and the additional Oxford resources are excellent
        as well. The website is available by subscription only, but both paper copies and website access are
        available at many libraries.</p>
    <div class="links">
        Website:
        <a href="http://www.oxfordmusiconline.com/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
        Library:
        <a href="http://www.worldcat.org/search?qt=worldcat_org_all&q=grove+dictionary+music+musicians"
           target="new" title="Search with WorldCat"><img src="../images/layout/worldcat.png"
                                                          alt="Search with WorldCat"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Naxos Streaming Music</h1>
    <p>Naxos is subscription-based service offering high-quality streaming music. Many libraries offer access to
        Naxos.</p>
    <div class="links">
        Website:
        <a href="http://www.naxos.com/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
        Library:
        <a href="http://www.worldcat.org/search?qt=worldcat_org_all&q=naxos+music" target="new"
           title="Search with WorldCat"><img src="../images/layout/worldcat.png" alt="Search with WorldCat"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Dolmetsch Music Theory and History Online</h1>
    <div class="links">
        <a href="http://www.dolmetsch.com/index.htm" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Naxos Music Genres</h1>
    <div class="links">
        <a href="http://www.naxos.com/education/music_categories.asp" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<h2>Musicology</h2>
<div class="book">
    <h1><i>The Encyclopedia of Music</i>, by Wendy Thompson and Max Wade-Matthews</h1>
    <p>An excellent introduction to musical instruments and composer biographies; concise, with lots of
        pictures</p>
    <div class="links">
        Buy:
        <a href="http://amzn.com/1844768929" target="new"><img src="../images/layout/amazon.png"
                                                               alt="Buy on Amazon"></a>
        Library:
        <a href="http://www.worldcat.org/search?qt=worldcat_org_all&q=The+Encyclopedia+of+Music+Wendy+Thompson+Max+Wade-Matthews"
           target="new" title="Search with WorldCat"><img src="../images/layout/worldcat.png"
                                                          alt="Search with WorldCat"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="book">
    <h1><i>A History of Western Music</i> by J. Peter Burkholder, Donald Jay Grout, and Claude V. Paliscas</h1>
    <p>One of the standard textbooks used in music history courses for undergraduate music majors</p>
    <div class="links">
        Buy:
        <a href="http://amzn.com/0393918297" target="new"><img src="../images/layout/amazon.png"
                                                               alt="Buy on Amazon"></a>
        Library:
        <a href="http://www.worldcat.org/search?qt=worldcat_org_all&q=History+Western+Music+Peter+Burkholder+Donald+Jay+Grout+Claude+Palisca"
           target="new" title="Search with WorldCat"><img src="../images/layout/worldcat.png"
                                                          alt="Search with WorldCat"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Online Companion to <i>A History of Western Music</i>, 7th Edition</h1>
    <p>This website is the companion to <i>A History of Western Music</i> listed above. These companion
        materials are for an older edition, which may be why they are available for free.</p>
    <div class="links">
        <a href="http://www.wwnorton.com/college/music/grout7/home.htm" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="book">
    <h1><i>Music in the Western World: A History in Documents</i>, selected and annotated by Piero Weiss and
        Richard Taruskin</h1>
    <p>Source readings in music history</p>
    <div class="links">
        Buy:
        <a href="http://amzn.com/053458599X" target="new"><img src="../images/layout/amazon.png"
                                                               alt="Buy on Amazon"></a>
        Library:
        <a href="http://www.worldcat.org/search?qt=worldcat_org_all&q=Music+in+the+Western World+History+in+Documents+Weiss+Taruskin"
           target="new" title="Search with WorldCat"><img src="../images/layout/worldcat.png"
                                                          alt="Search with WorldCat"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>"Why So Serious?" by Alex Ross</h1>
    <p>This article from <i>The New Yorker</i> considers the history of the classical concert.</p>
    <div class="links">
        <a href="http://www.newyorker.com/magazine/2008/09/08/why-so-serious" target="new"
           title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Chronological Summary of Western Music History</h1>
    <div class="links">
        <a href="http://www.columbia.edu/itc/music/ito/history/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Max Hunter Folk Song Collection at Missouri State University</h1>
    <p>Lyrics, notation, and audio recordings of American folk songs.</p>
    <div class="links">
        <a href="http://maxhunter.missouristate.edu/indexsongtitle.aspx" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<h2>Physics of Sound</h2>
<div class="website">
    <h1>Physics of Music and Musical Instruments, Tufts University (PDF)</h1>
    <div class="links">
        <a href="http://kellerphysics.com/acoustics/Lapp.pdf" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Music Science at the University of New South Wales (Sydney, Australia)</h1>
    <div class="links">
        <a href="http://www.phys.unsw.edu.au/music/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>The Physics Classroom: Sound Waves and Music</h1>
    <div class="links">
        <a href="http://www.physicsclassroom.com/class/sound/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>The Physics Hypertextbook: Music and Noise</h1>
    <div class="links">
        <a href="http://physics.info/music/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Hyperphysics: Sound</h1>
    <div class="links">
        <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/sound/soucon.html" target="new"
           title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<h2>Instruments</h2>
<div class="website">
    <h1>Naxos Musical Instruments Overview</h1>
    <div class="links">
        <a href="http://www.naxos.com/education/music_instruments.asp" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Virtual Keyboards</h1>
    <div class="links">
        Birmingham Grid for Learning:<a
        href="http://www.bgfl.org/bgfl/custom/resources_ftp/client_ftp/ks2/music/piano/" target="new"
        title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
        The Method Behind the Music:<a href="http://method-behind-the-music.com/piano" target="new"
                                       title="Visit Website"><img src="../images/layout/external.png"
                                                                  alt="Visit Website"></a>
        VirtualPiano.net:<a href="http://www.virtualpiano.net/" target="new" title="Visit Website"><img
        src="../images/layout/external.png" alt="Visit Website"></a>
        TheVirtualPiano.com:<a href="http://www.thevirtualpiano.com/" target="new" title="Visit Website"><img
        src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Virtual Guitar</h1>
    <div class="links">
        ChordBook.com:<a href="http://www.chordbook.com/guitarchords.php" target="new"
                         title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
        Dragon Guitar:<a href="http://dragonguitar.com/" target="new" title="Visit Website"><img
        src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<h2>Ear Training</h2>
<h3>Ear Training Websites</h3>
<div class="website">
    <h1>Good Ear</h1>
    <div class="links">
        <a href="http://www.good-ear.com" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Ricci Adams's MusicTheory.net</h1>
    <div class="links">
        <a href="http://www.musictheory.net" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Teoria</h1>
    <div class="links">
        <a href="http://www.teoria.com" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Aural Idiom Drill</h1>
    <div class="links">
        <a href="http://www.contrib.andrew.cmu.edu/~johnito/aid/index.html" target="new"
           title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>The Musical Mind</h1>
    <div class="links">
        <a href="http://www.musicalmind.org" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Big Ears</h1>
    <div class="links">
        <a href="http://www.ossmann.com/bigears/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>Aural Skills Guide: Dictation, InTactus, Diktus</h1>
    <div class="links">
        <a href="http://www.wmich.edu/mus-theo/etg/et_guide.html" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<h3>Ear Training Apps</h3>
<div class="mobile">
    <h1>SolFi Ear Trainer for iOS (iPad, iPhone, iPod Touch)</h1>
    <div class="links">
        <a href="http://www.cutdek.com/solfi/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="mobile">
    <h1>Guide to Best Ear Training Apps</h1>
    <div class="links">
        iOS (iPad, iPhone, iPod Touch): <a href="http://appcrawlr.com/ios-apps/best-apps-ear-training"
                                           target="new" title="Visit Website"><img
        src="../images/layout/external.png" alt="Visit Website"></a>
        Android: <a href="http://appcrawlr.com/android-apps/best-apps-ear-training" target="new"
                    title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<h2>Miscellaneous</h2>
<div class="website">
    <h1>Majoring in Music</h1>
    <p>Informational site for high school students considering majoring in music in college and their
        parents.</p>
    <div class="links">
        <a href="http://www.majoringinmusic.com/" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>StudentScholarshipSearch.com: Music Scholarships by Area of Interest</h1>
    <div class="links">
        Composition: <a href="http://www.studentscholarshipsearch.com/interest/music-composition/" target="new"
                        title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
        Performance: <a href="http://www.studentscholarshipsearch.com/interest/music-performance/" target="new"
                        title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
        Band: <a href="http://www.studentscholarshipsearch.com/interest/band/" target="new"
                 title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
        Choir: <a href="http://www.studentscholarshipsearch.com/interest/choir/" target="new"
                  title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
        Piano: <a href="http://www.studentscholarshipsearch.com/interest/piano/" target="new"
                  title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
        Singing and Voice: <a href="http://www.studentscholarshipsearch.com/interest/singing-voice/"
                              target="new" title="Visit Website"><img src="../images/layout/external.png"
                                                                      alt="Visit Website"></a>
        String Instruments: <a href="http://www.studentscholarshipsearch.com/interest/string-instruments/"
                               target="new" title="Visit Website"><img src="../images/layout/external.png"
                                                                       alt="Visit Website"></a>
        Ukulele: <a href="http://www.studentscholarshipsearch.com/interest/ukulele/" target="new"
                    title="Visit Website"><img src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
<div class="website">
    <h1>LegalMatch.com: The Basics of Music Law</h1>
    <p>Discusses copyrights, publishing, and other legal topics that affect people involved with music.</p>
    <div class="links">
        <a href="http://www.legalmatch.com/music-law-basics.html" target="new" title="Visit Website"><img
            src="../images/layout/external.png" alt="Visit Website"></a>
    </div>
    <div class="clearfloat"></div>
</div>
{% endblock %}
