{% extends "layout.nunjucks" %}
{% block content %}
<h1>Ensembles</h1>
<p>This section is under construction. Check back soon!</p>

<!--
<h2>Chamber Music</h2>
<p><b>Chamber music</b> is written for small groups to perform in private homes or other small performance spaces. Unlike <a href="ensembles.html">orchestral</a> or <a href="ensembles.html">choral</a> pieces in which several musicians perform the same line of music, in chamber music there is only one person playing or singing each part, making listening to and performing chamber music an intimate experience.</p>
<p>Chamber music is very challenging to perform because it combines individual skill with ensemble sensitivity. Just as rock bands break up over personal conflicts or 'artistic differences,' all chamber groups must balance their own musicianship with the needs of the group, and the chemistry of the ensemble must be just right to create the highest quality performances.</p>
<p>For more about different combinations of instruments used in chamber music, see the lesson on <a href="ensembles.html">ensembles</a>.</p>
-->
{% endblock %}
