{% extends "layout.nunjucks" %}
{% block content %}
<h1>Expression Markings</h1>
<p>In order to help performers understand not just what to play, but <i>how</i> to play it, composers add <b>expression
    markings</b>. Sometimes these indications follow the <a href="beat.html">tempo markings</a> or are included
    in them, like <i>allegro con brio</i> (fast with gusto), or <i>adagio cantabile</i> (slow and singing).
    Other times composers will include these interpretive directions for a particular section, phrase, or even a
    single note.</p>
<p>Unlike <a href="pitch.html">pitches</a> and <a href="rhythm.html">rhythms</a>, which are fairly concrete and
    fixed, expression markings are more subjective and open to interpretation. To put it another way, it is easy
    to determine if a performer is playing the correct notes and rhythms, but it is much more difficult to judge
    whether they are interpreting and expressing the piece well. Personal preference plays a role in these
    judgements, but performers and critics also consider which performance practices are appropriate for a
    particular piece based on the time period and circumstances surrounding its composition.</p>
<h2>General Expression Markings</h2>
<table class="fltrt">
    <tr>
        <td class="labeltop">Term</td>
        <td class="labeltop">Definition</td>
    </tr>
    <tr>
        <td><i>agitato</i></td>
        <td>agitated</td>
    </tr>
    <tr>
        <td><i>appassionato</i></td>
        <td>passionate</td>
    </tr>
    <tr>
        <td><i>animato</i></td>
        <td>animated, lively</td>
    </tr>
    <tr>
        <td><i>cantabile</i></td>
        <td>singing (lyrical and flowing)</td>
    </tr>
    <tr>
        <td><i>con brio</i></td>
        <td>with gusto</td>
    </tr>
    <tr>
        <td><i>dolce</i></td>
        <td>sweet</td>
    </tr>
    <tr>
        <td><i>energico</i></td>
        <td>energetic, strong, forceful</td>
    </tr>
    <tr>
        <td><i>espressivo</i></td>
        <td>expressive</td>
    </tr>
    <tr>
        <td><i>leggiero</i></td>
        <td>light, gentle</td>
    </tr>
    <tr>
        <td><i>maestoso</i></td>
        <td>majestic, stately</td>
    </tr>
    <tr>
        <td><i>pesante</i></td>
        <td>heavy</td>
    </tr>
    <tr>
        <td><i>scherzando</i></td>
        <td>playful</td>
    </tr>
    <tr>
        <td><i>sostenuto</i></td>
        <td>sustained</td>
    </tr>
</table>
<p>General expression markings are simply adjectives or phrases that describe the overall mood or temperament of
    a piece. These markings are conventionally in Italian, but they may appear in any language. In the chart are
    several common expression markings and their definitions.</p>
<p>Expression markings indicate the disposition of the piece, but they do not give specific instructions for how
    to communicate that mood. It is up to the performers to find opportunities for expression within the notated
    pitches and rhythms of the piece. This is one of the most subtle and challenging aspects of music
    performance. Although there are many works in the canon of art music that are performed over and over again,
    and each performance may be technically perfect (without wrong notes or other errors), they are nonetheless
    unique because of the variations in these nuances brought to the piece by each different performer or <a
        href="ensembles.html">ensemble</a>.</p>
<h2 class="clearfloat">Articulation</h2>
<p>When a composer wants to give specific directions about how individual notes should be attacked, connected,
    separated, or ended, she will use <b>articulation markings</b>. For short, separated notes, a composer will
    put <b><i>staccato</i></b> markings, which look like small dots above or below the noteheads. The opposite
    of staccato is <b><i>tenuto</i></b>, where the notes are more connected, separated only very slightly from
    each other. <i>Tenuto</i> is indicated by small dashes above or below the noteheads. A note to be played
    with an <b>accent</b> is played louder and more aggressively than the surrounding notes. Accents are
    indicated in notation by small ' &gt; ' symbols above or below the noteheads. For an even stronger accent, a
    composer may call for a <b><i>sforzando</i></b> (literally 'forcing' or 'compelling') articulation, which is
    indicated with its abbreviation, <i>sfz</i>.</p>
<table>
    <tr>
        <td><img src="../images/notation/articulation_staccato.png" alt="staccato markings" border="0"/></td>
        <td><img src="../images/notation/articulation_tenuto.png" alt="tenuto markings" border="0"/></td>
        <td><img src="../images/notation/articulation_accent.png" alt="accent markings" border="0"/></td>
        <td><img src="../images/notation/articulation_sfz.png" alt="sforzando markings" border="0"/></td>
    </tr>
    <tr>
        <td class="labeltop"><i>staccato</i></td>
        <td class="labeltop"><i>tenuto</i></td>
        <td class="labeltop">accent</td>
        <td class="labeltop"><i>sforzando</i></td>
    </tr>
</table>
<p>Another common type of articulation is the <b>slur</b>. Slurs are used when the notes should not be
    articulated separately, but should be connected as much as possible within the limits of the <a
        href="instrument_families.html">instrument</a>. In notation, slurs are indicated with curved lines that
    connect one notehead to the next, sometimes spanning across several notes.</p>
<table>
    <tr>
        <td><img src="../images/notation/slur.png" alt="slur between two notes of different pitches"
                 border="0"/></td>
        <td class="labeltop"></td>
        <td><img src="../images/notation/tie.png" alt="tie between two notes of the same pitch" border="0"/>
        </td>
    </tr>
    <tr>
        <td class="labeltop">slur between two note of different pitches</td>
        <td class="labeltop vmiddle">&ne;</td>
        <td class="labeltop">tie between two notes of the same pitch</td>
    </tr>
</table>
<div class="pic fltrt"><img src="../images/notation/quarters_tied.png" alt="quarters tied" class="absmiddle"/> =
    <img src="../images/notation/half.png" alt="half" class="absmiddle"/><br/>
    Two tied quarter notes equal a half note
</div>
<p>Slurs should not be confused with <b>ties</b>, which look very similar on the page. Slurs occur between
    <i>different</i>
    pitches and indicate how the pitches should be articulated. Ties, on the other hand, occur between pitches
    that are the <i>same</i>, and indicate that there should be no break between the two pitches: the durations
    of the two tied notes should be added together and combined into one. For example, a half note tied to a
    half note is a whole note. Ties are often used when the desired duration of a note overlaps two measures.
    See <a href="rhythm.html">Rhythm</a> for more about note durations.</p>
{% endblock %}
