{% extends "layout.nunjucks" %}
{% block content %}
<h1>Form in Popular Music</h1>
<p>Like all music, popular music relies on repetition, contrast, and variation. Repetition is especially
    critical in music that is designed to be memorable (like advertising jingles) or music that must be
    predictable (like dance music). Given the importance of repetition in popular music, it is no surprise that
    there are not many songs in the popular sphere that are through-composed (although a few examples were
    mentioned in <a href="beat.html">Form Archetypes</a>) or that follow a theme and variations form.</p>
<p>Popular music is dominated by <a href="genre.html">songs</a> with instrumental <a
    href="texture.html">accompaniment</a>.
    Over time, specialized terminology has developed to discuss song forms. Here are the important terms:</p>
<ul class="disc">
    <li><b>Verse</b> – same music, different lyrics</li>
    <li><b>Chorus</b> (Refrain) – same music, same words</li>
    <li><b>Bridge</b> – contrasting material that connects two sections (usually falls between choruses)</li>
    <li><b>Break</b> – instrumental interlude</li>
    <li><b>Introduction</b> (Intro) - opening material</li>
    <li><b>Coda</b> (Outro) - closing material</li>
</ul>
<h3>Verse-Chorus Form</h3>
<p><b>Verse-chorus form</b> is often used in classic rock of the '60s and '70s, but appears in a variety of
    popular sub-genres. Examples include <a href="http://youtu.be/IoMi8aWLDCs" target="_blank">"Get Back" by the
        Beatles (1969)</a>, <a href="http://youtu.be/kOfHOMpU4iE" target="_blank">"Proud Mary" by Creedence
        Clearwater Revival (1969)</a>, and the <a href="http://youtu.be/Czb2E1q7xtc" target="_blank">"Hotel
        California" by the Eagles (1977)</a>. In this form, verses simply alternate with choruses for as many
    repetitions as the composer (songwriter) chooses. Thus, it is actually a variation of <a href="beat.html">strophic
        form</a>.</p>
<table>
    <tr>
        <td colspan="2">A</td>
        <td colspan="2">A</td>
        <td colspan="2">A</td>
        <td>...</td>
    </tr>
    <tr>
        <td>Verse</td>
        <td>Chorus</td>
        <td>Verse</td>
        <td>Chorus</td>
        <td>Verse</td>
        <td>Chorus</td>
        <td>...</td>
    </tr>
</table>
<h3>32-bar Form</h3>
<p><b>32-bar form</b> was particularly popular in the American songs of Tin Pan Alley and movie musicals of the
    '30s and '40s. <a href="http://youtu.be/QhzbzwPNgXA?t=35s" target="_blank">"Somewhere Over the Rainbow" from
        <i>The Wizard of Oz</i> (1939)</a> is an example of this form. 32-bar form gets its name because each of
    the four sections typically contains 8 bars (measures), making a total of 32 bars for the whole song. There
    is no chorus in this form. Instead, there is a verse that is repeated (with different lyrics), which is
    followed by a contrasting bridge, and the piece is concluded with a final verse. This form is a variation on
    the <a href="beat.html">ternary archetype</a>.</p>
<table>
    <tr>
        <td>A</td>
        <td>A</td>
        <td>B</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Verse</td>
        <td>Verse</td>
        <td>Bridge</td>
        <td>Verse</td>
    </tr>
</table>
<h3>Verse-Chorus Form with Bridge</h3>
<p>Combining verse-chorus form and 32-bar form results in <b>verse-chorus form with a bridge</b>. This is the
    most common form in modern popular music. Examples include <a href="http://youtu.be/rePcHxFJIuU?t=27s"
                                                                  target="_blank">"I'll Follow You Into the
        Dark" by Death Cab for Cutie (2005)</a> and <a href="http://youtu.be/vtcanCeu9XM" target="_blank">"Poker
        Face" by Lady GaGa (2008)</a>. The final A section may have both a verse and chorus, but usually
    consists of only the chorus, which may be repeated several times.</p>
<table>
    <tr>
        <td colspan="2">A</td>
        <td colspan="2">A</td>
        <td>B</td>
        <td colspan="2">A <sup>1</sup></td>
    </tr>
    <tr>
        <td>Verse</td>
        <td>Chorus</td>
        <td>Verse</td>
        <td>Chorus</td>
        <td>Bridge</td>
        <td>Verse (often omitted)</td>
        <td>Chorus (often repeated)</td>
    </tr>
</table>
{% endblock %}
