{% extends "layout.nunjucks" %}
{% block content %}
<h1>Form in Art Music</h1>
<p>All of the <a href="beat.html">archetypal forms</a> (strophic, binary, ternary, rondo, and theme and
    variations) play a role in art music. <a href="http://youtu.be/t894eGoymio" target="_blank">Johannes
        Brahms's Lullaby (<i>Wiegenlied</i>)</a> is an example of strophic form. <a
        href="http://youtu.be/6aMIvZksW2c" target="_blank">Johann Sebastian Bach's Suites for Solo Cello</a>
    consist primarily of binary form dances. Minuets from the Classical period (which appear often in composite
    forms like symphonies and string quartets) are ternary. Ritornello form, the Baroque version of rondo form,
    was used in the fast movements of concertos by <a href="http://youtu.be/7E-RTI-H2oI" target="_blank">Antonio
        Vivaldi</a> and others. Theme and variations form can be seen in <a href="http://youtu.be/NO-ecxHEPqI"
                                                                            target="_blank">Wolfgang Amadeus
        Mozart's Variations on <i>Ah, vous dirai-je, maman</i></a> (better known to us as "Twinkle, Twinkle,
    Little Star") and the <a href="http://youtu.be/bhuyLPKV96g" target="_blank">second movement of Joseph
        Haydn's "Emperor" String Quartet</a>.
<p>Art music forms are also sometimes based on <b>themes</b> - a <a href="melody.html">motives, phrases, or
    melodies</a> that will be repeated, transformed, and varied over the course of the piece. <b>Fugues</b> and
    the <b>sonata form</b> are based on themes in this way.</p>
<h2>Fugue</h2>
<p>J.S. Bach is the composer most famous for writing fugues, and his instrument of choice was the organ. Bach
    often paired his organ fugues with introductions called 'toccatas' or 'preludes' that are through-composed
    and seem to imitate improvisations. These free introductions contrast with the fugues themselves, which
    contain complex and highly-ordered <a href="texture.html">imitative counterpoint (polyphony)</a>.</p>
<p>Each fugue begins with an <b>exposition</b>, which consists of several successive statements of the <b>subject
    (S)</b>, or primary contrapuntal theme. After the exposition, statements of the subject alternate with free
    sections called <b>episodes (E)</b>. Below is a video of Bach's "Little" Organ Fugue in G minor (BWV 578)
    and a chart showing the form of the piece. See if you can follow along with the high and low statements of
    the subject.</p>
<table>
    <thead>
    <tr>
        <th colspan="5" class="labeltop">Exposition</th>
    </tr>
    </thead>
    <tr>
        <td colspan="2">S</td>
        <td class="label" colspan="1"></td>
        <td class="label" colspan="1"></td>
        <td class="label" colspan="1"></td>
        <td rowspan="4">E</td>
        <td class="label" rowspan="2"></td>
        <td rowspan="4">E</td>
        <td class="label"></td>
        <td rowspan="4">E</td>
        <td class="label" rowspan="3"></td>
        <td rowspan="4">E</td>
        <td>S</td>
        <td rowspan="4">E</td>
        <td class="label" colspan="1" rowspan="3"></td>
    </tr>
    <tr>
        <td class="label" colspan="1"></td>
        <td colspan="2">S</td>
        <td class="label" colspan="1"></td>
        <td class="label" colspan="1"></td>
        <td>S</td>
        <td class="label" colspan="1" rowspan="3"></td>
    </tr>
    <tr>
        <td class="label" colspan="1"></td>
        <td class="label" colspan="1"></td>
        <td colspan="2">S</td>
        <td class="label" colspan="1"></td>
        <td>S</td>
        <td class="label" colspan="1" rowspan="2"></td>
    </tr>
    <tr>
        <td class="label" colspan="1"></td>
        <td class="label" colspan="1"></td>
        <td class="label" colspan="1"></td>
        <td colspan="2">S</td>
        <td class="label" colspan="1"></td>
        <td>S</td>
        <td>S</td>
    </tr>
</table>
<div class="video">
    <h1>Bach, "Little" Fugue in G Minor BWV 578</h1>
    <iframe class="noprint" width="640" height="390" src="http://www.youtube.com/embed/p1XD1MSES_8"
            frameborder="0" allowfullscreen></iframe>
    <div class="links show_when_narrow"><a href="http://youtu.be/p1XD1MSES_8" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<h2>Sonata Form</h2>
<p>Before discussing sonata form, it should be noted that <i>sonata form</i> is not the same thing as <i>a
    sonata</i>. A sonata is a particular <a href="genre.html">genre</a> (a solo piece often written for piano
    and originally intended for amateurs), whereas sonata <i>form</i> is a form that can be used in a variety of
    genres. Sometimes the term 'sonata-allegro form' is used to help make that distinction clear, but 'sonata
    form' is the preferred term.</p>
<p>Sonata form is a sophisticated form that plays a significant role in art music. Classical composers such as
    Mozart and Haydn were among the first to develop and use sonata form, and it quickly became the standard
    first-movement form for all composite forms (such as <a href="genre.html">symphonies, concertos, and string
        quartets</a>).</p>
<p>Sonata form is comprised of three major sections, where the third is a rough repetition or variation of the
    first. Sonata form gives these sections specific names: <b>exposition</b> (same term used for the beginning
    of a fugue), <b>development</b>, and <b>recapitulation</b>. Although this structure seems very similar to <a
        href="beat.html">ternary form</a>, when it comes to the <a href="beat.html">harmonic structure</a> of
    the piece, sonata form is really in two sections: the first part where I moves to V, and the second part
    where V moves back to I. This leads us to associate sonata form more closely with <a href="beat.html">binary
        form</a> than <a href="beat.html">ternary form</a>.</p>
<table>
    <tr>
        <td colspan="4">Exposition</td>
        <td rowspan="2">Development</td>
        <td colspan="4">Recapitulation</td>
    </tr>
    <tr>
        <td>First Theme</td>
        <td>Transition (bridge)</td>
        <td>Second Theme</td>
        <td>Closing Theme</td>
        <td>First Theme</td>
        <td>Transition (bridge)</td>
        <td>Second Theme</td>
        <td>Closing Theme</td>
    </tr>
    <tr>
        <td colspan="4">I &rarr; V</td>
        <td colspan="6">V &rarr; I</td>
    </tr>
</table>
<p>Although they are not included in the chart above, it is also quite common for pieces in sonata form to
    include both an <a href="form_archetypes.html">introduction</a> prior to the exposition, and a <a
        href="form_archetypes.html">coda</a> after the recapitulation.</p>
<h3>Exposition</h3>
<p>The exposition introduces the main themes. The <a href="melody.html">melodies</a> that comprise these themes
    are designed to be memorable so that audiences will recognize them when they return in the recapitulation.
    Within the exposition (and recapitulation) are transitional sub-sections that are designed to move the music
    forward into the next section. Transitions are full of <a href="melody.html">melodic</a> and <a
        href="harmony.html">harmonic</a> movement designed to build energy and momentum.</p>
<h3>Development</h3>
<p>The middle section, the development, plays with the themes introduced in the exposition and allows them to
    take the <a href="harmony.html">harmony</a> to new and unexpected places. The style of the development
    section is agitated and unstable harmonically. Developments often include <a href="texture.html">contrapuntal</a>
    material as well.</p>
<h3>Recapitualtion</h3>
<p>The recapitulation is not a literal repeat of the exposition, but it brings back the original themes in their
    original order. These restatements may be varied, but the recognizable themes nonetheless give listeners
    material that is more stable and familiar than that of the development. It is in the recapitulation that we
    begin to shift towards the ultimate resolution and conclusion of the piece. The actual conclusion of a piece
    in sonata form is usually accomplished by a <a href="form_archetypes.html">coda</a> inserted after the
    recapitulation.</p>
{% endblock %}
