{% extends "layout.nunjucks" %}
{% block content %}
<h1>Formal Archetypes</h1>
<p>All pieces with formal organization can be seen as expanded or modified versions of the basic paradigms
    below.</p>
<ul class="disc">
    <li><b>Strophic</b> - one section repeats over and over again: AAA etc.</li>
    <li><b>Binary</b> - two contrasting sections: AB</li>
    <ul class="circle">
        <li>sections may be repeated, resulting in AABB</li>
    </ul>
    <li><b>Ternary</b> - two contrasting sections, the first section returns: ABA</li>
    <ul class="circle">
        <li>sections may be repeated, resulting in AABBAA or AABBA</li>
        <li>this form is distinct from binary form because the A section returns after the B section</li>
    </ul>
    <li><b>Rondo</b> - one section returns over and over again (a <b>refrain</b>), alternating with contrasting
        sections
    </li>
    <ul class="circle">
        <li>there are several different versions of rondo form (ABACA, ABACABA, etc.), but it is always defined
            by many returns of the A section separated by contrasting material
        </li>
    </ul>
    <li><b>Theme and Variations</b> - same material returns but is slightly or substantially varied from its
        original form: AA<sup>1</sup>A<sup>2</sup>A<sup>3</sup> etc.
    </li>
    <ul class="circle">
        <li>variations are indicated with superscript numbers</li>
    </ul>
</ul>
<h2>Add-Ons: Introduction and Coda</h2>
<p>There are two optional sections that can be added onto any form: an <b>introduction</b> at the beginning, and
    a <b>coda</b> at the end. An introduction is designed to grab the attention of listeners and 'set the stage'
    for the body of the piece. A coda (from the Italian word for 'tail') is designed to bring a greater sense of
    closure to a piece than would be possible within the body of the form.</p>
<p>Adding an introduction and/or coda to a piece does not change its fundamental form - these sections are
    considered ancillary and simply provide a frame for the main substance of the piece.</p>
<h2>Composite Forms</h2>
<p>Sometimes a large work, like a symphony, consists of several distinct <b>movements</b> or smaller pieces that
    are related but distinct from each other. These large works are called <b>composite forms</b>. Each movement
    of a composite form may be ternary, binary, or any form, but it is seen as belonging to a larger meta-form.
    This is similar to the idea of a concept album in popular music. Each piece is distinct from the others, but
    the collection is conceived as a whole.</p>
<p>Examples of composite forms include <b><a href="genre.html">symphonies</a></b> (usually 4 movements), <b><a
    href="genre.html">concertos</a></b> (3 movements), <b><a href="genre.html">song cycles</a></b> (groups of
    several songs telling a story or sharing a theme), and <b><a href="genre.html">suites</a></b> (collections
    of stylized dance movements).</p>
<h2>No Form</h2>
<p>It is important to note that there are some pieces that do not fit into any of the forms discussed above.
    This occurs when pieces lack formal repetition and variation, and do not divide into two contrasting
    sections as in binary form. These pieces do not follow a fixed form, but are <b>through-composed</b>,
    meaning that the composer created new material for each section of the piece. Many examples of this can be
    found in Renaissance madrigals and Romantic art songs (Franz Schubert's <i>Lieder</i>, for example), but
    there are a few through-composed pieces in popular music as well. These include <a
        href="http://youtu.be/irp8CNj9qBI" target="_blank">Queen's "Bohemian Rhapsody"</a>, <a
        href="http://youtu.be/qE2Vdcv9Q_o" target="_blank">The Beatles' "Happiness is a Warm Gun"</a>, and <a
        href="http://youtu.be/rF8khJ7P4Wg" target="_blank">Radiohead's "Paranoid Android"</a>.</p>
{% endblock %}
