{% extends "layout.nunjucks" %}
{% block content %}
<h1>Vocal Genres</h1>
<p>A <b>song</b> is a piece of music that includes voices. 'Song' is a very general term that can encompass
    almost any vocal piece, from the music of medieval troubadours and trouvères to rock songs heard on the
    radio today. Songs can have just one voice or several, but usually a piece written for a large group of
    voices is described as <b>choral</b> (for a <b>chorus</b>).</p>
<p>Occasionally you will hear the term 'song without words,' which is an artful way to describe a piece of
    instrumental music that was inspired in some way by words or poetry. But, because it does not include
    voices, such a piece is not really a song at all.</p>
<h3>Opera, Oratorio, and Musical Theater</h3>
<p><b>Opera</b> and <b>oratorio</b> emerged as <a href="genre.html">genres</a> in the 17th century. They are both large-scale,
    multi-movement genres that include songs for soloists (<b>arias</b>), speech-like singing (<b>recitative</b>),
    songs for small groups (<b>ensembles</b>), and movements for the entire chorus (<b>choruses</b>). Although
    both genres have stories that are told through the music, watching an opera is more like watching a play
    (with sets, costumes, and props), whereas an oratorio is more like a concert. In an oratorio, a soloist will
    stand and perhaps walk to the center of the stage to sing his piece, and he will retake his seat when he is
    finished. In an opera, the performers act out their parts in a scene as they sing and (sometimes) dance.
    Oratorios tend to be more serious in their subject matter and many treat religious themes (such as Handel's
    <i>Messiah</i>), while operas treat humorous, amorous, and dramatic subjects (such as Wolfgang Amadeus
    Mozart's <i>The Marriage of Figaro</i>, Giacomo Puccini's <i>La Bho&egrave;me</i>, and Georges Bizet's <i>Carmen</i>).
</p>
<p><b>Musical theater</b> pieces (or <b>musicals</b>) are also musical plays like operas. However, musicals
    typically include spoken words whereas operas are sung throughout. Musicals also tend to be more like
    popular music than art music when it comes to composition and performance styles. Dance also plays a bigger
    role in musicals than in most operas.</p>
<p>Compare the clips below to see and hear the differences between these three genres:</p>
<div class="video">
    <h1>Opera Aria: "Sempre Libera" from Giuseppe Verdi's <i>La Traviata</i></h1>
    <div class="links"><a href="http://youtu.be/SSPK7Ayuw3s" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<div class="video">
    <h1>Musical Theater Song: "Fable" from Adam Guettel's <i>The Light in the Piazza</i></h1>
    <div class="links"><a href="http://youtu.be/0d9YbLqluts?t=54s" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<div class="video">
    <h1>Oratorio Aria: "Rejoice greatly, O daughter of Zion" from Handel's <i>Messiah</i></h1>
    <div class="links"><a href="http://youtu.be/ZuGSOkYWfDQ?t=50m42s" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
{% endblock %}
