{% extends "layout.nunjucks" %}
{% block content %}
<h1>Instrumental Genres</h1>
<h2>Symphony</h2>
<p><b>Symphonies</b> are multi-movement works for orchestra that first became important in the 18th century, the
    time of Wolfgang Amadeus Mozart and Joseph Haydn. Haydn wrote more than 100 symphonies, and Mozart wrote
    about 40 symphonies in his short life (he died at age 35). By the time Ludwig van Beethoven was writing
    symphonies the genre was seen as the pinnacle of music, much like an epic poem is considered the most grand
    and complex genre of poetry. Beethoven's symphonies were much longer and more elaborate than those of his
    predecessors, which is part of the reason that Beethoven wrote only nine of them.</p>
<div class="video">
    <h1>Symphony: Ludwig van Beethoven's 5th Symphony (Symphony No. 5 in C minor, Op. 67)</h1>
    <div class="links"><a href="http://youtu.be/ivvn04Zdxt4?t=47s" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<p>Symphonies typically have four movements, and the first is often in <a href="form_art.html">sonata form</a>.
    However, there are many variations on this basic structure. Hector Berlioz's <i>Symphonie fantastique</i> is
    a five-movement work for a large orchestra that tells the story of "various episodes in the life of an
    artist." When music is designed to tell a story (without the aid of actors on a stage, as in opera) it is
    called <b>program music</b>, making <i>Symphonie fantastique</i> a <b>program symphony</b>.</p>
<div class="video">
    <h1>Program Symphony: Hector Berlioz's <i>Symphonie fantastique</i></h1>
    <div class="links"><a href="http://youtu.be/g2Kky5BC9Uk" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<h2>Concerto</h2>
<p>The <b>concerto</b> emerged in the 17th century. The genre features a soloist or small solo group that is
    accompanied by an orchestra. Concertos provide an opportunity to display the abilities of a virtuosic
    soloist. Below is an example of a violin concerto by Antonio Vivaldi, who wrote more than 500 such concertos
    in his lifetime.</p>
<div class="video">
    <h1>Violin Concerto: "Winter" from Vivaldi's <i>Four Seasons</i> Violin Concertos (Concerto No. 4 in F
        minor, Op. 8, RV 297)</h1>
    <div class="links"><a href="http://youtu.be/9KxzuY0fJ-s" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<p>One of the most famous concertos of all time is Gershwin's <i>Rhapsody in Blue</i>, a piano concerto inspired
    the the jazz of the 1920s. Concertos traditionally have three movements, but a rhapsody is typically a
    single movement piece that flows freely between contrasting themes and moods, almost as if it were
    improvised. Thus, the <b>rhapsody concerto</b> is a sub-genre of the concerto.</p>
<div class="video">
    <h1>Piano Rhapsody Concerto: <i>Rhapsody in Blue</i> by George Gershwin</h1>
    <div class="links"><a href="http://youtu.be/xxb7yNG0DGc" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<h2>Suites</h2>
<p>A <b>suite</b> is a series of instrumental pieces played together as a set. One type of suite is a set of
    stylized dances (sometimes called a <i>suite de dances</i> or Baroque suite). Although they were originally
    used to accompany actual dancing, over time the pieces changed and became better suited to listening than to
    dancing. As you listen to a movement from J.S. Bach's Cello Suite No. 6, notice that it does not have a
    heavy beat or regular rhythms that you would expect to find in music designed for dancing.</p>
<div class="video">
    <h1>Suite Movement: Sarabande from Cello Suite No. 6 by J.S. Bach</h1>
    <div class="links"><a href="http://youtu.be/MX8L2b4_BzA" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<p>Another type of suite is a collection of pieces drawn from an opera, ballet, or other large-scale work. For
    example, there are two suites drawn from Georges Bizet's opera <i>Carmen</i> (arranged by Ernest Guiraud),
    Tchaikovsky selected eight dances from his ballet <i>The Nutcracker</i> to be performed as a suite, and
    Edvard Grieg made two suites out of the incidental music he composed for the play <i>Peer Gynt</i>. As in
    the case of <i>Peer Gynt</i>, often suites of this kind are more well-known than the original works from
    which they were drawn.</p>
<div class="video">
    <h1>Suites: <i>Peer Gynt</i> Suites Nos. 1 &amp; 2 by Edvard Grieg</h1>
    <div class="links"><a href="http://youtu.be/O2gDFJWhXp8" target="new"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
{% endblock %}
