{% extends "layout.nunjucks" %}
{% block content %}
<h1>Genre - The Difference Between a Symphony and a Song</h1>
<p>There are many genres in music just as there are many genres in film. In film these could be action, horror,
    science fiction, noir, romantic comedy, mystery, and so on. In music we find symphonies, concertos, songs,
    suites, operas, and many more. Some genres are designed for <a href="ensembles.html"><b>large ensembles</b></a>
    like orchestras and choruses, while others are for <a href="ensembles.html"><b>chamber ensembles</b></a>
    (small groups) or <b>soloists</b> (individual players). Although there are many genres, some play a larger
    role in western music than others. The lessons on <a href="genre_vocal.html">vocal</a> and <a
        href="genre_instrumental.html">instrumental genres</a> focus on the most common and influential genres
    in western music.</p>
<h2>Genre vs. Form</h2>
<p>It is sometimes difficult to distinguish between genre and <a href="form_principles.html">form</a>, but they
    are not the same thing. Form refers to the structure of the music on the page, while <b>genre</b> is based
    on the performing forces (<a href="voices.html">voices</a> and <a href="instrument_families.html">instruments</a>),
    the purpose or function of the piece (dance, hymn, opera, etc.), the style used, and even the cultural or
    historical context of the work.</p>
<p>For example, an <a href="genre_vocal.html"><b>aria</b></a> is a genre of solo song in <a
    href="genre_vocal.html"><b>opera</b></a> used to communicate the inner thoughts of a character (like a
    soliloquy in a play). Arias are often in <a href="form_archetypes.html">binary</a> or <a
        href="form_archetypes.html">ternary form</a> (also known as <i>da capo</i> form), but could be <a
        href="form_archetypes.html">strophic</a>, <a href="form_archetypes.html">through-composed</a>, or follow
    any other form. However, if the same piece were <i>not</i> part of an opera its genre would no longer be
    aria, it would be <a href="genre_vocal.html"><b>art song</b></a>.</p>
<h2>Style and Sub-Genres - Opera and Rock Opera</h2>
<p>Sub-genres are often defined in terms of style. For example, the genre of song has sub-genres such as rock
    song, polyphonic song, musical theater song, hymn, and so on. Another example is the relationship between
    opera and rock opera.
<p>An <b>opera</b> could be defined broadly as a theatrical presentation (a play) in which the characters' lines
    are sung rather than spoken. The vocal style used in historical opera reflects the fact that before
    electronic amplification voices had to be big and loud so they could be heard in a large concert hall over
    the orchestra used to accompany them. A <b>rock opera</b> is simply an opera (sung play) that uses the style
    and instruments of rock music. Examples of rock operas are <i>Rent</i> by Jonathan Larson, <i>Tommy</i> by
    The Who, and <i>Jesus Christ Superstar</i> by Andrew Lloyd Webber and Tim Rice. The term 'rock opera' is
    sometimes used as a synonym for 'concept album' (such as My Chemical Romance's <i>The Black Parade</i>, The
    Beatles' <i>Sgt. Pepper's Lonely Hearts Club Band</i>, or Pink Floyd's <i>The Wall</i>), but only those with
    a clear narrative (a storyline with characters and events) that is told completely in song (no spoken lines)
    should be called rock operas.</p>
{% endblock %}
