{% extends "layout.nunjucks" %}
{% block content %}
<h1>A First Look at Sheet Music - Principles of Music Notation</h1>
<a href="../resources/glossary.html"><img class="fltrt" src="../images/other/sheetmusic.jpg"></a>
<p>In music notation, sounds are represented by small circles (or ovals) called <a
    href="../resources/glossary.html"><b>notes</b></a>. Notes can be high or low, and they can be short or long.
    The higness or lowness of the note is its <a href="pitch.html"><b>pitch</b></a>. To represent high and low
    pitches, notes are placed high or low on the <a href="../resources/glossary.html"><b>staff</b></a>, the five
    horizontal lines going across the page.</p>
<p>To represent <a href="rhythm_notation.html"><b>durations</b></a>, the notes are written slightly differently
    on the page. For example, some notes are open ovals, while others are filled in. Graphic variations such as
    that are used to indicate longer and shorter notes.</p>
<p>Reading music is also similar to reading a book. Like reading a book, you start in the upper left corner and
    go left-to-right and top-to-bottom across the page. As you move horizontally through the music, you are also
    moving forward in time. To put it another way, sequential events are aligned left-to-right and events
    aligned vertically happen simultaneously. Notes played in a sequence form a <a
        href="melody.html"><b>melody</b></a> and notes played simultaneously form a <a
        href="harmony.html"><b>harmony</b></a>.
</p>
<h2>Summary</h2>
<ul class="disc">
    <li><a href="../resources/glossary.html"><b>Notes</b></a> are used to represent sounds</li>
    <li><a href="pitch.html"><b>Pitch</b></a> (highness and lowness of the sounds) is represented vertically,
        i.e. high pitches are placed high on the <b>staff</b> (five horizontal lines)
    </li>
    <li><a href="rhythm_notation.html"><b>Duration</b></a> is represented graphically, i.e. notes with different
        shapes have different durations
    </li>
    <li>Music is read left-to-right, top-to-bottom, just like a book</li>
    <li>The passage of <a href="rhythm.html"><b>time</b></a> is represented horizontally, i.e. moving
        horizontally across the page means moving forward in time
    </li>
    <li>A <a href="melody.html"><b>melody</b></a> is a sequence of notes</li>
    <li>A <a href="harmony.html"><b>harmony</b></a> is more than one note played simultaneously</li>
</ul>
{% endblock %}
