{% extends "layout.nunjucks" %}
{% block content %}
<h1>Pitch Classes and Octave Numbering</h1>
<div class="pic fltrt"><img src="../images/keyboard/keyboard.png" alt="piano keyboard" border="0"/></div>
<p>When we talk about pitches by their letter names (B, G&#x266F;, E&#x266D;) we talking in terms of <b>pitch
    class</b>. In western music, we repeat the same 12 pitch classes in each octave and we consider repetitions
    of these pitch classes to be equivalent (see <a href="intervals.html#octaves">octave equivalence</a>).</p>
<p>When it does not matter which C you are talking about, using pitch classes is useful. However, when it is
    important to know whether you are talking about a high C or a low C, pitch classes do not give us enough
    information.</p>
<p>In order to distinguish between a high C and a low C, several systems have been developed to </p>
{% endblock %}
