{% extends "layout.nunjucks" %}
{% block content %}
<h1>Rhythms in Notation</h1>
<p>In most music, rhythmic durations are measured and timed within the framework of a steady <a
    href="beat.html">beat</a>. To put it another way, rhythms are created by subdividing the beat into shorter
    durations or by adding them together into longer durations. All rhythmic values (durations) of notes and
    rests can be defined by their relationships to each other, as in the table below. In order to understand
    rhythms, we must first understand these relationships.</p>
<h2>Relative Durations</h2>
<p>In music notation, rhythms are indicated with variations in the way notes are shaped on the page. The
    durations are relative: a whole note is equal to the duration of two half notes, four quarter notes, eight
    eighth notes, and sixteen sixteenth notes.</p>
<table class="duration">
    <tr>
        <td class="label">Whole Note:</td>
        <td colspan="16"><img src="../images/notation/whole.png" alt="whole" width="26"/></td>
    </tr>
    <tr>
        <td class="label">Half Notes:</td>
        <td colspan="8"><img src="../images/notation/half.png" alt="half" width="26"/></td>
        <td colspan="8"><img src="../images/notation/half.png" alt="half" width="26"/></td>
    </tr>
    <tr>
        <td class="label">Quarter Notes:</td>
        <td colspan="4"><img src="../images/notation/quarter.png" alt="quarter" width="26"/></td>
        <td colspan="4"><img src="../images/notation/quarter.png" alt="quarter" width="26"/></td>
        <td colspan="4"><img src="../images/notation/quarter.png" alt="quarter" width="26"/></td>
        <td colspan="4"><img src="../images/notation/quarter.png" alt="quarter" width="26"/></td>
    </tr>
    <tr>
        <td class="label">Eighth Notes:</td>
        <td colspan="2"><img src="../images/notation/eighth.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth.png" alt="eighth" width="26"/></td>
    </tr>
    <tr>
        <td class="label">Sixteenth Notes:</td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth.png" alt="sixteenth" width="26"/></td>
    </tr>
</table>
<p>Each duration of note has a corresponding rest of the same length. Whole and half rests look almost the same,
    but a whole rest hangs below the center staff line, and a half rest sits on top of it.</p>
<div class="equals">
    <div><img src="../images/notation/whole.png" alt="whole note" class="absmiddle"/> = <img
        src="../images/notation/whole_rest.png" alt="whole rest" class="absmiddle"/></div>
    <div><img src="../images/notation/half.png" alt="half note" class="absmiddle"/> = <img
        src="../images/notation/half_rest.png" alt="half rest" class="absmiddle"/></div>
    <div><img src="../images/notation/quarter.png" alt="quarter note" class="absmiddle"/> = <img
        src="../images/notation/quarter_rest.png" alt="quarter rest" class="absmiddle"/></div>
    <div><img src="../images/notation/eighth.png" alt="eighth note" class="absmiddle"/> = <img
        src="../images/notation/eighth_rest.png" alt="eighth rest" class="absmiddle"/></div>
    <div><img src="../images/notation/sixteenth.png" alt="sixteenth note" class="absmiddle"/> = <img
        src="../images/notation/sixteenth_rest.png" alt="sixteenth rest" class="absmiddle"/></div>
</div>
<div class="clearfloat"></div>
<br/>
<table class="duration">
    <tr>
        <td class="label">Whole Rest:</td>
        <td colspan="16"><img src="../images/notation/whole_rest.png" alt="whole" width="26"/></td>
    </tr>
    <tr>
        <td class="label">Half Rests:</td>
        <td colspan="8"><img src="../images/notation/half_rest.png" alt="half" width="26"/></td>
        <td colspan="8"><img src="../images/notation/half_rest.png" alt="half" width="26"/></td>
    </tr>
    <tr>
        <td class="label">Quarter Rests:</td>
        <td colspan="4"><img src="../images/notation/quarter_rest.png" alt="quarter" width="26"/></td>
        <td colspan="4"><img src="../images/notation/quarter_rest.png" alt="quarter" width="26"/></td>
        <td colspan="4"><img src="../images/notation/quarter_rest.png" alt="quarter" width="26"/></td>
        <td colspan="4"><img src="../images/notation/quarter_rest.png" alt="quarter" width="26"/></td>
    </tr>
    <tr>
        <td class="label">Eighth Rests:</td>
        <td colspan="2"><img src="../images/notation/eighth_rest.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth_rest.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth_rest.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth_rest.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth_rest.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth_rest.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth_rest.png" alt="eighth" width="26"/></td>
        <td colspan="2"><img src="../images/notation/eighth_rest.png" alt="eighth" width="26"/></td>
    </tr>
    <tr>
        <td class="label">Sixteenth Rests:</td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
        <td><img src="../images/notation/sixteenth_rest.png" alt="sixteenth" width="26"/></td>
    </tr>
</table>
<h2>Beams and Flags</h2>
<p>The flags on eighth notes and sixteenth notes can be joined together into <b>beams</b>. This helps to keep
    fast rhythms from looking cluttered.</p>
<div class="pic"><img src="../images/notation/beaming.png" alt="eighth and sixteenth notes beamed together"/>
</div>
<h2>Dotted Rhythms</h2>
<p>Adding a <b>dot</b> to the right of the note head makes the note duration one and a half times (150%) of the
    starting value. For example, a dotted half note is equal to the duration of a half note plus a quarter note
    (a half note <b>tied</b> to a quarter note).</p>
<div class="pic"><img src="../images/notation/dotted_half.png" alt="dotted half" class="absmiddle"/> = <img
    src="../images/notation/half_plus_quarter.png" alt="half tied to quarter" class="absmiddle"/></div>
<p>Adding a dot to a rest makes the rest one and a half times (150%) of its original duration, just as it does
    with notes.</p>
<div align="center"><img src="../images/notation/dotted_eighth.png" alt="dotted eighth" class="absmiddle"/> =
    <img src="../images/notation/dotted_eighth_rest.png" alt="dotted eighth rest" class="absmiddle"/> = <img
        src="../images/notation/eighth_rest.png" alt="eighth rest" class="absmiddle"/> <img
        src="../images/notation/sixteenth_rest.png" alt="sixteenth rest" class="absmiddle"/></div>
<h2>Triplets</h2>
<p><b>Triplets</b> are indicated by placing a 3 (and sometimes a bracket) over or under a group of notes. The
    duration of three eighth-note triplets is equal to the duration of two standard eighth notes, or one quarter
    note. To put it another way, while eighth notes divide a quarter note into two parts, an eighth-note triplet
    divides a quarter note into three parts.</p>
<div align="center"><img src="../images/notation/triplet_tied.png" alt="eighth note triplets"
                         class="absmiddle"/> = <img src="../images/notation/eighths_tied.png" alt="eighths tied"
                                                    class="absmiddle"/> = <img
    src="../images/notation/quarter.png" alt="quarter" class="absmiddle"/></div>
<p>As another example, the duration of three quarter-note triplets is equal to the duration of two standard
    quarter notes, or one half note. Quarter notes divide a half note into two parts, while quarter-note
    triplets divide a half note into three parts.</p>
<div class="pic"><img src="../images/notation/triplet_quarters_tied.png" alt="quarter note triplets"
                      class="absmiddle"/> = <img src="../images/notation/quarters_tied.png" alt="quarters tied"
                                                 class="absmiddle"/> = <img src="../images/notation/half.png"
                                                                            alt="half" class="absmiddle"/></div>
<p>Rests can also be triplets just like notes. It is even common to see rests <i>and</i> notes within a group of
    triplets.</p>
<div align="center"><img src="../images/notation/triplet_eighth_rest.png" alt="eighth note triplets with rest"
                         class="absmiddle"/></div>
<p>Listen to the relative durations of notes here:</p>

<div id="rhythmic_values"><h1>Rhythmic Values</h1></div>
<script>
    $(document).ready(function () {
        scoreInsert('#rhythmic_values', '../scores/rhythmic_values.png', '../scores/rhythmic_values.mp3');
    });
</script>
{% endblock %}
