{% extends "layout.nunjucks" %}
{% block content %}
<h1>Major Scale</h1>
<p>The C major scale uses only the white keys of the piano, so it is a good place to start a discussion of the
    major scale. The major scale uses only whole and half steps between consecutive notes, and you can see the
    pattern of whole and half steps going from C up to C on the keyboard and in the notation below. This pattern
    is the same in <a href="transposition.html">all 12 major scales</a>.</p>
<div class="center"><img src="../images/keyboard/keyboard_w_intervals.png" alt="keyboard with intervals"></div>

<div id="CMajScale"><h1>Major Scale</h1>
    <h2>C major scale with note names and whole and half steps</h2></div>
<script>
    $(document).ready(function () {
        scoreInsert('#CMajScale', '../scores/CMajScale.png', '../scores/CMajScale.mp3');
    });
</script>
{% endblock %}
