{% extends "layout.nunjucks" %}
{% block content %}
<h1>Timbre</h1>
<p><b>Timbre</b> (<i>TAM-bur</i>) describes the quality of a sound. In terms of everyday life, it is timbre that
    allows us to recognize voices on the phone. By recognizing characteristics such as smoothness, nasalness, or
    tenseness in each person's voice, we instinctively identify familiar voices. When it comes to music, timbre
    allows us to tell the difference between two instruments that are playing the same pitch at the same volume.
    Timbre is affected by the size and shape of the instrument, the material from which it is made, and the
    playing techniques that are used to make sounds. Vocal timbre is mostly determined by a person's physical
    characteristics such as their gender, height, lung capacity, thickness and length of vocal chords, but can
    also be affected by age, illness, or lifestyle (smoking, for example).</p>
<h2 class="clearfloat">Aspects of Timbre</h2>
<p>Each type of instrument produces a distinctive pattern of loud and soft <a href="form_popular.html"><b>overtones</b></a>,
    or fractional vibrations. These patterns cause an instrument to sound pure (few overtones) or rich and
    complex (many overtones), thus contributing to the overall timbre.</p>
<p><b>Attack</b>, the onset of the sound, is another important aspect of timbre. On a string instrument, the
    sound begins when the bow comes into contact with a string and sets it vibrating. On a reed instrument, the
    player begins with her tongue touching the reed (preventing it from vibrating), then builds air pressure
    against the reed, and finally releases the reed so that it can vibrate freely as the air flows through it.
    These differing techniques cause distinctive patterns of sound at the attack. These patterns are so
    distinctive that they are critical to our ability to recognize different instruments. When the attack is
    removed from a sound and we hear only the sustained tone that follows, even trained musicians find it
    difficult to identify the instrument by ear.</p>
<p>The <b>attack-decay envelope</b> describes how quickly the sound builds to its maximum volume, fades, and
    ultimately stops. Most instruments do not reach their peak volume instantaneously, but over the course of
    several milliseconds. The decay of a sound is defined by how long it takes the sound to stop after the
    original force that caused the vibration has stopped. That is, if you pluck the string of a guitar or press
    a key on a piano and let it ring, how long does it take the sound to stop? The duration and nature of the
    attack-decay envelope also contributes to the overall timbre of an instrument.</p>
<p>The <b>purity</b> or impurity of a tone, or the amount and type of <b>noise</b> included in the sound, is
    another important aspect of timbre. Noise can be caused by breathing or air flow, bow scraping, key clicks,
    or fingers sliding on strings. These impurities, although often quite subtle, can also help listeners to
    identify instruments by ear.</p>
<h2>Range and Register</h2>
<div class="pic fltrt" style="width:300px;"><img src="../images/notation/ranges_instrumental.png"
                                                 alt="sounding ranges for various instruments" width="300"
                                                 border="0"/><br/>
    Sounding Ranges for Various Instruments<br/>
    (<i>8<sup>va</sup></i> means that the written note should be played one octave higher,
    <i>15<sup>ma</sup></i> means two octaves higher, and <i>15<sup>mb</sup></i> means two octaves lower)
</div>
<p>The <b>range</b> of an instrument or voice consists of the highest and lowest pitch it can reach and all the
    pitches in between. Here you can see the approximate ranges in notation for several different <a
        href="instrument_families.html">instruments</a> and the four standard <a href="voices.html">vocal
        parts</a>.</p>
<div class="pic fltlft" style="width:220px;"><img src="../images/notation/ranges_vocal.png"
                                                  alt="sounding ranges for standard voice parts" width="220"
                                                  border="0"/><br/>
    Sounding Ranges for Standard Voice Parts
</div>
<p>The ranges of individual instruments and voices are divided into smaller sections called <b>registers</b>.
    Sometimes these designations are generic, such as low, middle, or high register, but other times they have
    special names that come from the history of the instrument or the performance techniques used in that range.
</p>
<p>As instruments and voices move between these registers, there are subtle changes in timbre. The low range of
    the clarinet (the chalumeau register) is known for being rich, full, and dark, whereas the middle range
    (clarino register) is described as bright and clear and the high range (altissimo register) as piercing and
    intense. As the clarinet moves higher and higher within its range, the the lower harmonics become less
    prominent, which is one cause of these timbral variations. Every instrument and voice has similar variations
    in timbre within different registers.</p>
{% endblock %}
