{% extends "layout.nunjucks" %}
{% block content %}
<h1>Time Signatures</h1>
<p><a href="meter.html">Meter</a> is indicated in music notation with time signatures, which consist of two
    numbers: a top number, and a bottom number. These numbers establish the relationship between the <a
        href="beat.html">beat</a> and the written <a href="rhythm.html">rhythms</a>.</p>
<p>The bottom number of a time signature stands for a rhythmic value - <img src="../images/notation/2.png"
                                                                            alt="2" width="20"
                                                                            class="absmiddle"/> means half note,
    <img src="../images/notation/4.png" alt="4" width="20" class="absmiddle"/> means quarter note, <img
        src="../images/notation/8.png" alt="8" width="20" class="absmiddle"/> means eighth note, and so on (see
    <a href="chord_progressions.html">Rhythm</a> for more details). The top number indicates how many of this
    designated note will constitute a measure. That is, a <img src="../images/notation/2_4.png" alt="2/4"
                                                               height="30" class="absmiddle"/> measure contains
    two quarter notes, a <img src="../images/notation/2_2.png" alt="2/2" height="30" class="absmiddle"/> measure
    contains two half notes, and so on.</p>
<p>So, what is the relationship between these groupings and the beat? To answer this, first we must discuss <b>simple
    meter</b> and <b>compound meter</b>.</p>
<h3>Simple Meter</h3>
<p>In simple meter, the duration of note indicated by the lower number will almost always corresponds with the
    beat. For example, in <img src="../images/notation/3_4.png" alt="3/4" height="30" class="absmiddle"/> time
    there are three quarter notes in a measure, and the conductor (or metronome) will beat each of those three
    quarters. To put it another way, if the orchestra were to play only quarter notes, they would play one
    quarter note for each click on the metronome or beat of the conductor's baton.</p>
<p>As a second example, in <img src="../images/notation/2_2.png" alt="2/2" height="30" class="absmiddle"/> time,
    the conductor's beat would correspond with the half note instead, and there would be only two clicks per
    measure. In this case, if the orchestra were to play only quarter notes, they would play <i>two</i> for each
    beat. Thus, if the conductor were to beat exactly the same tempo (beats per minute) as he had for <img
        src="../images/notation/4_4.png" alt="4/4" height="30" class="absmiddle"/> time, the piece would
    essentially go twice as fast.</p>
<div id="simple"><h1>Simple Meter</h1></div>
<script>
    $(document).ready(function () {
        scoreInsert('#simple', '../scores/4_4_vs_2_2.png', '../scores/4_4_vs_2_2.mp3');
    });
</script>

<h3>Compound Meter</h3>
<p>In compound meter, things get a bit more complicated. In a measure of <img src="../images/notation/6_8.png"
                                                                              alt="6/8" height="30"
                                                                              class="absmiddle"/> (a common
    compound meter), there are six eighth notes. However, a conductor will almost always beat only <i>two</i>
    beats per measure instead of six. Thus, <img src="../images/notation/6_8.png" alt="6/8" height="30"
                                                 class="absmiddle"/> time is analogous to <img
        src="../images/notation/2_dottedquarter.png" alt="2/dotted-quarter" height="30" class="absmiddle"/>
    time. Perhaps <img src="../images/notation/6_8.png" alt="6/8" height="30" class="absmiddle"/> became the
    standard instead of <img src="../images/notation/2_dottedquarter.png" alt="2/dotted-quarter" height="30"
                             class="absmiddle"/> because there is no convenient numerical representation for a
    dotted quarter note. Whatever the case may be, this same convention applies to all compound meters. <img
        src="../images/notation/9_8.png" alt="9/8" height="30" class="absmiddle"/> is the same as <img
        src="../images/notation/3_dottedquarter.png" alt="3/dotted-quarter" height="30" class="absmiddle"/>,
    <img src="../images/notation/12_8.png" alt="12/8" height="30" class="absmiddle"/> is the same as <img
        src="../images/notation/4_dottedquarter.png" alt="4/dotted-quarter" height="30" class="absmiddle"/>, and
    so on.</p>
<p>You may have noticed that if <img src="../images/notation/dotted_quarter.png" alt="dotted quarter"
                                     height="30" class="absmiddle"/> (dotted quarter) is the unit of the beat,
    then each beat will contain <i>three</i> <img src="../images/notation/eighth.png" alt="eighth notes"
                                                  height="30" class="absmiddle"/> (eighth notes), making them
    feel like triplets. This is the fundamental difference between simple and compound meter: <b>in simple meter
        the division of the beat is duple (two equal parts)</b>, whereas <b>in compound meter the division of
        the beat is triple (three equal parts).</b></p>
<div id="compound"><h1>Compound Meter</h1></div>
<script>
    $(document).ready(function () {
        scoreInsert('#compound', '../scores/compound_meter.png', '../scores/compound_meter.mp3');
    });
</script>
{% endblock %}
