{% extends "layout.nunjucks" %}
{% block content %}
<h1>Music Notation Glossary</h1>
<h2>Staves</h2>
<ul class="definitions">
    <li><img alt="staff" src="../images/notation/staff.png"/><b>Staff</b> - the five horizontal lines between or on which
        notes are placed
    </li>
    <ul>
        <li><img alt="grand staff" src="../images/notation/grandstaff.png"/><b>Grand Staff</b> - two staves joined by a brace and
            used for a single performer; typically top staff uses treble clef and bottom staff uses bass clef,
            meaning that middle C falls on a ledger line between the two; standard for piano music
        </li>
    </ul>
</ul>
<div class="clearfloat"></div>
<h2>Clefs</h2>
<ul class="definitions">
    <li><img alt="clef" src="../images/notation/clef.png"/><b>Clef</b> - indicates the range of notes that can be
        represented on the staff lines; <b>middle C</b> is the pitch that falls roughly in the middle of a
        full-size piano, so we will use it to compare the highness or lowness of the range of pitches on a staff
    </li>
    <ul>
        <li><img alt="treble clef" src="../images/notation/trebleclef.png"/><b>Treble Clef ('G clef')</b> - for high instruments
            or voices; curves around the line to be used for the G above middle C
        </li>
        <li><img alt="bass clef" src="../images/notation/bassclef.png"/><b>Bass Clef ('F clef')</b> - for low instruments or
            voices; the dots surround the line to be used for the F below middle C
        </li>
        <li><img alt="alto clef" src="../images/notation/altoclef.png"/><b>Alto Clef ('C clef')</b> - for mid-range instruments
            or voices; the middle line is used for middle C
        </li>
    </ul>
</ul>
<div class="clearfloat"></div>
<h2>Notes and Rests</h2>
<ul class="definitions">
    <li><img alt="note" src="../images/notation/note.png"/><b>Note</b> - indicates both the pitch (highness/lowness) and
        rhythmic value (duration) of the note to be sounded
    </li>
    <ul>
        <li><img alt="pitch" src="../images/notation/pitch.png"/><b>Pitch</b> - indicated by the vertical position (height)
            of the note on the staff in conjunction with the clef; note names (such as A, C-sharp, or E-flat)
            are also used to denote pitch; see <a href="../lessons/pitch.html">Pitch</a></li>
        <li><img alt="rhythmic value" src="../images/notation/duration.png"/><b>Rhythmic Value</b> - the duration of a note is
            indicated by noteheads, stems, flags, and dots; see <a href="../lessons/rhythm.html">Rhythm</a></li>
        <ul>
            <li><img alt="note head" src="../images/notation/notehead.png"/><b>Note Head</b> - the oval part of the note, the
                position of which on the staff indicates the pitch; may be open (an outline), or filled in
                completely
            </li>
            <li><img alt="stem" src="../images/notation/stem.png"/><b>Stem</b> - the line that goes up on the right side of
                the notehead, or down at the left side of the notehead
            </li>
            <li><img alt="flags and beams" src="../images/notation/flag.png"/><b>Flags and Beams</b> - the curved lines that come off
                of the stems to indicate different rhythmic durations are flags; often succesive notes with
                flags are connected by horizontal <b>beams</b> as a replacement for individual flags
            </li>
            <li><img alt="dot" src="../images/notation/dot.png"/><b>Dot</b> - a small circle placed to the right of the
                notehead that increases the duration of the note to 150% of the original rhythmic value
            </li>
        </ul>
    </ul>
    <li><img alt="rest" src="../images/notation/rest.png"/><b>Rest</b> - indicates the duration of silence between notes,
        see <a href="../lessons/rhythm.html">Rhythms</a></li>
</ul>
<div class="clearfloat"></div>
<h2>Time Signatures and Measures</h2>
<ul class="definitions">
    <li><img alt="time signature" src="../images/notation/timesignature.png"/><b>Time Signature</b> - the top number indicates how
        many beats are grouped into a measure, and the bottom number represents the rhythmic duration that is
        counted as the beat (4 means quarter note, 2 means half note, and so on); see <a
            href="../lessons/rhythm.html">Rhythms</a> and <a href="../lessons/beat.html">Beat</a> and <a
            href="../lessons/meter.html">Meter</a></li>
    <li><img alt="measure (aka bar)" src="../images/notation/measure.png"/><b>Measure ('Bar')</b> - delineated by vertical barlines;
        measures mark groups of beats as defined by the time signature
    </li>
</ul>
<div class="clearfloat"></div>
<h2>Accidentals and Key Signatures</h2>
<ul class="definitions">
    <li><img alt="accidentals" src="../images/notation/keysignature.png"/><b>Accidentals</b> - sharps, flats, and natural signs;
        see <a href="../lessons/pitch.html">Pitch</a></li>
    <ul>
        <li><img alt="sharp" src="../images/notation/sharp.png"/><b>Sharp</b> - indicates that a given note or collection of
            notes is to be played a half-step <i>up</i></li>
        <ul>
            <li><img alt="double sharp" src="../images/notation/doublesharp.png"/><b>Double Sharp</b> - indicates that a given note
                or collection of notes is to be played 2 half-steps (a whole step) <i>up</i></li>
        </ul>
        <li><img alt="flat" src="../images/notation/flat.png"/><b>Flat</b> - indicates that a given note or collection of
            notes is to be played a half-step <i>down</i></li>
        <ul>
            <li><img alt="double flat" src="../images/notation/doubleflat.png"/><b>Double Flat</b> - indicates that a given note
                or collection of notes is to be played 2 half-steps (a whole step) <i>down</i></li>
        </ul>
        <li><img alt="natural" src="../images/notation/natural.png"/><b>Natural</b> - negates the effect of a sharp, double
            sharp, flat, or double flat
        </li>
    </ul>
    <li><img alt="key signature" src="../images/notation/keysignature.png"/><b>Key Signature</b> - indicates the collection of notes
        to be used in a piece or section; the placement of sharps and flats indicates which pitches should be
        sounded up or down a half-step, and thus indicates the scale to be used in a particular piece or
        section; see <a href="../lessons/scales.html">Scales</a> and <a href="../lessons/keys.html">Keys</a>
    </li>
</ul>
<!--
<h2>Widgets</h2>
<script type="text/javascript" id="WolframAlphaScript60b337e0a37f76bcaaf7881755f15770" src="http://www.wolframalpha.com/widget/widget.jsp?id=60b337e0a37f76bcaaf7881755f15770"></script>
<script type="text/javascript" id="WolframAlphaScript12ec56cbbe31763b62daf815a2e478b6" src="http://www.wolframalpha.com/widget/widget.jsp?id=12ec56cbbe31763b62daf815a2e478b6"></script>
-->
{% endblock %}
