{% extends "layout.nunjucks" %}
{% block content %}
<h1>External Links</h1>
<p>If you are interested in learning more about music theory, history, and performance, we recommend
  starting with these resources. Many of the books listed below are readily available for purchase
  online and may also be available in your local library.</p>
<h2>Online Music Academies</h2>
<a href="http://www.daveconservatoire.org/" target="_blank" rel="noopener noreferrer" title="Visit Dave Conservatoire">
  <div class="website">
    <h1>Dave Conservatoire</h1>
    <p>Dave Conservatoire is "a free online music school, aiming to provide a world-class music
      education for everyone." Modeled on Khan Academy, Dave Conservatoire has videos, exercises,
      and progress tracking on music basics, reading music, and ear training. The site also offers
      ABRSM test preparation for grades 1-3 (ABRSM, the exam board of the Royal Schools of Music, is
      a UK-based organization that provides music assessment in 93 countries).</p>
  </div>
</a>
<a href="https://www.khanacademy.org/humanities/music" target="_blank" rel="noopener noreferrer"
   title="Visit Khan Academy: Music">
  <div class="website">
    <h1>Khan Academy</h1>
    <p>Khan Academy offers self-paced learning in many subject areas with videos, exercises, and a
      "learning dashboard" that tracks your progress, all for free. In music, Khan Academy offers
      content on music basics, classical masterpieces, and the instruments of the orchestra.</p>
  </div>
</a>
<a href="http://muted.io/" target="_blank" rel="noopener noreferrer" title="Visit Muted.io">
  <div class="website">
    <h1>Muted.io</h1>
    <p>Muted.io is "a magical collection of interactive music theory tools & visual reference pages
      to learn music online for free." This charming site does not use music notation, but has a
      variety of interactive keyboards and other tools to illustrate and play with musical concepts.
      Useful for ear training and seeing/hearing examples on a keyboard.</p>
  </div>
</a>

<h2>General Music Resources</h2>
<a href="http://www.oxfordmusiconline.com/" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Oxford Music Online</h1>
    <p>Grove is considered the definitive music encyclopedia, and the additional Oxford resources
      are excellent as well. The website is available by subscription only, but both paper copies
      and website access are available at many libraries.</p>
  </div>
</a>
<a href="http://www.naxos.com/" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Naxos Streaming Music</h1>
    <p>Naxos is subscription-based service offering high-quality streaming music. Many libraries
      offer access to Naxos.</p>
  </div>
</a>
<a href="http://www.dolmetsch.com/index.htm" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Dolmetsch Music Theory and History Online</h1>
  </div>
</a>
<a href="http://www.naxos.com/education/music_categories.asp" target="_blank" rel="noopener noreferrer"
   title="Visit Website">
  <div class="website">
    <h1>Naxos Music Genres</h1>
  </div>
</a>
<h2>Musicology</h2>
<a href="http://a.co/b7IxQNg" target="_blank" rel="noopener noreferrer">
  <div class="book">
    <h1><i>The Encyclopedia of Music</i>, by Wendy Thompson and Max Wade-Matthews</h1>
    <p>An excellent introduction to musical instruments and composer biographies; concise, with lots
      of pictures.</p>
  </div>
</a>
<a href="https://smile.amazon.com/History-Western-Music-Tenth/dp/0393668177/" target="_blank" rel="noopener noreferrer">
  <div class="book">
    <h1><i>A History of Western Music</i> by J. Peter Burkholder, Donald Jay Grout, and Claude V.
      Palisca</h1>
    <p>One of the standard textbooks used in music history courses for undergraduate music
      majors.</p>
  </div>
</a>
<a href="https://digital.wwnorton.com/hwm10" target="_blank" rel="noopener noreferrer"
   title="Visit Website">
  <div class="website">
    <h1>Online Companion to <i>A History of Western Music</i>, 10th Edition</h1>
    <p>This website is the companion to <i>A History of Western Music</i> listed above. Purchasing a
      copy of the book also gets you a code to unlock the website. Alternatively, you can purchase
      access to the website directly.</p>
  </div>
</a>
<a href="http://a.co/48oz63H" target="_blank" rel="noopener noreferrer">
  <div class="book">
    <h1><i>Music in the Western World: A History in Documents</i>, selected and annotated by Piero
      Weiss and Richard Taruskin</h1>
    <p>Source readings in music history.</p>
  </div>
</a>
<a href="http://www.newyorker.com/magazine/2008/09/08/why-so-serious" target="_blank" rel="noopener noreferrer"
   title="Visit Website">
  <div class="website">
    <h1>"Why So Serious?" by Alex Ross</h1>
    <p>This article from <i>The New Yorker</i> considers the history of the classical concert.</p>
  </div>
</a>
<a href="http://maxhunter.missouristate.edu/indexsongtitle.aspx" target="_blank" rel="noopener noreferrer"
   title="Visit Website">
  <div class="website">
    <h1>Max Hunter Folk Song Collection at Missouri State University</h1>
    <p>Lyrics, notation, and audio recordings of American folk songs.</p>
  </div>
</a>
<h2>Physics of Sound</h2>
<a href="http://kellerphysics.com/acoustics/Lapp.pdf" target="_blank" rel="noopener noreferrer" title="View PDF">
  <div class="website">
    <h1>Physics of Music and Musical Instruments, Tufts University (PDF)</h1>
  </div>
</a>
<a href="http://www.phys.unsw.edu.au/music/" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Music Science at the University of New South Wales (Sydney, Australia)</h1>
  </div>
</a>
<a href="http://www.physicsclassroom.com/class/sound/" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>The Physics Classroom: Sound Waves and Music</h1>
  </div>
</a>
<a href="http://physics.info/music/" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>The Physics Hypertextbook: Music and Noise</h1>
  </div>
</a>
<a href="http://hyperphysics.phy-astr.gsu.edu/hbase/sound/soucon.html" target="_blank" rel="noopener noreferrer"
   title="Visit Website">
  <div class="website">
    <h1>Hyperphysics: Sound</h1>
  </div>
</a>
<h2>Instruments</h2>
<a href="http://www.naxos.com/education/music_instruments.asp" target="_blank" rel="noopener noreferrer"
   title="Visit Website">
  <div class="website">
    <h1>Naxos Musical Instruments Overview</h1>
  </div>
</a>
<a href="http://www.chordbook.com/guitarchords.php" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>ChordBook.com</h1>
    <p>Virtual guitar and chord guide.</p>
  </div>
</a>

<h2>Ear Training</h2>
<a href="http://www.good-ear.com" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Good Ear</h1>
  </div>
</a>
<a href="http://www.musictheory.net" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Ricci Adams's MusicTheory.net</h1>
  </div>
</a>
<a href="http://www.teoria.com" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Teoria</h1>
  </div>
</a>
<a href="http://www.contrib.andrew.cmu.edu/~johnito/aid/index.html" target="_blank" rel="noopener noreferrer"
   title="Visit Website">
  <div class="website">
    <h1>Aural Idiom Drill</h1>
  </div>
</a>
<a href="http://www.musicalmind.org" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>The Musical Mind</h1>
  </div>
</a>
<a href="http://www.ossmann.com/bigears/" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Big Ears</h1>
  </div>
</a>
<a href="http://www.wmich.edu/mus-theo/etg/et_guide.html" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Aural Skills Guide: Dictation, InTactus, Diktus</h1>
  </div>
</a>

<h2>Miscellaneous</h2>
<a href="http://www.majoringinmusic.com/" target="_blank" rel="noopener noreferrer" title="Visit Website">
  <div class="website">
    <h1>Majoring in Music</h1>
    <p>Informational site for high school students considering majoring in music in college and
      their parents.</p>
  </div>
</a>
<a href="https://healthlaw.hofstra.edu/music-law-resource-guide/" target="_blank" rel="noopener noreferrer"
   title="Visit Website">
  <div class="website">
    <h1>Hofstra University School of Law: Music Law Resource Guide</h1>
    <p>Discussion and links to resources concerning music copyrights and publishing.</p>
  </div>
</a>
{% endblock %}
