{% extends "layout.nunjucks" %}
{% block content %}
<h1>About Music Crash Courses</h1>
<div class="row">
    <div class="eight columns offset-by-two">
        <blockquote>
            <p>"I hold it equally impossible to know the parts without knowing the whole and to know the whole without
                knowing the parts in detail."</p>
            <p align="right">- Blaise Pascal (1623-1662), French mathematician, physicist, and philosopher</p>
        </blockquote>
    </div>
</div>
<p>Music Crash Courses aims to provide a wide variety of music lessons and resources for
    musicians of all levels. The lessons fall into two main categories: music theory and musicology.</p>
<p>Music theory is the study of the organization and underlying structures of music. Knowing about these
    stuctures helps composers and songwriters create new music, and helps performers to create the most
    compelling and historically informed performances. Theory also helps us to understand the history of music
    and to recognize the features that distinguish one style from another. Music theory is a <i>description</i>
    of musical practices, not a <i>prescription</i> of how music should be. Theory analyzes music that is
    performed and enjoyed, and it helps us understand what makes music powerful and meaningful.</p>
<p>Musicology is the study of the history and cultural aspects of music. This is a broad field that
    includes the study of musical instruments, musical genre, and music history, to name a few.
    Our topical essays in music history, which each span several historical periods, suggest connections
    between contrasting styles that may not be apparent simply from listening. These insights help
    us discover the meaning and purpose behind various musical works, adding new dimensions to
    our listening and performances.</p>
<p>We believe that the enjoyment of music is increased and deepened as our understanding of it is
    expanded, and we hope that the lessons here will spark your interest and enrich your musical
    experiences.</p>
<h2>Contributors</h2>
<p>This site was created by musicologist and software engineer <a href="http://www.siennamwood.com/" target="_blank" rel="noopener noreferrer">Sienna M. Wood</a>.
    Contributions to the music history topics (formerly Theme and Variations: New Perspectives in
    Music History) were also made by <a href="http://julianamadrone.com/" target="_blank" rel="noopener noreferrer">Juliana Madrone</a>.
    Thanks to Juliana and John Peterson for their advice and support.</p>
{% endblock %}
