{% extends "layout.nunjucks" %}
{% block content %}
<h1>About Music Crash Courses</h1>
<div class="floatingbox fltrt">
    <p>"I hold it equally impossible to know the parts without knowing the whole and to know the whole without
        knowing the parts in detail."</p>
    <p align="right">- Blaise Pascal (1623-1662), French mathematician, physicist, and philosopher</p>
</div>
<p>Music is a part of our lives more today than at any other time in history. We spend hours and hours listening
    to music while we work, travel, play games, watch movies, sit in waiting rooms, and otherwise go about our
    daily lives. If you have ever wondered how music is created, organized, and performed, then this is the
    website for you!</p>
<!--<p><a href="lessons/index.html">Lessons</a> cover individual topics such as <a href="lessons/instrument_families.html">musical instrument families</a>, <a href="lessons/scales_major.html">major</a> and <a href="lessons/scales_minor.html">minor scales</a>, or <a href="lessons/form_popular.html">form in popular</a> and <a href="lessons/form_art.html">art music</a> and will allow both musicians and non-musicians to broaden and deepen their understanding of music. <a href="courses/index.html">Courses</a> are collections of lessons designed to build your skills in a broader area.</p>-->
<a name="why_theory" id="why_theory"></a>
<h2>What is music theory and why should I learn about it?</h2>
<p>Music theory is the study of the organization and underlying structures of music. Knowing about these
    stuctures helps composers and songwriters create new music, and helps performers to create the most
    compelling and historically informed performances. Theory also helps us to understand the history of music
    and to recognize the features that distinguish one style from another. Music theory is a <i>description</i>
    of musical practices, not a <i>prescription</i> of how music should be. Theory analyzes music that is
    performed and enjoyed, and it helps us understand what makes music powerful and meaningful.</p>
<a name="author" id="author"></a>
<h2>About the Author</h2>
<p>For information about Sienna M. Wood, the author and programmer of this website, <a
    href="http://www.siennamwood.com/" target="_blank">visit her website</a>. Thanks to <a
    href="http://julianamadrone.com/" target="_blank">Juliana Madrone</a> and John Peterson for their help and
    support.</p>
{% endblock %}
