{% extends "layout.nunjucks" %}
{% block content %}
<h1>Contact</h1>
<p>Please use this form to make comments or report problems. Thanks!</p>

<form id="contact_form" name="contact_form" action="http://musiccrashcourses.com/cgi-sys/FormMail.cgi"
      enctype="multipart/form-data" method="post">
    <input type="hidden" name="recipient" value="contact@siennamwood.com"/>
    <input type="hidden" name="redirect" value="http://www.musiccrashcourses.com/thanks.html"/>
    <input type="hidden" name="subject" value="Message from Music Crash Courses Website"/>
    <div class="row">
        <div class="six columns">
            <label for="name">*Name:</label>
            <input class="text u-full-width" name="name" type="text" id="name" tabindex="1" size="15" required/>
        </div>
        <div class="six columns">
            <label for="email">*Email:</label>
            <input class="text u-full-width" name="email" type="email" id="email" tabindex="2" size="15" required/>
        </div>
    </div>
    <label for="message">Message:</label>
    <textarea class="u-full-width" name="message" id="message" cols="40" rows="7" tabindex="3"></textarea>
    <!-- TODO: implement reCaptcha -->
    <!--
    <div class="center">
        <div class="g-recaptcha center" data-sitekey="6LcimyITAAAAAPgD3FUusssav37fnCc8yO5uhYI7" tabindex="4"></div>
    </div>
    -->
    <div class="center">
        <input class="center" type="submit" name="submit" id="submit"
               value="Click Here to Submit Your Message"
               tabindex="4"/>
    </div>
</form>
<script>
    $("#contact_form").validate();
</script>
<p>If the submission button does not seem to be working, please verify that you have filled in your name and
    email address at the top of the form and try again. Thank you!</p>
{% endblock %}
