{% extends "layout.nunjucks" %}
{% block content %}
<div class="stripe">Lessons and Resources for Beginners and Musicians of All Kinds</div>
<h1>Lessons</h1>
<h2>Theory - Reading and Understanding Music</h2>
<p class="placeholder">Please see the navigation menu above for a complete list of lessons.</p>
<div class="row">
    <div class="six columns" id="theory_list1"></div>
    <div class="six columns" id="theory_list2"></div>
    <div class="clearfix"></div>
</div>
<h2>Musicology - Musical Instruments, Culture, & History</h2>
<p class="placeholder">Please see the navigation menu above for a complete list of lessons.</p>
<div class="row">
    <div class="six columns" id="history_list1"></div>
    <div class="six columns" id="history_list2"></div>
    <div class="clearfix"></div>
</div>
<h1>Resources</h1>
<div class="pic fltrt hide_when_narrow noprint">
    <img src="/images/other/question_mark.png" alt="question mark" width="150" />
</div>
<p class="placeholder">Please see the navigation menu above for a complete list of resources.</p>
<div id="resources_list"></div>
<script>
    // Copy links from navigation as content of page
    clonelist("#pitch", "#theory_list1");
    clonelist("#time", "#theory_list2");
    clonelist("#form", "#theory_list2");
    clonelist("#exp", "#theory_list2");
    clonelist("#advanced", "#theory_list2");
    clonelist("#inst", "#history_list1");
    clonelist("#genre", "#history_list1");
    clonelist("#history", "#history_list2");
    clonelist("#resources", "#resources_list");

    // Hide .placeholder items
    $(document).find("p.placeholder").each(function () {
        $(this).addClass("hide_me");
    })
</script>
{% endblock %}
