{% extends "layout.nunjucks" %}
{% block content %}
<h1>Beat</h1>
<p>The organization of time in music is just as fundamental (if not more so) than the system of <a
    href="pitch.html">pitches</a>. <a href="melody.html">Melodies</a> are shaped just as much by their rhythms
    as they are by their melodic contours, and <a href="harmony.html">harmony</a> depends on certain pitches
    being played synchronously. Many percussion <a href="instrument_families.html">instruments</a> don't produce
    definite pitches at all, making them solely rhythmic instruments. The foundation of all rhythm is the beat.
</p>
<p>The steady pulse, or <b>beat</b>, provides the framework for all rhythm in music. We dance to the beat, a
    conductor keeps the beat for an orchestra, and a metronome clicks the beat. The vast majority of music has a
    beat, even if sometimes it is not easy to follow.</p>
<h2>Tempo</h2>
<div class="fltrt">
    <table>
        <tr>
            <td class="labeltop">Tempo Marking</td>
            <td class="labeltop">Description</td>
            <td class="labeltop">BPM</td>
        </tr>
        <tr>
            <td><i>grave</i></td>
            <td>solemn (very, very slow)</td>
            <td>~ 40</td>
        </tr>
        <tr>
            <td><i>largo</i></td>
            <td>broad (very slow)</td>
            <td>~ 50</td>
        </tr>
        <tr>
            <td><i>adagio</i></td>
            <td>quite slow</td>
            <td>60-70</td>
        </tr>
        <tr>
            <td><i>andante</i></td>
            <td>walking pace</td>
            <td>80-100</td>
        </tr>
        <tr>
            <td><i>moderato</i></td>
            <td>moderate</td>
            <td>~ 110</td>
        </tr>
        <tr>
            <td><i>allegro</i></td>
            <td>fast</td>
            <td>120-160</td>
        </tr>
        <tr>
            <td><i>vivace</i></td>
            <td>lively</td>
            <td>~ 140</td>
        </tr>
        <tr>
            <td><i>presto</i></td>
            <td>very fast</td>
            <td>~ 180</td>
        </tr>
    </table>
</div>
<p>The tempo is the speed of the beat. A tempo may be designated with general terms such as "fast" or "slow," or
    it can be measured precisely in <b>beats per minute (bpm)</b>. The second-hand of a clock ticks at 60bpm,
    which is a good reference point.</p>
<p>It is common to find tempo markings in Italian (very fast: <i>presto</i>, slow: <i>lento</i>) or another
    language such as French or German. Although some terms can be understood by consulting a standard bilingual
    dictionary, other terms are conventional rather than literal. For example, <i>allegro</i> literally means
    'happy' or 'cheerful' in Italian, but in music <i>allegro</i> means fast.</p>
<h2 class="clearfloat">Rubato - "Stealing" Time</h2>
<p>Measuring tempo in beats per minute can seem very rigid, but sometimes a soloist is permitted to slow down
    and speed up the tempo for <a href="expression.html">expressive</a> purposes. This is called <b>rubato</b>
    or <b>tempo rubato</b> from the Italian for 'stolen time'. This often happens in a <b>cadenza</b> - an
    extended solo section in a <b><a href="genre.html">concerto</a></b>. For an example of a cadenza performed
    with rubato, <a href="http://youtu.be/UGldgW6mDnY?t=27m00s" target="new">listen to Mozart's Piano Concert
        No. 20 in D minor (K.466) with a cadenza written by Beethoven</a> (playback will begin just a few
    seconds before the cadenza).</p>
{% endblock %}
