{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <li><a href="#masses">Borrowing in Renaissance Masses</a></li>
    <ul>
      <li><i>L'homme arm&eacute;</i></li>
      <li>Victoria's <i>O magnum mysterium</i></li>
    </ul>
    <!--
    <li><a href="#self_borrowing">Self-Borrowing</a></li>
    <ul>
      <li>Dowland's "Flow My Tears"</li>
      <li>Handel's <i>Messiah</i></li>
    </ul>
    -->
    <li><a href="#dies_irae"><i>Dies irae</i>: Expressive and Symbolic Borrowing</a></li>
    <ul>
      <li>Berlioz's <i>Symphonie Fantastique</i></li>
      <li>Liszt's <i>Totentanz</i></li>
    </ul>
    <li><a href="#paganini">Paganini's Caprice No. 24: Borrowing a Theme for Variations</a></li>
    <ul>
      <li>Liszt's <i>Six Grandes Etudes de Paganini</i>, No. 6</li>
      <li>Brahms's <i>Variations on a Theme by Paganini</i>, Op. 35</li>
      <li>Rachmaninoff's <i>Rhapsody on a Theme by Paganini</i>, Op. 43</li>
      <li>No. 24 in Popular Music</li>
      <ul>
        <li>Benny Goodman's <i>Caprice XXIV</i></li>
        <li>Andrew Lloyd Webber's <i>Variations</i></li>
      </ul>
    </ul>
    <li><a href="#rock">Rhythm and Blues into Rock 'n' Roll</a></li>
  </ul>
</div>
<h1>Musical Borrowing and Appropriation</h1>
<p>It is often said that there is nothing new under the sun, and even a great innovator like
  Shakespeare was emulating his predecessors and contemporaries. The same can be said of music.
  Composers and performers are constantly emulating one another, trying to forge something new from
  the best elements of pieces that have already been created and performed.</p>
<p>Every genre of music engages in borrowing to some degree. The jazz repertoire includes <b>standards</b>
  that are performed over and over by many different kinds of jazz ensembles. Improvised jazz solos
  often find their way towards familiar melodies, too. Some genres, such as <i>musique concr&egrave;te</i>,
  collage art, and even some types of hip-hop, are based almost entirely on borrowing preexisting
  material and combining it in a new way (for more on <i>musique concr&egrave;te</i> and sampling,
  see <a href="experimental.html">Extended Techniques and Experimental Music</a>). In this section,
  we will discuss the ways that these genres and others engage in musical borrowing and sometimes
  cross the line into hostile appropriation.</p>
<a name="masses" id="masses"></a>
<h2>Borrowing in Renaissance Masses</h2>
<p>In the Medieval and Renaissance periods, music for religious services was controlled and limited
  to a specific repertoire. In order to skirt these restrictions, composers used existing <a
          href="words.html#medieval_chant">plainchant</a> as the basis for new compositions. In the
  absence of copyright laws, composers also sometimes borrowed directly from each other. Far from
  being an offense, this type of borrowing was often meant as an homage to the original and a
  compliment to its composer.</p>
<p>The <a href="words.html#medieval_chant">Ordinary of the Mass</a> became a favorite genre for
  musical borrowing. Composers would write new polyphonic masses based on preexisting monophonic
  plainchant, on a melody from a secular source, or they would borrow straight from other polyphonic
  pieces. The practice was so prevalent that historians have developed specific terminology to
  describe these different types of masses:</p>
<ul class="disc">
  <li>Plainchant Mass – each movement based on different preexisting plainchant for that text (ex.
    Kyrie on a Kyrie chant)
  </li>
  <li><i>Cantus Firmus</i> (meaning 'fixed song') or Tenor Mass – same melody used in tenor part for
    all movements
  </li>
  <li>Paraphrase Mass – all movements based on one melody, which is elaborated (or paraphrased) in
    most or all voices
  </li>
  <li>Motto Mass – same beginning motive in one or all voices for all movements</li>
  <li>Imitation Mass – borrowing more than one voice from a secular source; mass named after secular
    source (ex. <i>Missa l'homme arm&eacute;</i>)
  </li>
</ul>
<p>Although the texts are fixed in settings of the Ordinary of the Mass, there are many examples of
  poetry being reset and themes being borrowed and reused by Renaissance composers as well. For a
  combination of poetic, melodic, and thematic borrowing, investigate the use of <i>Susanne un
    jour</i> in Renaissance compositions.</p>
<h3><i>L'homme arm&eacute;</i></h3>
<p>One particularly striking example of borrowing in the Renaissance Mass is <i>L'homme
  arm&eacute;</i> ('the armed man'). This melody, whose origins are uncertain, became the <i>cantus
  firmus</i> for more than 40 masses by more than 20 composers in the 15<sup>th</sup>,
  16<sup>th</sup>, and 17<sup>th</sup> centuries. It appears that these composers took on the melody
  as a kind of puzzle or compositional challenge, competing with each other to write the best mass
  using <i>L'homme arm&eacute;</i> as the tenor line for each movement. Some settings of <i>L'homme
    arm&eacute;</i> have appeared in the 20<sup>th</sup> and 21<sup>st</sup> centuries, but the
  piece has not captured the imagination of modern composers as it did in earlier centuries.</p>
<p>Listen to the melody of <i>L'homme arm&eacute;</i> a few times to become familiar with it. Then,
  follow the links below to listen to a few of the masses based on the melody. All three mass
  examples are from the same section of the mass, the <i>Kyrie</i>, therefore they all share the
  same brief text that is repeated three times: <i>Kyrie eleison, Christe eleison, Kyrie eleison</i>
  ('Lord have mercy, Christ have mercy, Lord have mercy'). It may be very difficult to hear the <i>L'homme
    arm&eacute;</i> melody in these examples, but notice how each setting is unique despite having
  the same text and the same melody in the tenor part.</p>
<div id="homme-arme-notation">
  <h1>Anonymous, <i>L'homme arm&eacute;</i>, original melody</h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#homme-arme-notation', '../scores/l_homme_arme.png', '../scores/l_homme_arme.mp3');
    });
  </script>
</div>
<div class="listen" id="arme-ockeghem">
  <h1>Jean de (Johannes) Ockeghem (ca. 1410-1497), <i>Missa l'homme arm&eacute;: Kyrie</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#arme-ockeghem', 'GQgcpzQTKfI');
    });
  </script>
</div>
<div class="listen" id="arme-josquin">
  <h1>Josquin des Prez (ca. 1450/55-1521), <i>Missa l'homme arm&eacute;: Kyrie</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#arme-josquin', 'Gx40sTJfjRo');
    });
  </script>
</div>
<div class="listen" id="arme-palestrina">
  <h1>Giovanni Pierluigi da Palestrina (1525/6-1594), <i>Missa l'homme arm&eacute;: Kyrie</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#arme-palestrina', 'YIQXVD0abqE');
    });
  </script>
</div>
<h3>Victoria's <i>O magnum mysterium</i></h3>
<p>Tom&aacute;s Luis de Victoria (1548-1611) is another Renaissance composer with a penchant for
  borrowing music. Victoria originally borrowed the Medieval chant <i>O magnum mysterium</i> for a
  <b>motet</b>. The term 'motet' is used for a variety of styles, but during this period motets had
  Latin texts and a polyphonic textures, making them like sacred madrigals. Victoria's motet on <i>O
    magnum mysterium</i> has become a staple of choral literature for its beauty and clarity.</p>
<div class="listen" id="mysterium-motet">
  <h1>Tom&aacute;s Luis de Victoria (1548-1611), Motet: <i>O magnum mysterium</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#mysterium-motet', 'eGwsaBQVhFg');
    });
  </script>
</div>
<p>We have already established that it was a common practice to borrow chant melodies for other
  compositions, but Victoria also borrowed his own motets as the basis for masses. This is an
  example of <b>self-borrowing</b>. See if you can hear the similarities between the original motet
  and the <i>Kyrie</i> of the mass below.</p>
<div class="listen" id="mysterium-kyrie">
  <h1>Tom&aacute;s Luis de Victoria (1548-1611), <i>Missa O magnum mysterium: Kyrie</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#mysterium-kyrie', 'NGyWrtWgHjA');
    });
  </script>
</div>
<!--
<a name="self_borrowing" id="self_borrowing"></a>
<h2>Self-Borrowing</h2>
<p>When a composer is particularly pleased by something he or she has written, it is not uncommon
for the same melody or harmony to appear in other compositions. This tendency to return to favorite
material can be subtle and can help listeners determine the composer of a piece by ear.  Other times
composers are more bold and borrow large sections of material from one composition for use in another.</p>
<h3>Dowland's "Flow My Tears"</h3>
<p class="upcoming">Discussion of Dowland's "Flow My Tears" in <i>Lachrimae</i></p>
<h3>Handel's <i>Messiah</i></h3>
<p class="upcoming">Discussion of Self-Borrowing in Handel's <i>Messiah</i></p>
-->
<a name="dies_irae" id="dies_irae"></a>
<h2><i>Dies irae</i>: Expressive and Symbolic Borrowing</h2>
<p>We have already encountered the <a href="words.html#medieval_chant"><i>Dies irae</i> chant in our
  discussion on Music and Words</a>. <i>Dies irae</i> has captured the imagination of many composers
  and has been borrowed many times. Unlike <i>L'homme arm&eacute;</i>, which was treated as a
  compositional challenge, <i>Dies irae</i> has been borrowed for its connotations with the Requiem
  Mass and its ability to evoke the ideas of death and damnation. Here is a short list of pieces
  that use <i>Dies irae</i> in this way:</p>
<ul class="disc">
  <li>Hector Berlioz, <i>Symphonie Fantastique</i> (1830)</li>
  <li>Franz Liszt, <i>Totentanz</i> (1859)</li>
  <li>Modest Mussorgsky, <i>St. John's Night on Bald Mountain</i> (1867)</li>
  <li>Camille Saint-Saëns, <i>Danse Macabre</i>, op. 40 (1874)</li>
  <li>Modest Mussorgsky, <i>Trepak</i> from <i>Songs and Dances of Death</i> (1875)</li>
  <li>Richard Strauss, <i>Till Eulenspiegel</i> (1894)</li>
  <li>Danny Elfman, <i>The Nightmare Before Christmas</i> (1993)</li>
  <li>and many more...</li>
</ul>
<p>Let's begin by listening to <i>Dies irae</i> again so it is fresh in your mind. Then we will
  discuss and listen to a couple of the pieces that borrow the <i>Dies irae</i> melody.</p>
<div class="listen" id="dies-irae">
  <h1>Requiem Mass, Sequence: <i>Dies irae</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#dies-irae', 'O8hSLgYJr3k');
    });
  </script>
  <!--Alternative: https://www.youtube.com/watch?v=lpz4yA9ArOQ -->
</div>
<h3>Berlioz's <i>Symphonie Fantastique</i></h3>
<p>French composer Hector Berlioz (1803-1869)
  <!--studied to become doctor, following his father's example, but he found himself unhappy in that profession and vowed to become "no doctor or apothecary but a great composer." His disappointed father cut off his living expenses, and Berlioz turned to music criticism to make a living. Most composers gave piano lessons to make ends meet, but Berlioz -->
  is one of the few famous composers who never became fluent at the keyboard. Instead, Berlioz
  became fascinated with all the other instruments of the orchestra and devoted his efforts towards
  coaxing new sounds out of the standard instruments by using them in different combinations, asking
  performers to play in extremely high or low ranges, or having them play their instruments in
  non-standard ways. Berlioz is widely considered a master of <b>orchestration</b>, the art and
  practice of turning a musical idea into a full score for an orchestra and selecting which
  instruments should play which parts. The words 'scoring' and 'instrumentation' also refer to this
  practice.</p>
<p>Berlioz's <i>Symphonie fantastique</i> is a <b>programmatic (or program) symphony</b>, meaning
  that it has a form similar to a traditional symphony, but that it also tells a clear story. The
  main character in the narrative is suffering from unrequited love, which parallels Berlioz own
  infatuation for the Irish actress Harriet Smithson at the time that this piece was composed. In
  the fourth movement, "March to the Scaffold," the rejected and depressed young man sees a vision
  of his own execution, and the fifth and final movement is his vision of a tormented afterlife,
  "Dream of a Witches' Sabbath." It is in this dark movement that we hear <i>Dies irae</i>.</p>
<div class="listen" id="fantastique-sabbath">
  <h1>Hector Berlioz, <i>Symphonie Fantastique</i>, V. Songe d'une nuit de sabbat ('Dream of a
    Witches' Sabbath')</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#fantastique-sabbath', 'jyKjT2llIZU');
    });
  </script>
</div>
<p>Listen for <i>Dies irae</i> beginning at 3:23. It can be heard in fragments again at 7:02, and at
  8:08 it appears strongly under the melody known as the witches' dance. Promptly following this
  section (at 8:37) is a scratching or crackling sound used to imitate the witches' voices and
  laughter. This sound is produced when the violins use the wooden back of their bow to bounce and
  scratch against the strings, a technique called <b><i>col legno</i></b> ('with the wood'). This is
  an example of a non-standard technique that Berlioz used to produce expressive and innovative
  orchestrations. <i>Dies irae</i> returns the final time at 9:17.</p>
<h3>Liszt's <i>Totentanz</i></h3>
<p>By the time he was twelve, Franz Liszt (1811-1886) was considered a piano prodigy. He was one of
  the greatest virtuosos of his time and was also an innovator both in terms of piano technique and
  in developing the piano <b>idiom</b>, composing for the instrument in a way that captures its
  strengths and avoids its weaknesses. Liszt also coined the term "<b>recital</b>" for his solo
  concerts, and established the tradition of playing the entire program from memory. He is also
  credited with establishing the genre of the <b>symphonic poem</b>, a one-movement piece for
  orchestra that is based on a story or poem.</p>
<p><i>Totentanz</i> ('Dance of Death'), written in 1839, is a one-movement <b>concerto</b> for
  piano, which means that it is for a piano soloist accompanied by an orchestra. It takes the form
  of theme and variations on <i>Dies irae</i>, and consists of an introduction and coda framing six
  variations and two <b>cadenzas</b>. A cadenza is an unaccompanied section of a concerto that is
  designed to show off the technical abilities of the soloist. Liszt heard Berlioz's <i>Symphonie
    fantastique</i> a few years prior to his composition of this piece, so it is possible that it
  sparked his interest in <i>Dies irae</i> and influenced the manner in which he did so.</p>
<p>As you listen, follow the <i>Dies irae</i> melody as it passes through the orchestra and
  transforms into new variations. In the video below you will hear an arrangement of
  <i>Totentanz</i> for piano without orchestra accompaniment. When a piece is reworked and
  reorchestrated for a different ensemble or different style of playing, this is called an <b>arrangement</b>.
  As you watch the pianist's hands, think about the difficulty of this piece and the years of
  practice it takes to master it.</p>
<div class="video" id="totentanz">
  <h1>Valentina Lisitsa performing Liszt's <i>Totentanz</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#totentanz', 'zGBXA1tBiLw');
    });
  </script>
</div>
<a name="paganini" id="paganini"></a>
<h2>Paganini's Caprice No. 24: Borrowing a Theme for Variations</h2>
<p>Nicol&ograve; Paganini (1782-1840) is the most famous violin virtuoso in the history of music.
  <!--Born in Genoa, Italy, Paganini received his earliest musical instruction from his father, a dock worker and amateur musician, but his progress was so rapid that he was soon turned over to local professionals for lessons in violin and composition. As he advanced, he sought new teachers, some of whom turned him away saying that they had nothing to teach him. -->
  Paganini's unprecedented technical fluency and mesmerizing stage presence raised rumors that he
  had sold his soul to the devil to gain such skill. He was tall and thin, and bouts with illness
  had left him with pale skin and hollow cheeks, which did little to discourage these rumors. But
  Paganini did not seem to mind the legend that built up around him, and, in fact, may have
  benefited from the publicity it created.</p>
<p>Like Liszt, Paganini pushed the boundaries of his instrument to new heights both as a performer
  and a composer. Paganini published little in his lifetime, mostly because he presumed that only he
  was capable of performing most of his compositions, but also to protect his financial interests in
  the absence of individual copyright laws. He also omitted the solo violin part from his concerto
  scores for the same reason, much to the disappointment of musicologists attempting to study these
  manuscripts. Despite this, Paganini became extremely wealthy on his performance income.</p>
<p>His first published work was <i>Ventiquattro Capricci per violino solo</i>, a collection of 24
  caprices for solo violin. The expression marking <i>a capriccio</i> means 'according to the fancy
  (caprice) of the player', thus a caprice is a composition designed to showcase innovative effects
  of the kind that made Paganini famous. The final caprice, No. 24, is in theme and variations form
  and functions as the culmination of all the advanced techniques explored in the previous 23
  caprices. As you listen, first try to follow the theme as it returns in varied forms. Once you are
  familiar with the sounds of the piece, we will explore the work in greater detail with notated
  examples and detailed discussion of the special techniques Paganini utilizes.</p>
<p>Below is the theme that begins Caprice No 24. Aside from the fast tempo (<i>quasi presto</i>,
  meaning almost <i>presto</i> or quite fast) and the short rhythmic durations (the fastest is a
  sixteenth note), the theme does not present any particular challenges to the performer. It is,
  however, important as the basis for all the following variations and is the element that later
  composers chose to borrow for their own variations. Play the video below to hear the theme played
  by violinist Hilary Hahn.</p>
<div class="score">
  <a href="../scores/paganini_caprice24_theme.png" target="_blank" rel="noopener noreferrer">
    <img src="../scores/paganini_caprice24_theme.png" alt="Paganini's Caprice No. 24, theme"
        width="600" border="0"/>
  </a>
</div>
<div class="video" id="hahn">
  <h1>Hilary Hahn performing Nicol&ograve; Paganini, <i>24 Caprices</i>, op. 1, no. 24</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#hahn', 'gpnIrE7_1YA');
    });
  </script>
</div>
<p>Variations 1-7 offer greater challenges to the performer in the form of a wider range (especially
  the high range), varied articulation, wide leaps (going from a very high note to a very low note
  or vice versa), and double stops (playing two notes simultaneously). Variation 8 introduces an
  even more challenging technique: triple stops. This technique requires the performer to finger
  three pitches on three different strings with the left hand, and to bow all three strings
  simultaneously with the right hand. Paganini himself had the bridge of his violin (the part that
  holds the strings away from the body of the instrument) flattened somewhat to facilitate this type
  of effect.</p>
<div class="score">
  <a href="../scores/paganini_caprice24_var8.png" target="_blank" rel="noopener noreferrer">
    <img src="../scores/paganini_caprice24_var8.png" alt="Paganini's Caprice No. 24, variation 8"
         width="600" border="0"/>
  </a>
</div>
<p>Another particularly challenging technique is used in Variation 9: left hand pizzicato. Usually,
  when a performer is asked to use pizzicato, he continues to use his left hand to finger the notes
  and the right hand is used to pluck the strings instead of bowing to create sound. Variation 9
  cannot be played this way because bowed notes are interspersed with plucked notes and they go by
  too quickly to change from bowing to plucking. The &ordm; symbol indicates which notes are played
  with left-hand pizzicato. Play the video below to watch Hilary Hahn perform Variations 8 and 9 (it
  will automatically start at the proper place).</p>
<div class="score">
  <a href="../scores/paganini_caprice24_var9.png" target="_blank" rel="noopener noreferrer">
    <img src="../scores/paganini_caprice24_var9.png" alt="Paganini's Caprice No. 24, variation 9"
            width="600" border="0"/>
  </a>
</div>
<div class="video" id="hahn-8">
  <h1>Hilary Hahn performing Paganini's Caprice No. 24 - Starting at Variation 8</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#hahn-8', 'gpnIrE7_1YA?start=161');
    });
  </script>
</div>
<h3>Liszt's <i>Six Grandes Etudes de Paganini</i>, No. 6</h3>
<p>Both the beauty and the virtuosity of Paganini's Caprice No. 24 captured the interest of Liszt.
  In fact, it was Paganini, who was nearly 30 years older than Liszt, who first inspired the pianist
  to pursue virtuosic and innovative playing techniques on his own instrument. Liszt saw virtuosity
  as a means of expressivity that had not yet been fully realized, and he devoted his efforts
  towards embracing the precedent set by Paganini. It is no surprise, then, that Liszt would borrow
  extensively from the man who influenced him so profoundly. His <i>Six Grandes Etudes de
    Paganini</i> is exactly that, a collection of six studies (known by the French term, <i><b>&eacute;tudes</b></i>)
  of Paganini melodies. All but one of these pieces is based on a Caprice, and Etude No. 6 is based
  on Paganini's Caprice No. 24.</p>
<div class="video" id="liszt-paganini">
  <h1>Franz Liszt, <i>Six Grandes &Eacute;tudes de Paganini</i>, No. 6</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#liszt-paganini', 'XZ509Zpng2w');
    });
  </script>
</div>
<p>Liszt's piano version follows the caprice closely, but capitalizes on the potential of the piano
  by adding harmonic or otherwise accompanying material, or by including more of the original theme
  than was possible in the violin version. The latter technique is used clearly in Variation 2
  (beginning at 0:28), where the left hand is given the theme and the right plays the arpeggios from
  the caprice. In Variation 4 (beginning at 1:36), Liszt keeps the extremely high, descending
  chromatic figures from the caprice, but also adds hints of the harmonized melody in the left hand.
  Variation 10 (3:43) and 11 (4:21) represent the largest departure from the caprice. Variation 10
  retains the original melodic line, but adds a trill in the left hand that is nowhere in the
  caprice. Liszt's use of high speed scales and arpeggios in Variation 11 is even more extravagant
  than Paganini's.</p>
<p>Another favorite from Lizst's <i>Six Grandes &Eacute;tudes de Paganini</i>, known for both its beauty and
  virtuosic technical challenges, is
  <a href="http://youtu.be/vwc-nmyPm4I" target="_blank" rel="noopener noreferrer">Etude No. 3,
    commonly known as <i>La Campanella</i></a>.</p>
<h3>Brahms's <i>Variations on a Theme of Paganini</i>, Op. 35</h3>
<p>Johannes Brahms (1833-1897)
  <!--was a German composer who blended the formal control of his predecessors with the lyricism and expressiveness of his contemporaries. His compositions form an important part of the standard repertoire for many different kinds of ensembles (from symphony orchestras to choral societies to chamber ensembles) and he made particularly significant contributions to the solo literature for the piano, violin, cello, and clarinet. Brahms himself studied the piano primarily, but also took lessons on the French horn, and, until his teacher disappeared with his instrument, the cello. His piano teacher also gave him his only formal lessons in music theory and composition.</p>
  <p>Brahms was a close friend of Robert and Clara Schumann, an important musical couple. Robert was a music journalist, Clara was an acclaimed concert pianist, and both were composers. When Brahms met the Schumanns in 1853, they were major figures in the musical culture of Germany and it was their advocacy and introductions that ultimately launched Brahms's career as a composer. Robert suffered from mental illness and a few years later he passed away in an institution leaving Clara to provide for her eight children, which she did with a remarkable 60-year career as a concert pianist.</p>
  <p>Brahms -->
  called Paganini's caprices, "a great contribution to musical composition in
  general and to violin in particular." Brahms was particularly drawn to No. 24, so much that he
  composed two books of variations on the theme, which he published as <i>Studies for Pianoforte:
    Variations on a Theme by Paganini, Books 1 and 2</i>. Each book contains 14 variations, making a
  total of 28, so sometimes they are collectively called <i>28 Variations on a Theme by Paganini</i>.
</p>
<p>More than any of his other compositions for piano, <i>Variations on a Theme by Paganini</i>
  emphasizes virtuosity. Even Clara Schumann (a close friend of Brahms and an acclaimed concert
  pianist) called them 'witch variations' and claimed that they were beyond her ability. Like
  Liszt's <i>&eacute;tudes</i>, these variations are teaching pieces (for very advanced players)
  that each focus on a single technical challenge. As you listen, first try to pick out the theme in
  each variation. Once you are confident that you have heard the theme, see if you can guess which
  technique is being emphasized in that particular variation.</p>
<div class="listen" id="brahms-paganini">
  <h1>Johannes Brahms, <i>Variations on a Theme by Paganini</i>, Op. 35, Book 1 and Book 2</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#brahms-paganini', 'wYNJHR-1NgM');
      embedYouTube('#brahms-paganini', 'GXz8RU0SHDI');
    });
  </script>
</div>
<h3>Rachmaninoff's <i>Rhapsody on a Theme by Paganini</i>, Op. 43</h3>
<!--<p>Like many composers, Serge Rachmaninoff (1873-1943) began as a pianist. When he was 12, Rachmaninoff moved away from his home in St. Petersburg to study at the Moscow Conservatory, and there he boarded with his strict piano teacher and two other students. Soon he began to develop an interest in composition, but this created tension with his piano teacher who saw composition as a distraction from piano technique. When Rachmaninoff asked his teacher for more privacy from the others' practicing to enable him to compose, he kicked the young man out of the household and refused to speak to him for three years. Fortunately, Rachmaninoff was able to find other living accommodations with relatives in Moscow and was steadfast in his compositional pursuits.</p>
<p>Despite his world travels (he left Russia permanently in 1917), he was always a Russian through and through. He studied fellow Russian composers Tchaikovsky and Rimsky-Korsakov, and crafted his own unique idiom out of these influences. Rachmaninoff's Parisian publishing firm, TAIR (named after his daughters, Tat'yana and Irina), was intended to publish the works of Russian composers, including himself. His households in New York and Switzerland were run in the manner of Ivanovka, the country estate of his Moscow relatives where he wrote approximately 85% of his compositions. The Rachmaninoff family employed Russian servants, followed Russian customs, and entertained Russian guests. Russian was always the composer's primary language.</p>-->
<p>Despite deep devotion to his Russian heritage, Serge Rachmaninoff (1873-1943) admired music by
  composers of all nationalities, and borrowed from Mendelssohn, Corelli, Chopin, and Paganini in
  his compositions. <i>Rhapsody on a Theme by Paganini</i> was written in 1934 and, like Liszt and
  Brahms before him, he based the composition on Caprice No. 24. With some small adjustments, the
  piece later became a ballet about the Paganini legend at the suggestion of Russian choreographer
  Mikhail Fokine.</p>
<p>Paganini's caprice consists of a theme, 11 variations, and a finale, and the entire piece takes
  about 5 minutes to perform. Rachmaninoff's composition was conceived on a much grander scale,
  including 24 variations performed in around 25 minutes. Like Liszt and Brahms,
  Rachmaninoff chose the piano for his variations, but unlike them he added a full orchestral
  accompaniment. Most compositions in theme and variation form begin with the theme itself (as in
  the original caprice), but this piece does not state the theme until after the first variation is
  heard. Rachmaninoff also chose to call the piece a 'rhapsody', which indicates that it
  approximates an <a href="improvisation.html">improvisatory or extemporaneous</a> style. This is
  the musical equivalent of stream-of-consciousness writing.</p>
<div class="listen" id="rach-rhapsody">
  <h1>Serge Rachmaninoff, <i>Rhapsody on a Theme by Paganini</i>, Op. 43</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#rach-rhapsody', 'wa9LnPFJwUc');
    });
  </script>
</div>
<p>Variation 7 features a slightly altered version of another familiar tune:
  <i>Dies irae</i>. Rachmaninoff used <i>Dies irae</i> in many compositions, sometimes only hinting
  at the well-known melody, an other times using it prominently as in this variation. <i>Dies
    irae</i> appears in an even more familiar form in Variation 10, and erupts
  from the orchestra again in the latter part of Variation 24. Rachmaninoff
  deliberately chose to include <i>Dies irae</i> as a reference to the legend that Paganini made a
  Faustian pact with the devil, saying, "All the variations on <i>Dies irae</i> represent the evil
  spirit," but perhaps he also couldn't resist combining two of the most often borrowed melodies of
  all time.</p>
<p>Variation 18, marked <i>andante cantabile</i> (walking pace, song-like), is the most famous of
  all the variations. In fact, it often appears in concerts and on recordings
  independently, leaving audiences to wonder about the rest of the work. The Paganini theme is
  difficult to hear in this variation because it appears only in <b>inversion</b>. An inversion is
  created by reversing the direction of each interval in a melody, so a minor 3rd up becomes a minor
  3rd down and so on. Examine the notation below and listen to the two versions of the melody.</p>
<div id="paganini-inversion">
  <script>
    $(document).ready(function () {
      scoreInsert('#paganini-inversion', '../scores/paganini_caprice_inversion.png', '../scores/paganini_caprice_inversion.mp3');
    });
  </script>
</div>
<h3>No. 24 in Popular Music</h3>
<p>It is clear from the examples above that Paganini's Caprice No. 24 was revisited many times by
  art music composers. What may be surprising is the appearance of this same melody in popular
  music. Below are two very different examples of popular uses of the caprice: one in jazz in the
  1940s and the other in musical theater in the 1970s.</p>
<h4>Benny Goodman's <i>Caprice XXIV</i></h4>
<p>Benny Goodman (1909-1986) was an important band leader and clarinetist during the swing era of
  jazz. As a popular idol, Goodman was known as the 'King of Swing' and enjoyed the peak of his
  success just prior to 1940 with a variety of radio, film, and live engagements. Goodman also
  participated in the art music scene, recording Mozart's clarinet quintet with the Budapest String
  Quartet in 1938, and commissioning <i>Contrasts</i> from B&eacute;la Bart&oacute;k, which Goodman
  and Bart&oacute;k played together at its premier in 1939.</p>
<p>Lloyd "Skip" (or "Skippy") Martin was a jazz arranger who worked with Count Basie, Glen Miller,
  and Benny Goodman in the years surrounding 1940. <i>Caprice XXIV</i> is his 1941 arrangement for
  the Benny Goodman Orchestra based on Paganini's Caprice No. 24.</p>
<div class="video" id="goodman-caprice">
  <h1>Benny Goodman's <i>Caprice XXIV</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#goodman-caprice', 'EoeBpMaHH9Y');
    });
  </script>
</div>
<h4 class="clearfloat">Andrew Lloyd Webber's <i>Variations</i></h4>
<p>Andrew Lloyd Webber (1948-) is a highly honored and successful musical theater composer best
  known for <i>Phantom of the Opera</i>, <i>Cats</i>, and <i>Evita</i>. In 1982 he created a show
  entitled <i>Song and Dance</i> by combining the one-act musical <i>Tell Me on a Sunday</i> (1979)
  with a one-act dance sequence performed to <i>Variations</i> (1978), which is based on Paganini's
  Caprice No. 24. <i>Variations</i> features solo cello and was purportedly written for Lloyd
  Webber's cellist brother, Julian, when the composer lost a bet to him (Julian is the cellist
  featured in the video). The piece was originally composed for cello and rock band (as in the
  video), but was also arranged for solo cello and orchestra when it was adapted for <i>Song and
    Dance</i>.</p>
<div class="video" id="webber-vars">
  <h1>Julian Lloyd Webber performing Andrew Lloyd Webber's <i>Variations</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#webber-vars', 'TMCb90JpvxY');
    });
  </script>
</div>
<a name="rock" id="rock"></a>
<h2 class="clearfloat">Rhythm and Blues into Rock 'n' Roll</h2>
<p>The origins of rock 'n' roll lie in the rhythm and blues of the African American community of the
  1950s. Rhythm and blues was considered too subversive and rebellious to be mainstream and was
  released only by the ungraciously named "race record" industry. However, the appeal of this music
  was undeniable and recording companies began to believe that its commercial potential had yet to
  be reached. In order to market rhythm and blues to a wider audience, these companies hired white
  artists to adapt these songs by cleaning up the lyrics and reworking the instrumental parts. The
  result was a blend of rhythm and blues from the black community and country music from the white
  community. The new style came to be known as rock 'n' roll, a term coined by radio jockey Alan
  Freed.</p>
<p>"Shake, Rattle, and Roll" is one song that began as a rhythm and blues tune and was borrowed and
  transformed into mainstream rock 'n' roll. The song was written in 1954 by Jesse Stone under the
  alias Charles E. Calhoun, and was first recorded by "Big" Joe Turner that same year. Turner's
  recording hit the top of the rhythm and blues charts in June 1954. In July, Bill Haley and the
  Comets recorded their version, and in August they released it to the public. The Bill Haley
  version stayed in the top 40 of the pop charts for a total of twenty-seven weeks, making it the
  most popular version of the tune including <a href="http://youtu.be/dCBT7PfAEgc" target="_blank" rel="noopener noreferrer">Elvis's
    1956 cover</a>.</p>
<div class="video" id="turner-shake">
  <h1>"Big" Joe Turner performing "Shake, Rattle, and Roll"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#turner-shake', 'dxTTAvx8xE4');
    });
  </script>
</div>
<div class="video" id="comets-shake">
  <h1>Bill Haley and the Comets performing "Shake, Rattle, and Roll"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#comets-shake', '7CXFXB4uknI');
    });
  </script>
</div>
<p>In some ways the mainlining of rock 'n' roll was a positive thing for the black community,
  indicating that resistance to black culture was waning. However, this shift can just as easily be
  identified as a white appropriation and distortion of black music. The commercialization of rhythm
  and blues into mainstream white music required that the music be altered and adapted according to
  consumer tastes, even at the expense of the integrity of the musical or poetic message, despite
  what may have been good intentions from performers, producers, and record companies.</p>
{% endblock %}
