{% extends "layout.nunjucks" %}
{% block content %}
<h1>Chord Progressions</h1>
<p>A <b>chord progression</b> is a sequence of <a href="harmony.html">harmonies</a>. Just as dissonant harmonies
    seem to want to resolve to consonant ones, <a href="chords.html">chords</a> often move in predictable
    patterns as well. The tonic pitch sounds like home in a <a href="scales.html">scale</a> or in a <a
        href="melody.html">melody</a>, and the <b>tonic chord (I)</b> sounds like the central and most restful
    harmony. Thus, the most common goal of a chord progression is to approach I. Once the tonic chord is
    achieved, that can be the end of a piece, or any chord can follow I to start another progression.</p>
<h2>Common Patterns in Chord Progressions</h2>
<p>The <b>dominant chord (V)</b> often preceeds I in chord progressions because it seems to have the strongest
    drive towards I. The large-scale motion from I to V and V to I creates the basis for a great deal of music
    in the western world. On a small scale, however, there are other chords that can have <b>dominant
        function</b> and can be used instead of V to create variety. The most common substitution for V is vii&deg;.
</p>
<p>There are two chords that commonly preceed V (or vii&deg;): ii and IV. These are called <b>predominants</b>.
    In jazz ii is more common, but IV is more common in rock.</p>
<h2>12-Bar Blues</h2>
<p>One very common chord progression in popular music is the <b>12-bar blues</b>. The harmonic pattern is quite
    simple: I-IV-I-V-I. To fill 12 measures (or bars) of music with these chords, the first I is repeated for
    the first four bars, then each of the remaining chords is used for two bars each:</p>
<table>
    <tr>
        <td class="label">Measure (Bar):</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
    </tr>
    <tr>
        <td class="label">Chord:</td>
        <td>I</td>
        <td>I</td>
        <td>I</td>
        <td>I</td>
        <td>IV</td>
        <td>IV</td>
        <td>I</td>
        <td>I</td>
        <td>V</td>
        <td>V</td>
        <td>I</td>
        <td>I</td>
    </tr>
</table>
<p>This pattern may seem predictable and repetitive, but these features make the 12-bar blues a good framework
    for improvised solos, which are an important part of both jazz and rock. The blues genre and this blues
    progression were major influences in the development of both jazz and early rock 'n' roll. Here are some
    examples of songs that use the 12-bar blues:</p>
<div class="video">
    <h1>Bessie Smith performing "Empty Bed Blues"</h1>
    <div class="links"><a href="http://youtu.be/0BsIntS_Io4" target="_blank" rel="noopener noreferrer"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<div class="video">
    <h1>Chuck Berry performing "Johnny B. Goode"</h1>
    <div class="links"><a href="http://youtu.be/I8JULmUlGDA" target="_blank" rel="noopener noreferrer"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<div class="video">
    <h1>Stevie Ray Vaughn performing "Pride and Joy"</h1>
    <div class="links"><a href="http://youtu.be/NU0MF8pwktg" target="_blank" rel="noopener noreferrer"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<div class="video">
    <h1>Eric Clapton performing "Crossroads"</h1>
    <iframe class="noprint" width="480" height="390"
            src="http://www.youtube.com/embed/TMR_3BJCmh8?rel=0&showinfo=0" frameborder="0"
            allowfullscreen></iframe>
    <div class="links show_when_narrow"><a href="http://youtu.be/TMR_3BJCmh8" target="_blank" rel="noopener noreferrer"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
{% endblock %}
