{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <li><a href="#social">Social Dance Music</a></li>
    <li><a href="#stylized">Stylized Dance Music</a></li>
    <ul>
      <li>Dance Suites</li>
      <li>The Minuet</li>
      <li>Chopin's Mazurkas and Polonaises</li>
    </ul>
    <li><a href="#ballet">Ballet</a></li>
    <ul>
      <li>Pyotr Ilyich Chaikovsky (1840-1893)</li>
      <li>Igor Stravinsky (1882-1971)</li>
      <li>Aaron Copland (1900-1990)</li>
    </ul>
  </ul>
</div>
<h1>Dance Music</h1>
<p>Dance has been an important social ritual and leisure activity since ancient times. There is a
  great amount of variety in dance, both in style and in function. However, when it comes to music
  for dancing, there are three main categories in the Western world: social dance music (for amateur
  merrymaking), art dance music (for professional dancers), and stylized dance music (for the
  concert hall, not the dance hall). We will begin by discussing social dance music, since it is the
  most ancient and yet most familiar of the three. Then we will discuss how some dance forms have
  been transformed into music for concerts. Finally, we will explore the history of ballet as an
  example of dance music for professional dancers.</p>
<a name="social" id="social"></a>
<h2>Social Dance Music</h2>
<p>In any type of dance, the purpose of the music is to facilitate the dancing, not impede it. This
  is especially true of amateur dance, since virtually everyone is expected to be able to engage in
  public dancing, but it is not expected that everyone will practice or study dance to prepare to do
  so. Dancers expect music that is easy to dance to. Because of this requirement, there are several
  features of social dance music that are consistent throughout the history of Western music and
  that continue today.</p>
<p>Compare the following pieces. They are written in very different styles, but both are designed
  for public social dancing. What features do they share?</p>
<div class="listen" id="beveridge">
  <h1>Traditional 17<sup>th</sup> century English country dance, "Mr. Beveridge's Magot"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#beveridge', 'Bmcm7HUg6x0');
    });
  </script>

  <!--<script>-->
    <!--$(document).ready(function () {-->
      <!--embedYouTube('#beveridge', 'dBgaO9Va5cA');-->
    <!--});-->
  <!--</script>-->
</div>
<div class="video" id="ghosts">
  <h1>Deadmau5, "Ghosts N Stuff"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#ghosts', 'pb-EwykPTv8');
    });
  </script>
</div>
<p>The first and most obvious required feature of social dance music is a clear and steady beat. The
  majority of amateur dance is group dancing, whether the dancers be coupled in pairs, divided by
  gender, or otherwise organized into sub-groups. So, in order to stay in time with the other
  dancers and become a part of the whole, a steady and easy-to-follow beat is required. It is
  certainly possible to dance to music that does not have a clear beat, but the dancers would not
  likely be moving in time with each other, which in many ways defeats the social function of
  dancing as a sign of group membership and cooperation.</p>
<p>Dancing that follows set choreography requires that the form of the music be clear so that
  dancers can begin and end the dance patterns in time with the music. Many of these dances are
  symmetrical, meaning, for example, that a pattern beginning on the left foot would be repeated
  starting with the right foot. This feature usually requires that music be repeated so that the
  second side can be danced. Choreographed dances also require an introduction long enough so that
  dancers can take their places, and a clear ending so that they can conclude the choreography and
  (in some traditions) bow to their partners.</p>
<p>Predictability overall is important in social dance music. There should not be sudden changes in
  the music that confuse or surprise the dancers, especially when it comes to beat and meter.
  Electronic music for dance clubs, for example, introduces changes in instrumentation and texture
  in small increments so dancers are not surprised my new material and have time to adapt to the new
  or altered element. When there are more dramatic changes (sudden pauses, for example), they
  usually do not effect the beat and they reoccur in predictable patterns, allowing the dancers to
  adapt to them easily. Club DJs also create smooth transitions from one track to the next, so that
  dancers need not be interrupted by the end of one song and the beginning of the next.</p>
<a name="stylized" id="stylized"></a>
<h2>Stylized Dance Music</h2>
<h3>Dance Suites</h3>
<div class="pic fltrt">
  <a href="https://commons.wikimedia.org/wiki/File:Johann_Sebastian_Bach.jpg#/media/File:Johann_Sebastian_Bach.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Johann_Sebastian_Bach.jpg" alt="Johann Sebastian Bach.jpg" height="480" width="390">
  </a>
  <br/>
  Johann Sebastian Bach
  <br/>
  portrait by Elias Gottlob Haussmann
</div>
<p>A <b>suite</b> is a collection of short instrumental pieces (a composite form) composed in the
  style of specific dances. Originally, the purpose of a dance suite was to accompany actual
  dancing, but over time the dances became so stylized and the genre was so popular that
  performances were moved into performance halls where audiences sat to listen to the music. The
  genre now encompasses collections of dances from ballets and operas in addition to the traditional
  collection popularized in the 18<sup>th</sup> century in the hands of composers like Johann
  Sebastian Bach (1685-1750) and George Frideric Handel (1685-1759).</p>
<p>In the dance suites of Bach and Handel, all of the movements are related by key. Usually this
  means that all of the dances are in the same key, but sometimes there are movements in the
  relative major or minor key. Sometimes the dances are linked to each other through shared melodic
  or rhythmic motives as well. Most movements are in binary form with both sections repeated (AABB).
  These suites usually include four dances associated with specific nationalities: the allemande
  (Germany), courante (Italy), sarabande (Spain), and gigue (England). Other dances (the minuet,
  gavotte, or bourr&eacute;e, for example) might either be substituted or added to this collection.
  There is also often a prelude, written in an <a href="improvisation.html">improvisatory</a> style
  and used as an introduction to the dances.</p>
<p>Bach wrote about 45 suites, and among them are six for solo cello. These are among his most
  traditional suites in that each includes all four national dances, a pair of minuets, gavottes, or
  bour&eacute;es, and a prelude. The pairs of minuets, gavottes, and bourr&eacute;es are grouped
  into one movement, making each suite six movements long. Although later composers created piano
  accompaniments for these pieces, Bach left them unaccompanied, perhaps wishing to explore the
  potential of the instrument in its purest form.</p>
<div class="listen" id="bach-1-prelude">
  <h1>J.S. Bach, Suite for Solo Cello No. 1, I. Prelude</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#bach-1-prelude', 'vawqt4-s7JU');
    });
  </script>
</div>
<div class="listen" id="bach-1-menuet">
  <h1>J.S. Bach, Suite for Solo Cello No. 1, V. Menuet I &amp; II</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#bach-1-menuet', 'JtvKC7Y-rPg');
    });
  </script>
</div>
<p>In the case of suite No. 1, the prelude and the pair of minuets ('menuet' is the German spelling
  of 'minuet') begin with the same three notes. The second and fourth movements (allemande and
  sarabande, respectively) also begin with a similar gesture, which helps to make the suite sound
  like a unified collection of pieces.</p>
<h3>The Minuet</h3>
<p>Although the minuet does not appear in all of Bach's suites, it is one of the most important
  stylized dance forms. The <b>minuet</b> is a stately dance in triple meter that became popular at
  the French court around the time of Louis XIV, "The Sun King". Below is a minuet by Jean-Baptiste
  Lully (1632-1687), court composer to Louis XIV, which predates the stylization that moved the
  minuet from the dance hall to the concert hall.</p>
<div class="listen" id="lully-menuet">
  <h1>Jean-Baptiste Lully, <i>Menuet a deux</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#lully-menuet', 'LHIJNsBxVao');
    });
  </script>
</div>
<p>Over time, it became conventional for minuets to appear in pairs, as in Bach's suite above, but
  often the second minuet was called a 'trio'. This name is the remnant of an early practice of
  reducing the number of players to three or writing in three-part harmony for the second minuet.
  Minuets became popular in the concert hall during the time of Bach, but even after popularity of
  the dance suite had waned, the <b>minuet and trio</b> continued to be important as the preferred
  form for the third movements of symphonies. Although by that time it had been in the concert
  repertoire for some time, the minuet still retained its associations with courtly dance and high
  society. Listen to Mozart's treatment of the elegant minuet in his Symphony No. 40:</p>
<div class="listen" id="symph40">
  <h1>W.A. Mozart, Symphony No. 40, III. Menuetto – Trio</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#symph40', 'iUXJsdSiVls');
    });
  </script>
</div>
<h3>Chopin's Mazurkas and Polonaises</h3>
<p>Fr&eacute;d&eacute;ric Chopin (1810-1849) wrote almost exclusively for the keyboard, and he drew
  a great deal of inspiration from the folk music of his native Poland. Especially influential were
  two folk dances: the <b>mazurka</b> and the <b>polonaise</b>. In his stylized versions of these
  dances, Chopin retains the characteristic rhythmic patterns, forms, and relationships between
  melodies and accompaniments. In terms of mood, the dances vary from joyful and energetic to deeply
  melancholic.</p>
<div class="listen" id="chopin-mazurka">
  <h1>Chopin, Mazurka No. 5 in B flat major, Op. 7, No. 1</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#chopin-mazurka', '-IXf8RGglys');
    });
  </script>
</div>
<p>In a waltz, the emphasis is placed on the first beat in each measure of three. In this mazurka,
  listen for the emphasis to be moved to the second beat. At 1:18, listen for a chord repeated over
  and over again in the left hand under a high melody. This technique creates a sound reminiscent of
  the drone and melody of a bagpipe, a common instrument in Polish folk music. The <i>rubato</i> and
  intricate ornamentation are features unlikely to be found in music designed to accompany actual
  dancing, so their presence is a clear indication that Chopin intended this piece for concert
  performance.</p>
<a name="ballet" id="ballet"></a>
<h2>Ballet</h2>
<p>Ballet as we know it began in the late 17<sup>th</sup> century, primarily in France, and
  primarily at the court of Louis XIV under Lully's direction. In its earliest days, ballet was
  incorporated into operatic productions. It was performed by a mix of professionals and aristocrats
  who wore long dresses or formal outfits. The earliest professional troupe was entirely men, and it
  wasn't until a few decades later that the number of women was roughly equal to that of men. At
  first, the danced numbers were stylized versions of the formal social dances that were an integral
  part of any social event. Gradually the dances began to be included in the storyline of the
  operatic production to a greater extent, and they became a way to communicate the story in motion.
  To this end, dance numbers were integrated into the action and other musical sections, and the
  dancing came to include more miming and gesture. There were, of course, always opportunities for
  dances that had little storytelling to do, as any celebration that was part of the plot could be
  an excuse for dancing.</p>
<p>By the 19<sup>th</sup> century, ballet covered a wide range of dance options. Ballet could either
  refer to short danced sections within an opera that were related to the plot in some way, or to
  divertissements that occurred between acts of the opera and may not be related to the opera at
  all. Some ballets were also entirely separate productions in multiple acts that told a complete
  story through dance and instrumental music alone. It is this kind of ballet that we will examine
  further. It was also during the 19<sup>th</sup> century that ballet began to be dominated by
  female dancers, wearing shorter skirts and tighter bodices, and striving for a grace and lightness
  in their movements rather than mere illustration of plot. </p>
<p>Perhaps because of its long association with opera, ballets are often structured very similarly
  to opera. They consist of a number of acts that portray a story, which in its written form is
  called a libretto. Since there is no singing, a program with the libretto (usually very detailed)
  is given to the audience. The acts consist of an alternation of airs and action sequences. The
  action sequences contain the plot of the story, much like a recitative in opera. The airs are
  dances, either with multiple dancers (like a chorus in an opera) or one or two solo dancers. Solo
  dances provide an opportunity for the star performers to show off their virtuosity, and perhaps
  also to communicate something about their current emotional state, much like the arias in an
  opera. The libretto and choreography of the dance are usually worked out first, and it is up to
  the composer to make the music fit these structures, rather than the other way around.</p>
</p>
<h3>Pyotr Ilyich Chaikovsky (1840-1893)</h3>
<p>France has long been considered the home of ballet, and it is true that the tradition was well
  nurtured there. Yet, in its attempts to compete with the great courts of Europe, Russia also
  developed a considerable appreciation for the art. It was in this setting that Chaikovsky wrote
  his ballets, many of which remain part of the repertory to this today. </p>
<p><i>The Nutcracker</i> is based on a tale by E.T.A. Hoffman, and premiered in 1892, during
  Chaikovsky's last years. The second act takes place in a fantasy land of sweets, in which the
  Prince's return is celebrated with a series of dances by characters from other nations. These
  dances were meant to conjure the exotic flavor of faraway places by using music that sounded like
  foreign music. This strategy is called <b>exoticism</b> and was a very popular trend in the
  19<sup>th</sup> century. This part of the ballet provides a nice example of the way ballets were
  divided into short musical numbers, because of the limitations of the stamina of the dancers. Each
  air or <i>pas</i> is typically organized in something like an ABA musical form, contains steady
  danceable rhythms, and has a distinct pleasing melody (this last a particular characteristic of
  Chaikovsky's style).</p>
<p>While the basic story of <i>The Nutcracker</i> remains the same from production to production,
  each performance may vary slightly. Ballet is unique in this way. Dance steps are very difficult
  to record, and historical versions of a particular ballet may be completely lost to us because of
  this. Standard practice is for each ballet company to make decisions about the order and length of
  the dance numbers, and the choreographer designs the steps. This is a very different approach to
  the music than might be given to performances of Beethoven symphonies, for example.</p>
<p>To get an idea of what this "classical" ballet was, watch the two dances below. Note the dancing
  style and costume choices, as well as the degree of pantomime involved and the athleticism of the
  dancers. The first dance below is the Dance of the Sugar Plum Fairy, one of the main solo dances
  in the ballet. Chaikovsky had just heard a new instrument, the celesta, and thought its sound
  would be perfect for the Sugar Plum Fairy's character. The form of the piece is ternary, with the
  middle section providing contrast. Though you may have a hard time concentrating on such things,
  the incredible grace of this performance is captivating.</p>
<div class="video" id="sugarplum">
  <h1>Chaikovsky, <i>The Nutcracker</i>: Dance of the Sugar Plum Fairy (The Bolshoi Ballet)</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#sugarplum', 'QYanCpTyriU');
    });
  </script>
</div>
<p>The following excerpts show some of the national dances from the second act of the
  story. Notice which instruments Chaikovsky chooses to evoke these countries, and how tempo and
  harmony contribute. </p>
<div class="video" id="national">
  <h1>Chaikovsky, <i>The Nutcracker</i>: 'National' Dances</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#national', 'bLYhahlsXI8');
      embedYouTube('#national', '-sEgjXxjxIw');
      embedYouTube('#national', 'kjSXJg6JQ64');
    });
  </script>
</div>
<p>This example gives a good illustration of
  the kind of pantomime that can still be found in modern ballet productions. It is much less
  extreme than its historical precedent, but still effective for carrying the story along. Here the
  Nutcracker Prince recounts his fight with the Rat King and his mice to the Sugar Plum Fairy and
  her court.</p>
<div class="video" id="pantomime">
  <h1>Chaikovsky, <i>The Nutcracker</i>: Act II pantomime</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#pantomime', 'hpHjMf7q7o4');
    });
  </script>
</div>
<h3>Igor Stravinsky (1882-1971)</h3>
<p>In the early twentieth century, Russian impresario Sergei Diaghilev took his ballet company, the
  Ballet Russes, to Paris where his experimental dance style was welcomed. He asked Stravinsky to
  compose the modern music his daring company required, and <i>The Firebird</i> and <i>Petrushka</i>
  are both examples of the success of this collaboration. These two works already portray the
  characteristics of musical style we now associate with Stravinsky, as well as the Russian
  nationalist subjects that attracted Parisian audiences with their exoticism. Despite these
  successes, the next ballet that Diaghilev asked Stravinsky to write the music for sparked a riot
  in the audience when it premiered in Paris in 1913.</p>
<p>The music for this ballet, <i>Le Sacre du Printemps</i> (<i>The Rite of Spring</i>), still sounds
  bold and modern, even after almost a century has passed. It has all the elements that mark
  Stravinsky's early style. The first thing to notice, at the beginning of the ballet, is the
  striking instrumentation. The opening bassoon solo is written in a very high register, and while
  it is often played beautifully today, it was probably an uncomfortable sound in the early
  performances of the piece. The orchestration throughout the work is very different from the lush
  string sound of the Romantic orchestra. Instead, Stravinsky emphasizes percussive sounds, so that
  even the melodic instruments in the orchestra attack their notes sharply. Winds and brass have a
  larger share of the action than strings do, and are often grouped into their respective sections
  rather than mixed with contrasting instruments of the orchestra. There is little in the way of
  hummable melody in the ballet, as most of the work is occupied with non-lyrical <b>ostinatos</b>,
  or short repeated units of sound.</p>
<div id="ostinatos">
  <h1>ostinatos in <i>The Rite of Spring</i></h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#ostinatos', '../scores/rite_of_spring_ostinatos.png', '../scores/rite_of_spring_ostinatos.mp3');
    });
  </script>
</div>
<p>In fact, the work at many points seems to be made of layers of ostinatos, so that each instrument
  is given a different pattern to repeat. This build-up of layers creates a complex overall rhythm.
  Moreover, the layered sections are often interrupted by contrasting blocks of sound that are
  static in rhythm or harmony. These interruptions and the ostinatos undermine the sense of regular
  meter, and Stravinsky augments this effect by placing accents in unexpected and irregular places.
  (See example below)</p>
<p>Not only is meter treated differently, but Stravinsky also uses pitch collections such as the
  octatonic and pentatonic to create new harmonies and expand the use of dissonance. His combination
  of multiple diatonic chords at the same time, called <b>polychords</b>, also increases dissonance.
</p>
<div id="polychords">
  <h1>polychords (E-flat7 and F-flat), and irregular accents in <i>The Rite of Spring</i></h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#polychords', '../scores/rite_of_spring_polychords.png', '../scores/rite_of_spring_polychords.mp3');
    });
  </script>
</div>
<p>Compared to the late Romantic style of Chaikovsky's ballet music, you might understand how
  shocking Stravinsky's music would sound to an audience. This might lead you to believe that the
  riots were due to the sound of his startlingly new music. However, this was not entirely true. The
  ballet's story centers around the fertility rites of an ancient tribe in an imagined primitive
  Russia. Diaghilev worked closely with his choreographer, Nijinsky, and the set and costume
  designer, Nikolai Roerich, to evoke this prehistoric setting in a style we call <b>primitivism</b>.
  Rather than the tight bodices and short skirts that ballerinas usually wore, the costumes for this
  ballet were loose dresses with brightly colored Russian peasant patterns on them. The dancers were
  asked to dance flat-footed and pigeon-toed, rather than on point and with gracefully out turned
  toes. Their steps were crude hops with slouched shoulders instead of the elegant arabesques and
  poise that they were trained for. The audience was more offended by this lack of artifice and
  sophistication in the dancers than they were by the modern sounds coming from the orchestra.</p>
<p>As with much ballet, we have no exact record of what the choreography for the first performance
  looked like. But attempts have been made to recreate it based on pictures and sketches from the
  original production. Below is the first scene from one such effort that allows you to compare the
  movements and costuming of these dancers with those of Chaikovsky's <i>Nutcracker</i>, and decide
  for yourself whether the dance or the music seems the most astounding.</p>
<div class="listen" id="rite-of-spring">
  <h1>Igor Stravinsky, <i>Le Sacre du Printemps</i>: Part I - Adoration of the Earth: Introduction</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#rite-of-spring', 'GyjniS03j90');
    });
  </script>
</div>
<div class="video" id="rite-of-spring-ballet">
  <h1>Igor Stravinsky, <i>The Rite of Spring</i>: Scene 1</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#rite-of-spring-ballet', 'rhXX4KzztdA');
    });
  </script>
</div>
<h3>Aaron Copland (1900-1990)</h3>
<p>Stravinsky's <i>Rite of Spring</i> showcased modern music for ballet, but the ballet still told a
  story. As the twentieth century continued, Diaghilev and others began to experiment with dance
  that did not tell a story. They even began to appropriate music not intended for dance to use in
  their productions. Our next example does follow a loose storyline, but you can see it moving
  toward the abstract already. Copland's <i>Appalachian Spring</i> was commissioned by dancer and
  choreographer Martha Graham with funds from the Coolidge Foundation. Copland's working title for
  the piece was <i>A Ballet for Martha</i>, and it wasn't until shortly before its premier in 1944
  that Graham suggested the title using a line from a poem. The ballet is one act in eight scenes.
  The libretto begins with a slow introduction of the characters, and continues to describe the
  country setting and the hopes and fears of the bride and her intended in their new farmhouse. It
  gives only the barest outline of a story with a few emotional descriptors to flesh it out.</p>
<p>Early in his career Copland became concerned with composing in an American style that would be
  accessible to audiences and help to bridge the widening gulf between composers of modern music and
  their audience. He first turned to incorporating jazz and folk elements into his compositions, and
  later began writing music on rural or American themes. This ballet is an example of the latter, as
  it portrays a young pioneer couple in 1800s Pennsylvania. The piece was originally scored for a
  small chamber ensemble of thirteen musicians, but Copland later arranged it for a larger
  orchestra. </p>
<p>Although Copland aimed for a different sound than Stravinsky, he used some of the same
  techniques. From the opening bars of the ballet we can hear polychords, a technique Stravinsky
  used throughout <i>The Rite of Spring</i>. Yet Copland has spaced out the notes in a wide
  register, and moved through them languorously rather than with the sharp pulsing that Stravinsky
  gave his polychords. The effect is quite distinct, painting an atmospheric openness that helps to
  evoke the prairie of the ballet's setting. The clip below is a rare recording of Martha Graham
  herself with her ballet company, one of few instances in which we can trust that the choreography
  is authentic.</p>
<div class="video" id="appalachian-video">
  <h1>Aaron Copland, <i>Appalachian Spring</i>, choreography by Martha Graham: Scene 1</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#appalachian-video', 'XmgaKGSxQVw');
    });
  </script>
</div>
<p>In the music for scene 7, Copland uses folk material to create an American sound. In this case,
  he borrowed a traditional tune written by Elder Joseph Brackett in the late 19<sup>th</sup>
  century for the Shaker community. The Shakers were a religious sect in the Appalachians that used
  melodies like this one in their worship. The tune Copland borrowed was not well known until his
  piece made it famous. It is interesting to note that the tune seems to have been intended for
  dance in the Shaker community as well. Its original form appears below.</p>
<div id="simple-gifts">
  <h1>"Simple Gifts" melody and lyrics</h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#simple-gifts', '../scores/simple_gifts.png', '../scores/simple_gifts.mp3');
    });
  </script>
</div>
<p>Copland bases five variations on the "Simple Gifts" tune, a very old technique of borrowing. But
  rather than altering the melody in each variation, he alters its setting by giving it different
  accompaniment. The scene includes one statement of the melody presented by the clarinet, and five
  variations. Try to notice how each is set differently as you listen.</p>
<div class="listen" id="appalachian">
  <h1>Aaron Copland, <i>Appalachian Spring</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#appalachian', '8e3rVcSy3IQ');
    });
  </script>
</div>
<p>Martha Graham was an influential figure in the early days of modern dance. Ballet and dance
  productions today experiment with using electronic music and other non-traditional genres, such as
  Latin, jazz, or other foreign musical styles. They often incorporate multi-media elements as well
  as the music and dance, and range from full stories to completely abstract works. Like most of our
  contemporary art, dance uses every diverse aspect of our modern culture.</p>
{% endblock %}
