{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <li><a href="#program">Program Music</a></li>
    <ul>
      <li>The Concerto and Vivaldi's <i>Four Seasons</i></li>
      <li>Piazzolla's <i>Cuatro Estaciones Porte&ntilde;as</i></li>
      <li>The Programmatic Symphony and Berlioz's <i>Symphonie fantastique</i></li>
    </ul>
    <li><a href="#theater">Music and the Theater</a></li>
    <ul>
      <li>The Overture and Mendelssohn's <i>A Midsummer Night's Dream</i></li>
    </ul>
    <li><a href="#opera">Opera</a></li>
    <ul>
      <li>Verdi's <i>La traviata</i></li>
    </ul>
    <li><a href="#film">Music and Film</a></li>
    <ul>
      <li>Popular Music and the Compilation Score</li>
      <li>Williams's Score for <i>Star Wars</i></li>
      <li>The Function of Music in Film</li>
      <li>Classical Music in Film Scoring</li>
    </ul>
  </ul>
</div>
<h1>Music and Drama</h1>
<p>Music has been coupled with drama for centuries, and its role in this pairing remains quite
  complex. From early ballads and epic poems with simple musical accompaniment to the increasingly
  intricate sound worlds of modern film, music can enhance drama in a variety of ways. We will be
  exploring how music can illustrate, narrate or tell a story, provide character depiction,
  encourage a certain emotional reaction in the audience, and even communicate something that is not
  being shown. In this section we will examine these various functions of music in several forms of
  drama, considering the genres of program music, opera, and film music.</p>
<a name="program" id="program"></a>
<h2>Program Music</h2>
<p>Program music is defined as music that depicts or refers to some extra-musical source, such as an
  object, an idea, a story, a place, or a person. Program music can be contrasted with absolute
  music, a term originating in the nineteenth century to denote music that was free from such
  extra-musical associations. Absolute music was meant to refer to genres such as the symphony and
  string quartet, and was often used to imply that these genres were somehow superior to <a
          target="">opera</a> or other programmatic genres. The distinction between program music
  and absolute music quickly becomes hazy, and it was primarily political motivations that kept the
  argument alive. The following examples will illustrate a wide range of program music, from general
  evocation of a mood to detailed storytelling.</p>
<h3>The Concerto and Vivaldi's <i>Four Seasons</i></h3>
<p>During the Renaissance, the majority of music emphasized the harmonious sounding of like
  instruments or voices, such as a group of male singers or a group of string instruments. But
  gradually, audiences began to prefer sounds that contrasted with each other, resulting in groups
  that included wind as well as string instruments, or different types of voices. This led to the
  development of the concerto, a genre in which one or more soloists plays in opposition to a group
  of players. Multiple soloists were quite common in early concertos, though the modern genre
  usually consists of just one soloist with orchestral accompaniment.</p>
<p>Early concertos did not adhere to a standard form, but by the time Vivaldi finished the more than
  500 concertos attributed to him a standard form had emerged that many other composers would
  imitate. This form consisted of three movements, in the pattern fast-slow-fast. The fast movements
  were usually in ritornello, or refrain, form. This meant that the orchestra would present the
  themes in an opening section, or ritornello. The soloist then played unrelated material in
  passages that modulated to new keys. The orchestra would then interrupt with another ritornello
  section, this time in the new key, only to be interrupted by the soloist again. These alternations
  continued until a final restatement of the ritornello in the original key signaled the end of the
  movement. Slow movements were often in binary form or through-composed, and provided a contrast
  between the outer movements.</p>
<p>Vivaldi achieved wide renown in his own time, but is primarily remembered today for his <i>Le
  quattro stagioni</i> (<i>The Four Seasons</i>) concertos. This is a set of four concertos for solo
  violin, each consisting of three movements and associated with a season of the year. This
  association with the seasons is enough to categorize the piece as programmatic. But four sonnets
  also accompany the work, one for each season. These were likely written by Vivaldi himself, and
  help to make the programmatic aspects more concrete. Although there is no plot and no characters
  to depict, it is apparent that the music is illustrating something. Vivaldi even wrote some lines
  of poetry into the score to make it clear that particular musical moments pertained to specific
  imagery.</p>
<p>The following poem accompanies the concerto for spring. The roman numerals on the left indicate
  which movement each part of the poem is meant to correspond with.</p>
<table>
  <tr>
    <td>I</td>
    <td class="left">Spring has arrived and merrily<br/>
      The birds hail her with happy song<br/>
      And, meanwhile, at the breath of the Zephyrs,<br/>
      The streams flow with a sweet murmur:<br/>
      <br/>
      The thunder and lightning, chosen to proclaim her,<br/>
      Come covering the sky with a black mantle,<br/>
      And then, when these fall silent, the little birds<br/>
      Return once more to their melodious incantation:
    </td>
  </tr>
  <tr>
    <td>II</td>
    <td class="left">and so, on the pleasant, flowery meadow,<br/>
      To the welcome murmuring of fronds and trees,<br/>
      The goatherd sleeps with his trusty dog beside him.
    </td>
  </tr>
  <tr>
    <td>III</td>
    <td class="left">To the festive sound of a shepherd's bagpipe,<br/>
      Nymphs and shepherds dance beneath the beloved roof<br/>
      At the joyful appearance of spring.
    </td>
  </tr>
</table>
<div class="video" id="vivalid-spring">
  <h1>Vivaldi, <i>Four Seasons: Spring</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#vivalid-spring', 'e3nSvIiBNFo');
    });
  </script>
</div>
<p>It is possible to hear illustrations of the many visual cues in the poem without too much effort.
  The first movement opens with the bubbly joy of spring, the solo violin parts seem to evoke
  birdsong, and murmuring streams are illustrated in the strings. A contrasting section in the first
  movement gives us the violence and excitement of a summer storm, followed by the return of
  birdsong in the solo parts. The second movement contains the barks of the goatherd's dog, and the
  third depicts the dancing shepherds with drones and a dancelike compound meter. Not only are these
  specific illustrations contained in the music, but a more generally lighthearted depiction of the
  season characterizes the piece as a whole. This provides a nice contrast with the other three
  concertos of <i>The Four Seasons</i>, each suited to its own seasonal mood.</p>
<p>The programmatic elements of the piece make it easily enjoyable. What is remarkable about
  Vivaldi's composition is the way he was able to superimpose these programmatic elements over a
  formal structure that had become quite standard. Setting aside the imagery, it is still possible
  to follow the alternation of ritornello and soloist, to hear the recurring themes in the
  ritornello, and to follow the modulations in the solos. In addition, Vivaldi has left his own
  personal stamp on the musical style, most audibly in the large intervals and Lombardic rhythms
  (short-long) of his melodies, which add to their expressiveness.</p>
<p>One final thing to note about this piece is the setting for which it was intended. Concert music
  was a relatively new occurrence at the time, as dance music and opera productions were much more
  common forms of entertainment. The violin was also a relative newcomer in the musical scene.
  Fierce debates about this new Italian instrument had been carried out in pamphlets concerning its
  louder sound and fretless tuning in relation to the viola da gamba and other predecessors. At the
  time Vivaldi wrote this piece the scales were tipping in favor of the violin, which has since
  become a staple solo instrument and a major part of the orchestral sound. Vivaldi was a very
  successful violin teacher, and his concerts at the Ospedale della Piet&agrave; were performed by
  his own students, so it makes sense to see so much composing for the violin from Vivaldi's
  pen.</p>
<h3>Piazzolla's <i>Cuatro Estaciones Porte&ntilde;as</i></h3>
<p>The seasons of the year provide the program for another piece of music, this one by Argentinian
  composer Ástor Piazzolla (1921-1992). Although born in Argentina, Piazzolla spent much of his
  childhood in New York City. At a young age, he learned to play the bandoneón, a free reed
  instrument of the concertina family and similar to the accordion. Piazzolla studied classical
  music, but spent years playing in tango bands in New York City and Buenos Aires. It wasn't until
  he studied with famous composition teacher Nadia Boulanger in Paris that he was encouraged to
  develop his unique voice in composition. This culminated in his <i>Nuevo Tango</i> style, which
  incorporates elements of jazz, classical music, and tango. Traditional tango communities opposed
  the liberties he took, but North American and European audiences loved the innovation of
  Piazzolla's compositions. He formed his own groups, toured internationally, and was successful
  enough to compose in more experimental styles later in his career.</p>
<p><i>Cuatro Estaciones Porte&ntilde;as</i>, or <i>The Four Seasons of Buenos Aires</i> is a set of
  four individual tangos, written in the 1960s and 1970s. They were not originally conceived as a
  set, but Piazzolla later combined them. The original scoring was for violin, piano, double bass,
  electric guitar, and bandoneón, a favored grouping for Piazzolla. This combination of electric and
  acoustic instruments was part of his <i>Nuevo Tango</i> style. Many arrangements of the piece have
  since been made for various instrumental groups. One notable arrangement by Lenoid Desyatnikov
  seeks an overt link with Vivaldi's pieces by scoring Piazzolla's work for orchestra with violin
  solo and even including quotations of Vivaldi's concertos.</p>
<p><i>The Four Seasons of Buenos Aires</i> illustrates several traits that are typical of
  Piazzolla's hybrid style. The repeating bass line and harmony have been common elements of
  classical music since the Baroque period, but are also elements of jazz structure. The use of
  dense counterpoint and even fugal passages are aspects of Baroque style, as well. And the freedom
  for players to improvise is a major part of jazz playing. However, the rhythms and many of the
  scales that Piazzolla uses are part of the tango tradition. The pieces follow a
  fast-slow-fast-slow-coda formal structure, with the slow sections offering opportunities for
  lyrical solos. The following example is a performance of "Primavera Porte&ntilde;a" (Spring) in
  its original scoring. Note the structure and the combined elements of the <i>Nuevo Tango</i>
  style.</p>
<div class="video" id="cuatro-estaciones">
  <h1>Piazzolla, <i>Cuatro Estaciones Porte&ntilde;as: Primavera Porteña</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#cuatro-estaciones', 'JocVr72a8N4');
    });
  </script>
</div>
<p>Compare this performance with the orchestral arrangement by Desyatnikov.</p>
<div class="listen" id="cuatro-desyatnikov">
  <h1>Piazzolla, <i>Cuatro Estaciones Porteñas: Primavera Porteña</i>, arranged by Leonid Arkad'yevich Desyatnikov</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#cuatro-desyatnikov', 'nhVX1Xh3rIs');
    });
  </script>
</div>
<h3>The Programmatic Symphony and Berlioz's <i>Symphonie fantastique</i></h3>
<p>Programmatic music increased in the nineteenth century, spurred by Romanticism's focus on the
  expression of intense emotion. Originality was prized above all else in the arts, and composers
  often used programmatic associations to defend new and experimental sounds. As critics debated
  whether literature or music was the supreme art form, composers sought to support music's case by
  communicating increasingly complex ideas and stories through music.</p>
<p>Hector Berlioz's <i>Symphonie fantastique</i> (1830) is an example of one such piece and shows
  how music can attempt to narrate or tell a story. The piece is full of inventive sounds, and
  employs a much larger orchestra than audiences were used to. These are hallmarks of Berlioz's
  style, aspects that often put him on the receiving end of a good deal of criticism. But Berlioz
  literally wrote the book on orchestration, and had a huge impact on future composers in this
  regard.</p>
<p>The symphony is subtitled "An Episode in the Life of an Artist," and Berlioz did indeed use
  events from his own life as inspiration. He had recently gone to see Hamlet, part of the
  Shakespeare craze that was just hitting France, and had fallen for the young Ophelia, played by
  actress Harriet Smithson. Placing himself in the position of the "artist," he created a story
  about a budding romance between himself and Smithson, the "beloved." But true to Romantic trends,
  he embellished the tale with elements of the fantastic and grotesque. Events in real life played
  out a bit differently, with Smithson marrying Berlioz some time later, though even this turned out
  to be a stormy relationship.</p>
<p>Berlioz not only wrote the program for his symphony, but expressly intended the audience to read
  it during the performance. This would have helped his audience to understand some of the unusual
  formal choices that Berlioz made, such as adding a fifth movement to the traditional four-movement
  symphonic form established in Haydn's day. Berlioz created a theme to represent his beloved, a
  theme that reappears each time we see her. He called this theme the <i>id&eacute;e fixe</i>, and
  used his program to explain why it appears in each of the five movements as the beloved continues
  to wander through episodes of the artist's life. Each time the <i>id&eacute;e fixe</i> is heard,
  it is slightly altered in order to reflect the changing perspective of the artist and his
  feelings. This reappearing theme ties the movements together and provides a kind of unity that
  early symphonies lack, a trait that would continue to be incorporated in music throughout the
  century.</p>
<div id="idee-fixe">
  <h1>the <i>id&eacute;e fixe</i></h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#idee-fixe', '../scores/idee_fixe.png', '../scores/idee_fixe.mp3');
    });
  </script>
</div>
<p>Here is Berlioz's program:</p>
<div class="quote">
  <p><b>Note</b><br/>
    It has been the composer's goal to develop different situations in the life of an artist,
    insofar as they are susceptible of musical treatment. The plot of the instrumental drama,
    lacking the help of the spoken word, needs to be presented beforehand. The following program
    must accordingly be viewed as the spoken text of an opera, serving to introduce musical pieces
    whose character and expression it motivates.</p>
  <p><b>First Part: Daydreams – Passions</b><br/>
    The author imagines that a young musician, affected by the moral malady which a famous writer
    calls <i>le vague des passions</i>, sees for the first time a woman who possesses all the charms
    of the ideal being he had fancied in his dreams, and falls hopelessly in love. Through a
    singular oddity, the image of the beloved never presents itself to the artist's imagination
    except tied to a musical idea, in which he perceives a certain impassioned quality, though noble
    and shy, as he imagines the object of his love to be.</p>
  <p>This musical reflection and its model pursue him incessantly like a double idée fixe. This is
    why the melody that opens the first allegro reappears constantly in all the other movements of
    the symphony. The passage from that state of dispirited daydreaming, occasionally interrupted by
    baseless transports of joy, to one of delirious passion, with its gusts of fury, of jealousy,
    its relapses into tenderness, its tears, its religious consolations, forms the subject of the
    first movement.</p>
  <p><b>Second Part: A Ball</b><br/>
    The artist finds himself in the most diverse situations of daily life: amid the tumult of a
    festivity, in the peaceful contemplation of the beauties of nature. But everywhere, whether in
    the town or in the fields, the image of the beloved obtrudes on him, bringing trouble to his
    spirit.</p>
  <p><b>Third Part: Country Scene</b><br/>
    Finding himself in the country one evening, he hears two shepherds playing a <i>ranz de
      vaches</i> [an Alpine cattle-call] in dialogue, far away; this pastoral duet, the scenery, the
    slight murmuring of the trees gently swayed by the wind, some recently formed grounds for hope –
    everything contributes to bringing an unaccustomed calm to his heart and a brighter color to his
    thoughts. He thinks of his loneliness; he hopes soon not to be alone anymore&hellip; But what if
    she were deceiving him? &hellip; This mixture of hope and fear, these visions of happiness
    troubled by dark forebodings, form the subject of the adagio. In the end, one of the shepherds
    resumes the <i>ranz de vaches</i>; the other no longer answers&hellip; Distant sound of thunder&hellip;
    solitude&hellip; silence&hellip;</p>
  <p><b>Fourth Part: March to the Scaffold</b><br/>
    Having become convinced that his love is not returned, the artist poisons himself with opium.
    The dose of narcotic, too weak to kill him, plunges him into a sleep beset with the most
    horrible visions. He dreams he has murdered the one he loved; he has been sentenced, is being
    led to the scaffold, is witnessing his own execution. The procession moves forward to the sounds
    of a march now somber and ferocious, now brilliant and stately, during which the muffled noise
    of heavy footsteps follows without transition upon the noisiest outbursts. At the end of the
    march, the first four measures of the idée fixe reappear like a last thought of love interrupted
    by the fatal blow.</p>
  <p><b>Fifth Part: Dream of a Sabbath Night</b><br/>
    He sees himself at the Sabbath, surrounded by a hideous crowd of spirits, sorcerers, monsters of
    every kind, assembled for his funeral. Strange noises, moans, bursts of laughter, distant cries
    to which other cries apparently respond. The beloved melody reappears again, but it has lost its
    noble and shy quality; now it is only a vile dance tune, trivial and grotesque; it is she,
    arriving at the Sabbath&hellip; Roar of joy at her arrival&hellip; She joins the diabolic orgy&hellip;
    Funeral knell, ludicrous parody of the Dies irae, Sabbath round dance. The Sabbath round dance
    and the Dies irae combined.</p>
</div>
<!--Hector Berlioz, New Edition of the Complete Works, XVI (Kassel: Bärenreiter, 1972), 3 – 4. Translated by Piero Weiss.-->

<p>For this topic, we will focus on the fourth movement. The movement maintains a steady march tempo
  throughout, adding to the inevitability of the artist's demise. A low ominous beginning builds to
  a climax, as if the procession is gaining followers. Fanfares accompany the artist with a joy and
  grandiosity that belies the situation. Listen for the variety of textures Berlioz presents us
  with, from the low rumbling of the timpani, to the brassy fanfares, pizzicato strings, plucky
  bassoon counterpoint, and crashing cymbals. The excitement increases toward the end, until just
  before his execution, the artist summons one last thought of his beloved. We hear just the
  beginning of her <i>id&eacute;e fixe</i> in the clarinet, at 6:24 in this recording, followed
  immediately by the sound of his head rolling to the ground. A final fanfare seals the scene.</p>
<div class="listen" id="fantastique">
  <h1>Berlioz, <i>Symphonie fantastique</i>, IV. Marche au Supplice</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#fantastique', 'jaCqE0Enb04');
    });
  </script>
</div>
<a name="theater" id="theater"></a>
<h2>Music and the Theater</h2>
<p>So far we have explored examples of music communicating programmatic or dramatic ideas on its
  own. But music was long incorporated with drama in more direct ways. One of the most common genres
  of dramatic music is melodrama, in which music punctuates the dialogue of a play, or sometimes
  occurs under the dialogue. A related genre is incidental music for plays, which again occurs
  between the action of the play. In these cases the music is not solely responsible for
  communicating or illustrating an idea or story, and so it can add other significant elements to
  the story. Music between scenes could keep the audience involved while the play paused for set
  changes. Music under or between dialogue could help communicate more about the characters or cause
  the audience to experience certain emotions. And it was often musicians that were responsible for
  the ever-important sound effects.</p>
<h3>The Overture and Mendelssohn's <i>A Midsummer Night's Dream</i></h3>
<p>An important genre that developed within the theatre is that of the overture. Originally
  overtures were unrelated to the drama that would follow, and merely communicated that the show was
  about to commence. Any overture would do, as they were all equally suited to the task. Gradually,
  composers began to write overtures that would hint at the nature of the drama to come, and even
  included previews of the main themes. Many of these overtures are still played in concert today,
  divorced from their succeeding dramas.</p>
<p>Felix Mendelssohn's Overture to <i>A Midsummer Night's Dream</i> is just such an overture. He
  actually wrote this overture first as a freestanding piece, and only later composed the incidental
  music for the play. The overture provides a good example of music that represents a snapshot of
  the drama, the essence of the play rather than a full unfolding of the story. It provides the
  atmosphere and just a hint of the characters and their conflicts. Mendelssohn's program, like
  Berlioz's, provided the explanation for his inventive use of musical sounds, and this overture was
  particularly known for the shimmering violins that so effortlessly conjure up images of fairy
  worlds.</p>
<p>Shakespeare's play is a comedy of misdirected love and matchmaking. Most of the action takes
  place during the night before the wedding of the Duke of Athens and the Queen of the Amazons. It
  involves the Fairy King and Queen who are quarrelling, the Fairy King's mischievous servant Puck,
  several love-struck residents of the realm, an unfortunate laborer who gets turned into a donkey,
  and of course some love potion. Listen to the overture below and see how well Mendelssohn seems to
  have captured Shakespeare's bawdy comedy.</p>
<div class="listen" id="midsummer">
  <h1>Mendelssohn, Overture to <i>A Midsummer Night's Dream</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#midsummer', 'out0FCQWBak');
    });
  </script>
</div>
<a name="opera" id="opera"></a>
<h2>Opera</h2>
<p>The works that historians consider the earliest operas were performed in the decades around 1600,
  a bold new art form fully integrating music and drama. Before this, entertainment consisted of
  various forms of dance or plays interrupted by incidental music. In the 16th century, a group of
  academics and scholars in Florence known as the Florentine Camerata (including Galileo's father)
  began studying the writings of the ancient Greeks. They were intrigued by ancient assertions about
  music's power to move emotions and heighten expressivity. In an effort to recreate what they
  understood Greek drama to be, the Camerata encouraged composers to create a drama that would be
  entirely sung through with instrumental accompaniment (for more about the earliest operas, see <a
          href="words.html#monody">Music and Words</a>).</p>
<p>These early experiments gained popularity, and composers continued to expand their expressive
  possibilities. By the nineteenth century, opera was one of the most lucrative and popular
  entertainment forms, and Italian opera was considered the style to imitate. Before the advent of
  <a target="">film</a>, opera provided the most integrated examples of music and drama, and
  spectacular staging as well.</p>
<p>An opera consists of a series of recitatives and arias. Every line is sung, and the music is
  generally continuous throughout. Recitatives are sections of singing that are set to music in a
  speech-like pattern, and may have many repetitions of notes in a small range. The accompaniment is
  usually lighter in these sections. This is where the plot moves forward and dialogue occurs,
  enabled by a musical style that allows the singer to move through a large amount of text. Rhythms
  and phrases are often irregular.</p>
<p>In contrast, arias are usually set to a poetic text, and are much more song-like in style.
  Melodies have a real tunefulness, phrases are balanced, and rhythms are more dancelike in
  character. These sections allow the character to stop and reflect, or to reveal their emotions.
  Arias are also the place for star virtuoso singers to show off their talents and earn spontaneous
  applause. Indeed, in the eighteenth century singers had acquired so much power because of their
  ability to draw audiences that composers sometimes had to create their <b>librettos</b> (the text)
  around opportunities for arias in order to guarantee the soloist enough chances to show off!</p>
<h3>Verdi's <i>La traviata</i></h3>
<p>In our exploration of the myriad ways music interacts with drama, we will use an example from
  Verdi's <i>La traviata</i> (1853) to illustrate character depiction. Verdi followed in the Italian
  <i>bel canto</i> opera tradition of Rossini, a tradition that emphasized the beautiful singing of
  its vocalists. Verdi was one of the most famous composers of opera in his day, and was known for
  his beautiful melodies and fine-tuned character portrayal. <i>La traviata</i> dates from the
  middle of his career, when he had turned away from the grand historical subjects and toward a more
  intimate, domestic setting that verged on realism.</p>
<p>The title <i>La traviata</i> can be translated as 'The Woman Gone Astray,' and is based on <i>La
  dame aux cam&eacute;lias</i> by Alexandre Dumas the younger. The novel is based on Dumas' own
  experience, and describes the fate of a passionate love pitted against middle-class morality and
  social values. The title character of the novel is based on a real woman, Marie Duplessis, who was
  in fact known for wearing camellias everywhere, and died at the young age of 23 from tuberculosis.
</p>
<p>Verdi's heroine goes by the name Violetta, but meets a fate similar to that of the woman she is
  modeled after. As a courtesan, she could not become the wife of a respectable man without ruining
  his reputation and that of his family. However, she falls in love with the dashing Alfredo,
  despite her best efforts against it. In the duet where he professes his love for her, she
  continues to make light of it and push him away with her words. But Verdi tells us what is really
  happening through his music, in which her vocal line intertwines with his in beautiful flourishes
  at the end of the duet.</p>
<p>After Alfredo leaves, Violetta ponders the possibility of letting herself love him in a typical
  two-verse aria form. She interrupts her own thoughts with a recitative, reminding herself that it
  would be folly, a crazy idea. This is followed by another aria in which she hardens her resolve
  and we see the carefree independence of her nature illustrated in the music. This three-part form
  is called a <i>scena</i>, from slow aria to interrupting recitative to fast aria (this last bit is
  also called a cabaletta), and was a typical structure in Italian opera.</p>
<table>
  <tr>
    <td class="labeltop" colspan="3"> Act 1, scene 6</td>
  </tr>
  <tr>
    <td>First Strophe</td>
    <td class="left">Ah, fors'&egrave; lui che l'anima<br/>
      Solinga ne' tumulti<br/>
      Godea sovente pingere<br/>
      De' suoi colori occulti.<br/>
      Lui, che modesto e vigile<br/>
      All'egre sogli ascese,<br/>
      E nuova febbre accese<br/>
      Destandomi all'amor!<br/>
      A quell'amor ch'&egrave; palpito<br/>
      Dell'universo intero,<br/>
      Misterioso, altero,<br/>
      Croce e delizia al cor.
    </td>
    <td class="left">Ah, perhaps he's the one<br/>
      Whom my lonely heart<br/>
      Delighted often to paint<br/>
      With vague, mysterious colors.<br/>
      He who, so modest and attentive<br/>
      During my illness, waited<br/>
      And with youthful fervor<br/>
      Aroused me again to love!<br/>
      To that love which animates <br/>
      the world,<br/>
      Mysterious, proud,<br/>
      Pain and delight to the heart.
    </td>
  </tr>
  <tr>
    <td>Second Strophe</td>
    <td class="left">A me, fanciulla, un candido<br/>
      E trepido desire,<br/>
      Quest'effgi&ograve; dolcissimo<br/>
      Signor dell'avvenire.<br/>
      Quando ne' cieli il raggio<br/>
      Di sua belt&agrave; vedea<br/>
      E tutta me pascea<br/>
      Di quell divino error.<br/>
      Sentia che amore &egrave; il palpito<br/>
      Dell'universo intero,<br/>
      Misterioso altero,<br/>
      Croce e delizia al cor.
    </td>
    <td class="left">To me, a girl, this was an innocent,<br/>
      Anxious desire,<br/>
      This sweet vision,<br/>
      Lord of things to come.<br/>
      When in the heavens I saw rays<br/>
      Of his beauty<br/>
      I fed myself completely<br/>
      On that divine error.<br/>
      I felt that love which animates <br/>
      the world,<br/>
      Mysterious, proud,<br/>
      Pain and delight to the heart.
    </td>
  </tr>
  <tr>
    <td>Recitative</td>
    <td class="left">Follie! Follie! Delirio<br/>
      Vano &egrave; questo!<br/>
      Povera donna, sola,<br/>
      Abbandonata, in questo<br/>
      Popoloso deserto che<br/>
      Appellano Parigi.<br/>
      Che spero or pi&ugrave;?<br/>
      Che far degg'io?<br/>
      Gioir!<br/>
      Di volutt&agrave; ne' vortici perir!<br/>
      Gioir!
    </td>
    <td class="left">Folly! Folly! What sort of crazy<br/>
      Dream is this!<br/>
      Poor woman, alone,<br/>
      Abandoned in this <br/>
      Populated desert that<br/>
      They call Paris.<br/>
      What hope have I?<br/>
      What can I do?<br/>
      Pleasure!<br/>
      Perish in a whirl of indulgence!<br/>
      Pleasure!
    </td>
  </tr>
  <tr>
    <td>Cabaletta</td>
    <td class="left">Sempre libera degg'io<br/>
      Folleggiare di gioia in gioia<br/>
      Vo'che scorra il viver mio<br/>
      Pei sentieri del piacer.<br/>
      Nasca il giorno, o il giorno muoia,<br/>
      Sempre lieta ne' ritrovi,<br/>
      A diletti sempre nuovi<br/>
      Dee volare il mio pensier.
    </td>
    <td class="left">Always free I must remain<br/>
      To reel from pleasure to pleasure, <br/>
      Running my life<br/>
      Along the paths of joy.<br/>
      From dawn to dusk<br/>
      I'm always happy finding <br/>
      new delights that make <br/>
      my spirit soar.
    </td>
  </tr>
  <tr>
    <td>(Alfredo)</td>
    <td class="left">Amor &egrave; palpito<br/>
      Dell'universo intero,<br/>
      Misterioso, altero,<br/>
      Croce e delizia al cor.
    </td>
    <td class="left">Love that animates<br/>
      The world,<br/>
      Mysterious, proud,<br/>
      Pain and delight to the heart.
    </td>
  </tr>
  <tr>
    <td>(Violetta)</td>
    <td class="left">Follie! Follie!<br/>
      Gioir! Gioir!
    </td>
    <td class="left">Folly! Folly!<br/>
      Pleasure! Pleasure!
    </td>
  </tr>
</table>
<p>Watch this scena in the example that follows, ignoring the comments that appear in the video.
  This version has been staged with modern dress, just the way Verdi's audiences would have seen it
  at the premier. Anna Netrebko, the soprano here, does a really nice job bringing out the
  personality of Violetta both in her voice and her acting.</p>
<div class="video" id="traviata-netrebko">
  <h1>Verdi, <i>La Traviata</i> with Anna Netrebko as Violetta</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#traviata-netrebko', 'Jrq6xdVwdf8');
    });
  </script>
</div>
<p>The link that follows is an optional version of this scena. You might want to watch just the
  first aria, which gives a beautiful version of the <i>bel canto</i> style of singing. Though, as
  an unstaged concert performance, the depiction of Violetta's personality is perhaps less
  convincing.</p>
<div class="video" id="traviata-unstaged">
  <h1>Verdi, <i>La Traviata</i> at The Sokcho Summer Festival, Sokcho, South Korea, 2005</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#traviata-unstaged', 'CYZngjS04SI');
    });
  </script>
</div>
<a name="film" id="film"></a>
<h2>Music and Film</h2>
<p>In the three hundred years of opera's existence before film, composers had learned a great deal
  about portraying drama through music. As we have seen, music can be a powerful aid in fleshing out
  characters and communicating the depth of their emotions beyond what the text can say. Some
  composers, particularly Mozart, learned to give their own commentary on characters: communicating
  with the audience directly through musical cues. These kinds of subtle signs are all over operas,
  but can often be difficult for our modern ears to detect. However, they were important precursors
  to the sound world of movies, and many of these operatic techniques are still being used in modern
  films to communicate the same kinds of information.</p>
<p>The earliest films were silent films, as the technology to synchronize sound had yet to be
  developed. A live pianist or organist would generally accompany the film in the theatre where it
  was shown. Most early films were not designed to match a specific score. Instead, the pianist
  would own a book of musical excerpts called "cues." These were organized by category: chase music,
  love music, fight music, etc. The pianist would simply flip to the right section and play a
  selection of music appropriate to the scene. Thus, each city the film travelled to might
  experience a different soundtrack. The music for these early films was largely in the style of
  Romanticism, a style still current in concert halls of the time. But it was also a style familiar
  enough that audiences would recognize the kind of simple message the music needed to convey; they
  would understand that certain sounds were ominous, others longing. As silent films became more
  complex, scores were specifically composed for each movie and travelled along with the film to
  replace the more generic cue books.</p>
<p>While some major classical composers wrote film scores in the 1920s, and some even included
  experimental musical styles, the dominating style of the next few decades was the familiar
  Romantic idiom. The background score of the Hollywood studio era (1930s – 1960s) set up functions
  for movie music that are still being used today. The Hollywood focus in film was always the
  narrative (as opposed to Bollywood, in which song takes precedence), and so the functions of music
  were largely in support of the narrative string, and synchronized sound technology made detailed
  scoring possible. Many of Hollywood's most important composers at this time had originally
  intended to find their careers in the world of classical music; that is, in concert halls and
  opera houses. But with the Great Depression and two world wars, few places had the financial
  backing or audiences to support lavish opera productions. Composers like Erich Korngold discovered
  that the techniques they had learned for composing opera music translated particularly well to
  movie music, and thus chose to make their careers in this growing industry.</p>
<p>During the studio era, classical music had continued to progress. The type of modernist music
  that would be heard in the concert hall was often atonal or electronic. The Romantic idiom had
  continued to dominate film music though, perhaps because it privileged melody and still relied on
  the type of musical cues that audiences had by now become very familiar with. However, around
  mid-century other musical idioms began to enter films, including folk, jazz, serialism,
  minimalism, and modernism. These idioms often symbolized specific settings; for example, jazz was
  usually associated with dark urban scenes or noir films, and serialism often portrayed space or
  aliens. A landmark development in scoring was the use of <i>musique concr&egrave;te</i>, or
  non-musical sounds in the score. Composer Ennio Morricone, working with Italian director Sergio
  Leone, incorporated many such sounds in his scores. He is also noted for his effective use of
  silence, a technique drawn from the samurai film tradition. The films these two worked on became
  known as "spaghetti westerns," since they were filmed in Italy but took place in the American
  West. Listen to the famous excerpt below, and we will view the way Morricone's soundtracks
  function in class.</p>
<div class="listen" id="good-bad-ugly">
  <h1>Morricone, score for <i>Il buono, il brutto, il cattivo</i>: Main Theme</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#good-bad-ugly', 'AkQowzXG5W4');
    });
  </script>
</div>
<h3>Popular Music and the Compilation Score</h3>
<p>Meanwhile, pop music was finding larger audiences on the radio, an invention which the majority
  of Americans considered their most important piece of furniture by this time. In an effort to
  compete with growing television audiences in the second part of the century and this rise of pop
  music, films began to incorporate pop into scores. Early examples include <i>Casablanca</i> with
  "As Time Goes By," and <i>Breakfast at Tiffany's</i> with "Moon River." This trend has continued,
  and provides an additional marketing element for film producers. A film like <i>Dick Tracy</i> can
  be marketed with three separate CD releases; one with the orchestral score by Danny Elfman, one
  with pastiche 1930s tunes written to evoke the era, and one with songs by Madonna written for or
  inspired by the movie. Similar situations are found with the scores for <i>Titanic</i>,
  <i>Matrix</i>, and <i>Batman</i>, not to mention the Bond films which commission a new popular
  artist for each film.</p>
<p>This kind of integration of popular music into the film score led to the use of the compilation
  score. Preexisting songs are combined to create a soundtrack, sometimes with additional orchestral
  underscoring. A famous example is the Beatles film <i>Help!</i>, which was made after the album
  was conceived. This means the plot has to be created around the existing songs. (Most of the film
  can be found on YouTube.) Songs like this can often transmit meaning faster and more concretely
  than Romantic orchestral music because of the lyrics. Such a soundtrack is also less flexible
  though, for the same reason.</p>
<h3>Williams's Score for <i>Star Wars</i></h3>
<p>The Romantic idiom never disappeared, however, and made a big comeback in the blockbuster films
  of the 1960s and 1970s. John Williams' score for the <i>Star Wars</i> trilogy is an important
  example for a number of reasons. First, it shows the use of <b>leitmotifs</b>, a technique
  continued from nineteenth-century opera. This term first originated with Wagner's operas, and
  stands for a small musical unit that signifies something. It may signify an object, a person, an
  event, or an emotion. Wagner used these small units to tell his story through the music, almost to
  the point of making the text superfluous. His music was saturated with these small units, and the
  way in which they were combined and interacted was intended to communicate more to the audience
  than the singers acting on stage.</p>
<p>We can easily see this technique at work in <i>Star Wars</i>. There are musical leitmotifs for
  each of the main characters: Yoda, Darth Vader, Luke and Leia together, etc. The first time we
  meet these characters, we hear their music. Throughout the movie, the music continues to signal
  their presence. The most apparent example is Darth Vader, whose music we often hear long before he
  actually enters the scene. These musical examples may be very familiar to you, but try to listen
  with fresh ears and determine what we learn about these characters just from the sound that
  accompanies them.</p>
<div class="listen" id="main-title">
  <h1>Williams, score for <i>Star Wars</i>: Main Title</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#main-title', 'e9lapdvLSGw');
    });
  </script>
</div>
<div class="listen" id="leia">
  <h1>Williams, score for <i>Star Wars</i>: Princess Leia</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#leia', 'eyHOUMWw5_M');
    });
  </script>
</div>
<div class="listen" id="yoda">
  <h1>Williams, score for <i>Star Wars</i>: Yoda</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#yoda', '9C8J-jhMtRA');
    });
  </script>
</div>
<div class="listen" id="imperial-march">
  <h1>Williams, score for <i>Star Wars</i>: Imperial March (Darth Vader)</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#imperial-march', 'u7HF4JG1pOg');
    });
  </script>
</div>
<p>John Williams was not the only composer to use leitmotifs in his scores, but the <i>Star Wars</i>
  scores are perhaps some of the most famous examples of this technique. However, as mentioned
  before, these scores are an important example for other reasons. First, they show how effective
  the Romantic idiom continued to be for audiences. Simple cues such as the difference between major
  and minor harmonies, march-like rhythms, or long sweeping melodies are still powerful
  communicators of basic elements of film. Second, this is a story about space, in space, and in the
  future. At the time these films were made this kind of story would have been scored by serialist
  atonal music or electronic sounds. The choice of a Romantic idiom was significant; it was meant to
  help draw us in as an audience, and to sympathize with the characters more immediately. These
  films broke a trend and opened up new doors for future composers.</p>
<p>Overall, film music continues to be dominated by a conservative symphonic idiom (<i>Lord of the
  Rings</i> provides a modern example) in original scores. The more adventurous modernist and
  post-modernist composers tend not to be in film. But this means that Hollywood is providing an
  outlet for new music in a style that is not necessarily accepted in the concert hall, though this
  too is beginning to change. And the use of preexisting music in a multitude of styles provides
  another choice for filmmakers, one that is often as inventive as original scoring.</p>
<h3>The Function of Music in Film</h3>
<p>Now we will turn to the topic that has been skirted throughout this discussion: what does music
  DO in film? Perhaps the most obvious function of music in film is scene-setting. The incorporation
  of global music is particularly useful here, as the sound of a sitar will transport an audience to
  India faster than any visual cue. Music can be useful in establishing time as well as place in
  setting, an aspect that is often more difficult visually. A farmhouse on the American prairie
  would be hard to locate in time, but a little ragtime playing on a scratchy old record player will
  immediately take an audience to the early twentieth century. Notice how the example below, from
  <i>Amelie</i>, communicates setting as well as emotional state.</p>
<div class="listen" id="amelie">
  <h1>Yann Tiersen, score to <i>Le fabuleux destin d'Amelie Poulain</i>: Theme (arr. N. Reiser and
    M. Keller)</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#amelie', 'i7h5QPM4q_E');
    });
  </script>
</div>
<p>Early Hollywood films were keen on using music to illustrate narrative. In fact, one of the first
  experiments with synchronized sound did just that. <i>Steamboat Willie</i> was the first animated
  Mickey Mouse cartoon, and is responsible for the term "mickey-mousing" to describe the way the
  music follows the characters' movements exactly. You can watch the film below.</p>
<div class="video" id="steamboat-willie">
  <h1><i>Steamboat Willie</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#steamboat-willie', 'BBgghnQF6E4');
    });
  </script>
</div>
<p>Underscoring, music playing under dialogue or in the background of action, is another way of
  illustrating the narrative, and has become increasingly complex over the years. In some cases,
  scoring can even foreshadow the narrative rather than illustrate it. This is when the character
  reaches to open the door and ominous minor chords sound, causing the audience to think, "don't
  open that door!" Similarly, music is a key part of establishing mood. The visual may present a
  neutral scene, or a new character, and music may be a large part of communicating whether this
  scene or character is good and pleasant or whether it is sad or villainous. Many of these
  functions of music in movies are often subconscious and immediate for the audience.</p>
<p>Music can interact with the drama in film in more complex ways as well. It may help to inform the
  audience of character motivations or emotions that are not yet apparent. It may help to unify a
  string of scenes that are visually choppy (think of the helicopter scene in <i>Apocalypse Now</i>,
  with Wagner playing in the background). Music may also be the thing that pulls us into the
  picture, providing the 3D element. This was the case with the villainous two-note motive in <i>Jaws</i>,
  to increase the audience reaction at a time when computer effects were not sufficiently
  convincing.</p>
<p>These are all examples of music reinforcing the visual element, or even increasing its potency.
  But music can also be used to contradict the visual. Directors such as Quentin Tarantino play with
  this aspect in order to manipulate audience emotions. A good example is the opening scene of <i>Pulp
    Fiction</i>, in which a grisly torture scene takes place to the sound of bubble-gum pop with
  harmless lyrics, so that we are meant to sympathize with the character doing the torturing.</p>
<h3>Classical Music in Film Scoring</h3>
<p>One final issue to address is the use of classical music in film scoring. Over the last two
  centuries, what we now call classical music, or more accurately Western art music, has been
  gradually diverging from a category we call pop music. This split was not always so fraught with
  the elitism that plagues it today, but film scores often make use of this elitist distinction as
  another way to communicate with the audience about the characters. For example, Baz Luhrmann's <i>Romeo
    & Juliet</i> is largely scored with pop music. But two important scenes use classical music: the
  party preparations where the lovers meet, and the final death scene. In the first case, classical
  music is a sign of Juliet's family's class and wealth. In the final scene, the music increases our
  emotional involvement by denying the distraction of lyrics. This traditional use of classical
  music to signal wealth, education, and class is turned on its head in movies like <i>Die Hard</i>
  and early Bond films, where the villain is a cultured European portrayed by classical music.</p>
<p>The interaction between visual and audio in modern film has become quite complex. The choices
  made by sound editors often reach the status of art, and many of these choices could make or break
  a film. It would be impossible to discuss all the important film scores or classical composers who
  have contributed to films in this short space, much less address the multitude of decisions made
  about using pre-existing music in film. Hopefully the discussion above will give you some idea of
  the diversity and uses of music in film, and allow you to continue exploring the topic on your
  own. Using music to communicate or illustrate narrative and other programmatic ideas has been a
  long part of our history. The examples are endless, but those we have covered show the kinds of
  connections that can be made between music and extra-musical sources, and the power music has to
  enhance our experience of those sources.</p>
{% endblock %}
