{% extends "layout.nunjucks" %}
{% block content %}
<h1>Dynamics</h1>
<div class="pic fltrt"><img src="../images/other/soundwave.png" alt="graph of sound waves" border="0"
                            width=350/></div>
<p><b>Dynamics</b> refer to the volume at which music is played. Just as <a href="pitch.html">pitch</a> is
    linked with the frequency of sound waves, volume is linked with their amplitude. However, just as pitch
    differs from frequency because it depends on perception, volume varies from amplitude in the same way.
    Amplitude is a physical property of sound that can be measured, but perceived volume is not directly linked
    with amplitude. Low pitches, for example, are perceived as being much more quiet than high pitches of the
    same amplitude.</p>
<p>Like so many things in music, dynamics are usually indicated in Italian. Often abbreviations for the Italian
    names are used, as in the chart below.</p>
<div class="clearfloat"></div>
<table>
    <tr>
        <td class="label">Italian Name:</td>
        <td><i>pianissimo</i></td>
        <td><i>piano</i></td>
        <td><i>mezzo piano</i></td>
        <td><i>mezzo forte</i></td>
        <td><i>forte</i></td>
        <td><i>fortissimo</i></td>
    </tr>
    <tr>
        <td class="label">Abbreviation:</td>
        <td><i>pp</i></td>
        <td><i>p</i></td>
        <td><i>mp</i></td>
        <td><i>mf</i></td>
        <td><i>f</i></td>
        <td><i>ff</i></td>
    </tr>
    <tr>
        <td class="label">Meaning:</td>
        <td>very quiet</td>
        <td>quiet</td>
        <td>somewhat quiet</td>
        <td>somewhat loud</td>
        <td>loud</td>
        <td>very loud</td>
    </tr>
</table>
<p>Any dynamic can be modified by additional adjectives:</p>
<ul class="disc">
    <li><i>sempre piano e dolce</i> - always quiet and sweet</li>
    <li><i>f espressivo</i> - loud, expressive</li>
    <li><i>pi&ugrave; forte</i> - stronger (louder)</li>
    <li><i>p assai</i> - very quiet (an alternative to <i>pp</i>, or indicating a dynamic between <i>p</i> and
        <i>pp</i>)
    </li>
</ul>
<h2>Changing Dynamics</h2>
<p>A composer may change the dynamic of a piece at any time by simply placing a dynamic name (<i>mezzo piano</i>)
    or abbreviation (<i>mp</i>) in the score. However, sometimes the composer will also want to indicate
    <i>how</i> the performer should transition to that dynamic.</p>
<p>When a composer wants to indicate a sudden and dramatic change in dynamics, he may prefix any dynamic with
    the term <b><i>subito</i></b> (literally 'suddenly') as in <i>subito piano</i> or <i>subito fortissimo</i>.
</p>
<div class="pic fltlft"><img src="../images/notation/dynamics.png"
                             alt="piano dynamic followed by a crescendo to forte and decrescendo back to piano"
                             width=255 border="0"/></div>
<p>For slow transitions between dynamics, a composer must use a <b><i>crescendo</i></b> or a
    <b><i>decrescendo</i></b> (<b><i>diminuendo</i></b>). A <i>crescendo</i> is used for gradually getting
    louder, and a <i>decrescendo</i> or <i>diminuendo</i> is used for gradually getting softer. These may be
    indicated with the terms themselves, by abbreviations (<i>cresc.</i>, <i>decresc.</i>, <i>dim.</i>), or
    graphically. The graphic representation of <i>crescendos</i> and <i>decrescendos</i> are &lt; and &gt; signs
    (sometimes called 'hairpins') which are placed below the staff lines and are stretched out underneath the
    notes that should be included in the dynamic change. Intuitively, &lt; is used for a <i>crescendo</i> and
    &gt; is used for a <i>decrescendo</i>.</p>
<p>Changes in dynamics can also be modified by additional adjectives:</p>
<ul class="disc">
    <li><i>diminuendo poco a poco</i> - becoming quiet, little by little</li>
    <li><i>molto crescendo</i> - becoming louder quickly</li>
    <li><i>decrescendo al niente</i> - becoming quiet to the point of silence, fading to nothing</li>
</ul>
{% endblock %}
