{% extends "layout.nunjucks" %}
{% block content %}
<h1>Ensembles</h1>
<p>This section is under construction. Check back soon!</p>
<!--
<p>Ensembles are simply groups of musicians that play together. A bluegrass band is an ensemble, a
  barbershop quartet is an ensemble, and an orchestra is an ensemble. In this section we will
  discuss some common types of ensembles in western music.</p>

<a name="chamber" id="chamber"></a>
<h2>Chamber Ensembles</h2>
<p>Unlike orchestral or choral pieces in which several musicians perform the same
  line of music, in chamber music there is only one person playing or singing each part.
  In art music, chamber works are usually designed to be performed in private homes or other small
  performance spaces, making listening to and performing chamber music an intimate experience.
  However, rock bands are also chamber ensembles and their performances sometimes take place in
  stadiums and other large venues.</p>
<p>Being part of a chamber ensemble is challenging for musicians because it demands both individual
  skill and a high degree of ensemble sensitivity. Chamber ensembles don't use conductors, so they
  must keep synchronized simply by watching and listening to each other. The intimacy of such groups
  can lead to interpersonal challenges as well. Rock bands are are known for breaking up over
  personal conflicts or 'artistic differences.' Chamber ensembles must balance their own
  musicianship with the needs of the group, and the chemistry of the ensemble must be just right to
  create the highest quality performances.</p>

<a name="orchestra" id="orchestra"></a>

<a name="chorus" id="chorus"></a>

-->
{% endblock %}
