{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <li>Experiments in Composition</li>
    <ul>
      <li><a href="#atonal">Schoenberg and Atonal Music</a></li>
      <li><a href="#aleatory">John Cage and Aleatory Music</a></li>
      <li><a href="#tintin">Arvo P&auml;rt and Tintinnabuli</a></li>
    </ul>
    <!--<li>Experiments with Instruments</li>-->
    <!--<ul>-->
      <!--<li><a href="#bpe">The Bowed Piano Ensemble</a></li>-->
    <!--</ul>-->
    <!--<li>Experiments with Technology</li>-->
    <!--<ul>-->
      <!--<li><a href="#concrete"><i>Musique concr&egrave;te</i> and Sampling</a></li>-->
    <!--</ul>-->
  </ul>
</div>
<h1>Extended Techniques and Experimental Music</h1>
<p>It is difficult to define 'experimental music' because sounds and techniques that are innovative
  and boundary-pushing at their inception often become part of the mainstream over time. Often the
  term <b><i>avant-garde</i></b> (a French military term meaning 'vanguard' or 'front line') is used
  to discuss music that challenges audiences and critics to reexamine their definition of music
  itself. Using this term in a broad sense, we will examine several different composers whose
  controversial work questioned traditional notions about the nature and purpose of music.</p>
<a name="atonal" id="atonal"></a>
<h2>Experiments in Composition</h2>
<h3>Schoenberg and Atonal Music</h3>
<p>In the early 20<sup>th</sup> century, Arnold Schoenberg (1874-1951) and his students, Alban Berg
  (1885-1935) and Anton Webern (1883-1945), explored ways to dispense with <b>tonality</b>, the
  well-established system of keys and scales that underlies the vast majority of Western music. They
  pursued <b>atonality</b> with composition techniques that deliberately avoided patterns that
  evoked familiar scales, chords, and other trappings of tonality. They also rejected established
  notions of harmony and sought "the emancipation of dissonance" as a fundamental aspect of music.
</p>
<p>Schoenberg, Berg, and Webern saw themselves as the continuation of the great Viennese
  Austro-German musical tradition established by Haydn, Mozart, and Beethoven. The latter three are
  often known collectively as the <b>Viennese School</b>, so the former began to refer to themselves
  as the <b>Second Viennese School</b> to reflect their sense of inheritance. From an aesthetic
  standpoint, however, there is little shared between the two groups of composers. Listen briefly to
  a minuet for piano by Mozart and one by Schoenberg, both performed by the same pianist, Glenn Gould:</p>
<div class="listen" id="mozart-menuetto">
  <h1>Mozart, Piano Sonata No. 11 in A major, K. 331: II. Menuetto</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#mozart-menuetto', 'DGvYopgqlvc');
    });
  </script>

</div>
<div class="listen" id="schoenberg-menuett">
  <h1>Schoenberg, <i>Suite for Piano</i>, Op. 25: Menuett</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#schoenberg-menuett', 'yDUw_gAvYBQ');
    });
  </script>
</div>
<h4>Serialism and Twelve-Tone Methods</h4>
<p>In the piece above, Schoenberg used a compositional technique called <b>serialism</b> in order to
  avoid tonality and create some measure of structure and unity in the piece. When applied to
  pitches, this technique involves creating a <b>set of pitches</b> in a fixed order that would
  appear over and over in a single piece. This may sound simplistic, but there are several different
  ways that the set can be used: as a melody (in sequence), as harmony (simultaneously), or as a
  combination of melody and harmony. Furthermore, the set could appear in its original, or
  <b>prime</b> form, or it could be altered by one or more of the following processes:</p>
<ul class="disc">
  <li><b>transposition</b> - keeping the same pattern of intervals, but starting on a different
    pitch
  </li>
  <li><b>retrograde</b> - playing the set backwards</li>
  <li><b>inversion</b> - changing the direction of each interval (major 3rd up becomes major 3rd
    down)
  </li>
</ul>
<p>Schoenberg's special variation on this system is called the <b>twelve-tone</b> composition
  technique. In this method, the series includes all 12 pitches available in the Western pitch
  system. This creates an landscape of sound in which no single pitch is more important than any
  other - a dramatic departure from the tonal system that is based largely on the interplay between
  the tonic and dominant pitches alone.</p>
<p>In Schoenberg's system, transpositions, retrogrades, and inversions can create 48 different
  versions of a single 12-pitch set. Any of these versions could appear in a piece as melody,
  harmony, or a combination of the two. These possibilities show that the technique of serialism is
  actually much more varied that its basic principles might have initially suggested.</p>
<h4>Atonality in Modern Music</h4>
<p>When Schoenberg, Berg, and Webern called themselves the Second Viennese School, it was because
  they believed that they were starting a revolution that would transform the way that music would
  be heard and composed forever. They believed that they were modernizing music and that their
  techniques and aesthetics would soon become mainstream. Although there are still composers that
  write atonally and exploit serialist techniques and ideas (Jerry Goldsmith, for example, did so in
  his scores for <i>Planet of the Apes</i> and <i>Alien</i>), atonality never became the dominant
  system and remains a stylistic dead end.</p>
<a name="aleatory" id="aleatory"></a>
<h3>John Cage and Aleatory Music</h3>
<p>John Cage (1912-1992) is considered one of the most important figures in avant-garde music
  following World War II. After studying various art forms as a young man, Cage studied composition
  with Schoenberg in the 1930s and was so inspired by the older composer that he vowed to devote his
  life to music. Although he studied Schoenberg's twelve-tone technique and used it in a few
  compositions, Cage found himself drawn to a variety of compositional methods.</p>
<p>His interest in dance and friendship with choreographer Merce Cunningham led him to a greater
  interest in percussion instruments and creating structures based on lengths of time. In 1938, Cage
  was working on a dance piece and found himself very limited in terms of performance space. Instead
  of using a large percussion ensemble, as was usual for him at the time, had to limit himself to a
  much smaller ensemble. Cage decided to use a single piano and, remembering the experiments of his
  friend and colleague, Henry Cowell, he began inserting screws, bolts, and pieces of felt between
  the strings to dramatically alter the sounds that could be created at the keyboard. This practice
  became known as <b>prepared piano</b>
  <!--, and will be explored in more depth below in the section on-->
  <!--the <a href="#bpe">Bowed Piano Ensemble</a> -->
  . Here is an example of one of Cage's prepared piano pieces:</p>
<div class="listen" id="prepared">
  <h1>Cage, <i>Sonatas and Interludes for Prepared Piano</i>: First Interlude</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#prepared', 'HT5OaGMcJYw');
    });
  </script>
</div>
<p>Inspired by Asian philosophy and the work of composer Morton Feldman, Cage also became interested
  in <b>aleatoricism</b>, the use of chance operations in the creative process. Using chance as part
  of the compositional process transformed the role of the composer from "making to accepting," as
  Cage put it, and that idea fascinated him. Cage rolled dice, tossed coins, and found a wide
  variety of ways to introduce chance into his pieces.</p>
<p>His interest in aleatory music also led him to new ideas about the aesthetics of silence. If
  chance could soften the composer's control over his piece and make compositions more spontaneous
  and natural, then silence could represent an even stronger negation of the composer's intentions
  and preferences. To Cage, a silent concert hall represented the absence of intentional sounds, but
  other sounds remained: unintentional, ambient sounds. In other words, when intentional sounds are
  silenced, what remains is the natural noise of the world around us.</p>
<p>In 1952 he combined his interest in aleatoricism with his new ideas about silence in
  <b><i>4'33"</i></b>, his most famous and controversial composition. The piece consists of three
  movements of silence, the lengths of which were determined by chance operations, totaling 4
  minutes and 33 seconds. Some dismiss Cage as a charlatan and see <i>4'33"</i> as little more than
  a joke or scam. Others value the piece for the philosophical questions it evokes: What is music,
  what is noise, and what is the role of a composer? Watch this performance of <i>4'33"</i>
  and decide for yourself:</p>
<div class="video" id="four-thirty-three">
  <h1>Cage, <i>4'33"</i> performed by the EBU Euroradio Orchestra</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#four-thirty-three', 'OovYr0w7BMA');
    });
  </script>
</div>
<a name="tintin" id="tintin"></a>
<h3>Arvo P&auml;rt and Tintinnabuli</h3>
<p>Arvo P&auml;rt (1935-) is an Estonian composer who has also experimented with several different
  compositional approaches throughout his career. His earliest works are <b>neo-classical</b>,
  meaning that they draw on the styles and forms of music from the time of Mozart, Haydn, and
  Beethoven. In the 1960s he began studying the serial techniques of Schoenberg and the Second
  Viennese School, applying those ideas to rhythm in addition to pitch in his pieces. Soviet
  officials scorned these serial pieces for their harsh dissonance, and they also criticized P&auml;rt's
  overt expressions of Christian belief in some of his works.</p>
<p>After receiving such strong disapproval, P&auml;rt revamped his style again. He started to study
  Gregorian chant and other early music, which led him to return to a much more simple and consonant
  aesthetic. He then developed a technique that he called '<b>tintinnabuli</b>'. The term is drawn
  from the sound of tintinnabulation, or tinkling of bells, which is represented by the three notes
  of a triad in his technique. In the tintinnabuli style, a melodic voice moves in small intervals
  around a central pitch, while a second voice (the tintinnabuli voice) sounds the notes of the
  tonic triad, one at a time, moving together with the melodic voice as in chorale-type homophony.
  In <i>Fratres for Strings and Percussion</i>, this technique is combined with a low drone and
  occasional interjections from the percussion section.</p>
<div class="listen" id="fratres">
  <h1>P&auml;rt, <i>Fratres for Strings and Percussion</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#fratres', 'NLvLQpSFbV0');
    });
  </script>
</div>
<!--<a name="bpe" id="bpe"></a>-->
<!--<h2>Experiments with Instruments</h2>-->
<!--<h3>The Bowed Piano Ensemble</h3>-->
<!--<p class="upcoming">Prepared piano for 10 players</p>-->
<!--<a name="concrete" id="concrete"></a>-->
<!--<h2>Experiments with Technology</h2>-->
<!--<h3><i>Musique concr&egrave;te</i> and Sampling</h3>-->
<!--<p class="upcoming">Making music out of sounds through recording technology</p>-->
{% endblock %}
