{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <!--<li><a href="#fauvel"><i>Roman de Fauvel</i></a></li>-->
    <!--<li><a href="#bel">Passereau's "Il est bel et bon"</a></li>-->
    <li><a href="#figaro">Mozart's <i>Marriage of Figaro</i></a></li>
    <li><a href="#till">Strauss's <i>Till Eulenspiegel</i></a></li>
    <li><a href="#chicago">Kander and Ebb's <i>Chicago</i></a></li>
    <!--<li><a href="#popular">Comedy Bands and Humor in Popular Music</a></li>-->
  </ul>
</div>
<h1>Humor in Music</h1>
<p>Music has been the vehicle for scathing satire, bawdy <i>double entendres</i>, and
  mistaken-identity antics throughout its history. Sometimes the seriousness of a particular musical
  style is used as an ironic backdrop for irreverent lyrics, and other times the music captures the
  playfulness of a humorous subject. Music can also be used to make fun of itself. The following are
  examples of humor in music from the 14th to the 21st centuries.</p>
<!--<a name="fauvel" id="fauvel"></a>-->
<!--<p class="upcoming"><i>Roman de Fauvel</i></p>-->
<!--<a name="bel" id="bel"></a>-->
<!--<p class="upcoming">Passereau's "Il est bel et bon"</p>-->

<a name="figaro" id="figaro"></a>
<h2>Mozart's <i>Marriage of Figaro</i></h2>
<p>Wolfgang Amadeus Mozart (1756-1791) is one of the most admired and well-known composers in the
  Western world. Mozart was a child prodigy, both as a pianist and as a composer. <i>Le nozze di
    Figaro</i> (<i>The Marriage of Figaro</i>) is an opera composed by Mozart in 1786. The story is
  based on a play by Pierre Beaumarchais (1732-1799) entitled <i>La Folle Journ&eacute;e, ou Le
    Mariage de Figaro</i> (<i>The Crazy Day, or The Marriage of Figaro</i>). This play is a sequel
  to his earlier play, <i>Le Barbier de S&eacute;ville</i> (<i>The Barber of Seville</i>), which was
  also adapted into an opera that was set to music by Gioachino Rossini (1792-1868). Much like the
  <i>Star Wars</i> series, these operas were staged out of order. Although <i>The Marriage of
    Figaro</i> is the sequel to <i>The Barber of Seville</i>, Mozart's opera premiered in 1786 and
  predates Rossini's by 30 years.</p>
<p>The libretto of <i>The Marriage of Figaro</i> was written by Lorenzo da Ponte, who collaborated
  with Mozart on two other operas: <i>Don Giovanni</i> and <i>Cos&igrave; fan tutte</i>.
  Beaumarchais's play was originally in French and included some material that foreshadowed the
  French Revolution of 1789–1799. Knowing that this political material would agitate the censors in
  Vienna where the opera would be staged, Da Ponte removed this content, but otherwise adapted the
  story faithfully. Although Vienna is German speaking, Da Ponte translated the play into the
  standard language of opera in this period: Italian.</p>
<p>Unlike earlier opera that focused on serious topics and noble characters like gods and royalty,
  this story is a comedy and the main character is a servant. This new type of opera was called <b>comic
    opera</b> (<i>opera buffa</i> or <i>opera comique</i>) to distinguish it from the earlier style,
  <b><i>opera seria</i></b>. Comic opera not only focuses on middle-class characters, but it often
  makes fun of the upper-class characters for their corruption or ineptitude. Characters who
  represent middle-class values such as hard work, honesty, and respectability are the heroes of
  these stories.</p>
<p>The excerpt below from <i>The Marriage of Figaro</i> is neither aria nor recitative, but an <b>ensemble</b>
  piece. Duets (especially love duets) are the most common ensemble numbers in opera, but in this
  case Mozart chose to write a <b>sextet</b> (six characters singing together) to bring a close to
  Act 3. The six characters in this piece are Figaro, Susannah, Marcellina, Don Bartolo, Count
  Almaviva, and Judge Curzio.</p>
<p>In the story, Figaro and Susannah are engaged. Figaro owes money to Marcellina, and has a
  contract with her stating that if he does not pay the debt then he must marry her. Don Bartolo has
  a grudge against Figaro (which was established in <i>The Barber of Seville</i>) and therefore
  supports Marcellina's case. Count Almaviva is married, but wants to stop Susannah's marriage to
  Figaro so that he can have her as his mistress, despite her many rejections. Judge Curzio is
  brought in by the Count to settle the matter.</p>
<p>When Judge Curzio says that Figaro must marry Marcellina unless he can pay the debt, Figaro
  claims that he is of noble lineage and that it would be improper to marry without the consent of
  his family. The Count asks who his relatives are, and Figaro explains that he was stolen as an
  infant, but that he was found with gold, jewels, and fine clothing, all signs of high birth. He
  also mentions a birthmark, and Marcellina asks if it is on his left arm. When he confirms that it
  is, Bartolo exclaims that Marcellina is Figaro's long lost mother and that Bartolo himself is
  Figaro's father. The sextet begins as they celebrate their reunion. Follow the lyrics and story
  below to see how Mozart uses music to express the varied emotions in this humorous scene.</p>
<div class="listen" id="sextet">
  <h1>W.A. Mozart, <i>Le nozze di Figaro</i>, Act 3, Sextet: <i>"Riconosci in questo amplesso una
    madre"</i> ("Recognize a mother in this hug")</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#sextet', 'BLuK3MKGM3E');
    });
  </script>
</div>
<table>
  <tr>
    <td class="labeltop">Story and Musical Events</td>
    <td class="labeltop">Original Italian</td>
    <td class="labeltop">English Translation</td>
  </tr>
  <tr>
    <td width="30%" class="left">Gentle melodies reflect the mood of reconciliation and good will as
      the reunited parents and child embrace each other.
    </td>
    <td class="left"><i>Marcellina:</i><br/>
      Riconosci in questo amplesso<br/>
      una madre, amato figlio!<br/>
      <i>Figaro:</i><br/>
      Padre mio, fate lo stesso,<br/>
      non mi fate pi&ugrave; arrossir.<br/>
      <i>Bartolo:</i><br/>
      Resistenza la coscienza<br/>
      far non lascia al tuo desir.
    </td>
    <td class="left"><i>Marcellina:</i><br/>
      In this embrace, find once more<br/>
      your mother, my beloved son!<br/>
      <i>Figaro:</i><br/>
      My father, do the same,<br/>
      Let’s put an end to this enmity.<br/>
      <i>Bartolo:</i><br/>
      Resistance, my conscience<br/>
      Now overrules you.
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Judge Curzio and the Count sing to express their surprise and
      confusion.
    </td>
    <td class="left"><i>Don Curizo:</i><br/>
      Ei suo padre, ella sua madre,<br/>
      l’imeneo non pu&ograve; seguir.<br/>
      <i>Il Conte:</i><br/>
      Son smarrito, son stordito,<br/>
      meglio &egrave; assai di qua partir.
    </td>
    <td class="left"><i>Judge Curzio:</i><br/>
      He’s his father, she’s his mother,<br/>
      then the marriage can’t proceed.<br/>
      <i>Count Almaviva: </i><br/>
      I’m bewildered, I’m confounded,<br/>
      it’s much better to leave here.
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Figaro alternates with Marcellina and Bartolo, then all three sing
      together.
    </td>
    <td class="left"><i>Marcellina and Bartolo:</i><br/>
      Figlio amato!<br/>
      <i>Figaro:</i><br/>
      Parenti amati!
    </td>
    <td class="left"><i>Marcellina and Bartolo:</i><br/>
      Beloved son!<br/>
      <i>Figaro:</i><br/>
      Beloved parents!
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Susannah enters to pay Figaro’s debt, but does not yet know what is
      happening.  She stops the Count who is trying to leave.
    </td>
    <td class="left"><i>Susanna:</i><br/>
      Alto, alto, signor Conte,<br/>
      mille doppie son qui pronte,<br/>
      a pagar vengo per Figaro,<br/>
      ed a porlo in libert&agrave;.
    </td>
    <td class="left"><i>Susanna:</i><br/>
      One moment, my lord,<br/>
      I have the money here and ready,<br/>
      I have come to pay for Figaro,<br/>
      and to set him free.
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Marcellina, Bartolo, and Figaro continue to embrace and celebrate. 
      The Count and Judge Curzio continue to express their confusion.
    </td>
    <td class="left"><i>Marcellina and Bartolo:</i><br/>
      Figlio amato!<br/>
      <i>Figaro:</i><br/>
      Parenti amati!<br/>
      <i>Il Conte and Don Curizo:</i><br/>
      Non sappiam com’&egrave; la cosa,<br/>
      osservate un poco l&agrave;!
    </td>
    <td class="left"><i>Marcellina and Bartolo:</i><br/>
      Beloved son!<br/>
      <i>Figaro:</i><br/>
      Beloved parents!<br/>
      <i>Count Almaviva and Judge Curzio:</i><br/>
      I don’t know what’s going on,<br/>
      Look over there!
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Susannah finds Figaro embracing Marcellina.  Suddenly the harmonies
      are more dissonant and the rhythms more aggressive, reflecting Susannah’s emotions.  Figaro
      tries to calm her, returning to a more gentle melody, but Susannah slaps him.
    </td>
    <td class="left"><i>Susanna:</i><br/>
      Gi&agrave; d’accordo ei colla sposa;<br/>
      giusti Dei, che infedelt&agrave;!<br/>
      Lascia iniquo!<br/>
      <i>Figaro:</i><br/>
      No, t’arresta!<br/>
      Senti, oh cara!<br/>
      <i>Susanna:</i> <br/>
      [d&agrave; uno schiaffo a Figaro]<br/>
      Senti questa!
    </td>
    <td class="left"><i>Susanna:</i><br/>
      In agreement with his wife already!<br/>
      good God, what infidelity!<br/>
      Leave her, you traitor!<br/>
      <i>Figaro:</i><br/>
      No, wait!<br/>
      Hear me, my dear!<br/>
      <i>Susanna:</i> <br/>
      [slaps Figaro’s face]<br/>
      Hear this!
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Marcellina, Bartolo, and Figaro are sympathetic towards Susannah,
      knowing that her anger is caused by her love for Figaro.  The Count is furious and Judge
      Curzio sympathizes with him.  Susannah is also furious, thinking (mistakenly) that Figaro has
      betrayed her.  All sing at once.
    </td>
    <td class="left"><i>Marcellina, Bartolo and Figaro:</i><br/>
      &egrave; un effetto di buon core,<br/>
      tutto amore &egrave; quel che fa.<br/>
      <i>Il Conte:</i><br/>
      Fremo, smanio dal furore,<br/>
      il destino a me la fa.<br/>
      <i>Don Curizo:</i><br/>
      Freme e smania dal furore,<br/>
      il destino gliela fa.<br/>
      <i>Susanna:</i><br/>
      Fremo, smanio dal furore,<br/>
      una vecchia a me la fa.
    </td>
    <td class="left"><i>Marcellina, Bartolo and Figaro:</i><br/>
      It comes of a good heart,<br/>
      it’s all for love’s sake.<br/>
      <i>Count Almaviva:</i><br/>
      I burn, I tremble with fury,<br/>
      destiny does this to me.<br/>
      <i>Judge Curzio:</i><br/>
      He burns, he trembles with fury,<br/>
      destiny does this to him.<br/>
      <i>Susanna:</i><br/>
      I burn, I tremble with fury,<br/>
      an old woman does this to me.
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Marcellina explains to Susannah that she is Figaro’s mother and
      will soon be her own mother-in-law.
    </td>
    <td class="left"><i>Marcellina:</i><br/>
      Lo sdegno calmate,<br/>
      mia cara figliuola,<br/>
      sua madre abbracciate<br/>
      che or vostra sar&agrave;.
    </td>
    <td class="left"><i>Marcellina:</i><br/>
      Be calm,<br/>
      my dear daughter,<br/>
      and embrace his mother<br/>
      who must now be yours too!
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Susannah, amazed, turns to the others for confirmation, then back
      to Figaro.
    </td>
    <td class="left"><i>Susanna:</i><br/>
      Sua madre?<br/>
      <i>Gli altri, alternati:</i><br/>
      Sua madre!<br/>
      <i>Susanna:</i> [to Figaro]<br/>
      Tua madre?
    </td>
    <td class="left"><i>Susanna:</i><br/>
      His mother?<br/>
      <i>Others, alternating: </i><br/>
      His mother!<br/>
      <i>Susanna:</i> [to Figaro]<br/>
      Your mother?
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Singing solo, Figaro explains that Bartolo is also his father.</td>
    <td class="left"><i>Figaro:</i><br/>
      E quello &egrave; mio padre<br/>
      che a te lo dir&agrave;.
    </td>
    <td class="left"><i>Figaro:</i><br/>
      And that is my father<br/>
      as he will tell you.
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Once again, Susannah turns to the others for confirmation, then
      back to Figaro.
    </td>
    <td class="left"><i>Susanna:</i><br/>
      Suo padre?<br/>
      <i>Gli altri, alternati:</i><br/>
      Suo padre!<br/>
      <i>Susanna:</i> [a Figaro]<br/>
      Tuo padre?
    </td>
    <td class="left"><i>Susanna:</i><br/>
      His father?<br/>
      <i>Others, alternating: </i><br/>
      His father!<br/>
      <i>Susanna:</i> [to Figaro]<br/>
      Your father?
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">Singing solo again, Figaro confirms that Marcellina is his mother. 
      All four embrace.
    </td>
    <td class="left"><i>Figaro:</i><br/>
      E quella &egrave; mia madre<br/>
      che a te lo dir&agrave;.
    </td>
    <td class="left"><i>Figaro:</i><br/>
      And that is my mother,<br/>
      as she will tell you.
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">All sing together; Judge Curzio and the Count sing of their
      frustrations while the other four enjoy the sweetness of their reunion.
    </td>
    <td class="left" rowspan="2"><i>Susanna, Marcellina, Bartolo, and Figaro:</i><br/>
      Al dolce contento<br/>
      di questo momento,<br/>
      quest’anima appena<br/>
      resister or sa.<br/>
      <i>Don Curzio and Il Conte:</i><br/>
      Al fiero tormento<br/>
      di questo momento,<br/>
      quest’anima appena<br/>
      resister or sa.
    </td>
    <td class="left" rowspan="2"><i>Susanna, Marcellina, Bartolo, and Figaro:</i><br/>
      This soul hardly knows<br/>
      how to resist <br/>
      the sweet contentment<br/>
      of this moment.<br/>
      <i>Judge Curzio and Count Almaviva:</i><br/>
      This soul hardly knows<br/>
      how to resist<br/>
      the fiery torments<br/>
      of this moment.
    </td>
  </tr>
  <tr>
    <td width="30%" class="left">The two groups alternate lines, juxtaposing even more explicitly
      the torment (<i>tormento</i>) of the Count and Judge Curzio with the contentment
      (<i>contento</i>) of the others.
    </td>
  </tr>
</table>
<a name="till" id="till"></a>
<h2>Strauss's <i>Till Eulenspiegel</i></h2>
<p>German composer Richard (<i>RIK-hard</i>) Strauss (1864-1949) is best known for his tone poem <i>Also
  Sprach Zarathustra</i> (1895/6), which was used in <a href="http://youtu.be/3XyS7uCtnq0?t=16"
                                                        target="_blank" rel="noopener noreferrer">the opening of Stanley
  Kubrick's film <i>2001: A Space Odyssey</i></a>. Strauss composed in a variety of genres, but is
  most famous for his operas and <b>tone poems</b>, single movement pieces for orchestra based on
  poems, stories, or events. Strauss lived during the rise and fall of the Nazi party in Germany,
  and, although he had Jewish family members and disagreed with the Nazi agenda, he was appointed as
  head of the government music bureau by Joseph Goebbels, the infamous Reich Minister of Propaganda.
  He was later forced to resign when the government intercepted a letter he wrote to his Jewish
  librettist, Stefan Zweig, which criticized the Nazi party. A de-Nazification tribunal cleared
  Strauss of any wrongdoing in June 1948.</p>
<p>Till Eulenspiegel, a character from Medieval German folklore, was originally taken up as the
  subject of an opera, but Strauss abandoned this idea in favor of a tone poem, which he completed
  in 1894. The full title of the piece is <i>Till Eulenspiegels lustige Streiche, nach alter
    Schelmenweise—in Rondeauform—für grosses Orchester gestetzt</i> ('Till Eulenspiegel's merry
  pranks, in the manner of an old rogue—in rondo form—set for full orchestra'). <i>Eulenspiegel</i>
  means 'owl's mirror' and alludes to an old adage: "One sees one's own faults no more clearly than
  an owl sees its own ugliness in a looking glass." Till's role, then, is to expose the ills of
  society and hypocrisy of the ruling class through his rebellious antics. The piece recalls cartoon
  music in its dramatic shift from one idea to the next and its playful gestures, and may
  have inspired later musical portrayals of mischievous characters like <a
          href="https://youtu.be/cqyziA30whE" target="_blank" rel="noopener noreferrer">Tom and
    Jerry</a> or <a href="https://youtu.be/bgUwKZk1pqA" target="_blank" rel="noopener noreferrer">Wile
    E. Coyote and the Road Runner</a>. As you listen, see if you can imagine a story that fits the
  sounds as they develop and evoke different moods.</p>
<div class="listen" id="till-video">
  <h1>Richard Strauss, <i>Till Eulenspiegel</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#till-video', '4Btza2jqjHc');
    });
  </script>
</div>
<p>The tone poem begins with a phrase in the strings that fits the words "Es war einmal" ("once upon
  a time"), which is an appropriate way to begin a folktale. Solo horn then introduces Till's
  teasing, energetic theme at 0:16, which reappears throughout the piece along with a playful
  clarinet melody (first heard at 1:10) that also seems to represent Till's mischievous spirit or
  laugh. We then follow Till throughout the city as he damages property, flirts with the ladies, and
  causes mischief disguised as a monk or a scholar. What do you think is being represented by the
  cymbal crash and noisemaker at 3:12, or the solo violin at 4:55?</p>
<p>At 13:13 things become grim as Till is caught and must answer for his crimes at the gallows.
  Nonetheless, Till's spirit is unbroken as we know from numerous interjections of the playful
  clarinet theme. The opening "once upon a time" theme also returns at the very end, as if to
  suggest that Till's legend lives on regardless of authorities' attempts to eliminate him.</p>
<a name="chicago" id="chicago"></a>
<h2>Kander and Ebb's <i>Chicago</i></h2>
<p><i>Chicago</i> is a musical theater piece that takes place in the 1920s during the United States'
  prohibition of alcohol. It is based on the 1927 play by Maurine Dallas Watkins, who modeled the
  story after real events she covered as a reporter. The dark comedy satirizes the corruption of the
  criminal justice system and its connection with show-business through the idea of the "celebrity
  criminal." The play was adapted into a musical by composer John Kander, lyricist Fred Ebb, and
  director/choreographer Bob Fosse and premiered on Broadway in 1976.</p>
<p>The musical aesthetic is based on 1920s jazz and <b>vaudeville</b> variety shows. Speakeasy jazz,
  ventriloquism, tap dancing, tightrope walking, clown, and burlesque acts all appear in
  <i>Chicago</i>.</p>
<p>In the story, Roxie Hart has murdered her lover, Fred Casely, and has been arrested. With the
  help of her lawyer, Billy Flynn, she is trying to lie and charm her way out of a conviction. The
  whole ordeal is treated like a stage performance, from the "Press Conference Rag," which emulates
  a ventriloquist act, to "Razzle Dazzle," a acrobatics number, in which Billy prepares Roxie for
  her testimony in court.</p>
<p>In the "Press Conference Rag," Billy does all the talking for Roxie, inventing a story that will
  win the sympathy of the reporters. The term 'rag' refers to <b>ragtime</b>, a genre of music
  usually performed on the piano that was popular in the years surrounding 1900. Ragtime is known
  for its syncopated or 'ragged' rhythms in the right hand and steady beats in the low left hand. As
  you listen, notice the use of the piano and various percussion instruments in this number. Also
  consider the way that the juxtaposition of the press conference with the ventriloquism act
  expresses the satire of the situation.</p>
<div class="video" id="press-rag">
  <h1>Kander and Ebb, <i>Chicago</i>: "Press Conference Rag"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#press-rag', 'SBM82Ju2kJU');
    });
  </script>
</div>
<p>Roxie's husband, Amos, is one of the few morally upstanding characters in <i>Chicago</i>. When
  Roxie claims to be pregnant in order to gain more sympathy from the public, Amos believes the lie
  and is excited about being a father. In "Mr. Cellophane," Amos takes on the classic vaudeville
  persona of the hobo clown and laments his powerlessness and invisibility.</p>
<div class="video" id="cellophane">
  <h1>Kander and Ebb, <i>Chicago</i>: "Mr. Cellophane"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#cellophane', 'WKHzTtr_lNk');
    });
  </script>
</div>
<p>Matron "Mama" Morton is the warden of the prison where Roxie and the other murderesses are held.
  In "When You're Good to Mama", she sings metaphorically about doing favors for prisoners in
  exchange for bribes. The double entendres in the lyrics associate this piece with <b>burlesque</b>,
  a type of variety act for adult audiences that featured bawdy comedy and stripteases. In this
  performance, Queen Latifah captures that heritage in her provocative gestures, revealing costume,
  and feathered props.</p>
<div class="video" id="mama">
  <h1>Kander and Ebb, <i>Chicago</i>: "When You're Good to Mama"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#mama', 'VoDS1lWdpjw');
    });
  </script>
</div>
<!--<a name="popular" id="popular"></a>-->
<!--<h2>Comedy Bands and Humor in Popular Music</h2>-->
<!--<p class="upcoming">Humor in Popular Music</p>-->
{% endblock %}
