{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <li>Jazz</li>
    <ul>
      <li><a href="#new_orleans">New Orleans Jazz</a></li>
      <ul>
        <li>Louis Armstrong</li>
      </ul>
      <li><a href="#swing">Big Band and Swing</a></li>
      <li><a href="#bebop">Bebop</a></li>
    </ul>
    <li><a href="#popular">Improvisation in Popular Music</a></li>
    <li><a href="#classical">Improvisation in Classical Music</a></li>
    <ul>
      <li>Mozart's Piano Concerto No. 14</li>
      <li>Bach's Toccata in D Minor</li>
      <li>Gershwin's <i>Rhapsody in Blue</i></li>
    </ul>
    <li><a href="#another_sense">Improvisation in Another Sense</a></li>
    <ul>
      <li>Gershwin's "Summertime"</li>
    </ul>
  </ul>
</div>
<h1>Improvisation</h1>
<p>When you hear the word improvisation, jazz is likely the first thing that comes to mind.
  Improvisation is an important element of musical identity for that genre, and so our discussion of
  improvisation will begin there. But jazz is not the only type of music to engage in improvisatory
  gestures, and we will explore some of these other avenues as well.</p>
<p>The term improvisation covers a wide array of meanings. Its most common definition refers to
  music that is spontaneously formed as it is performed. However, it can also refer to music that
  elaborates an existing framework. In most cases, improvisation adheres to a set of rules or
  conventions that govern the act of creation. Improvisation is usually associated with music that
  is not written down, though we will explore some examples where this relationship between the
  spontaneous and the written is more complex.</p>
<h2>Jazz</h2>
<p>When we talk about improvisation in the context of jazz, we are generally talking about the
  spontaneous embellishment or variation of a preexisting melody. A typical jazz tune will begin
  with the statement of that melody, relatively unchanged, over a set harmonic structure. Each time
  this harmonic structure is repeated, it is called a <b>chorus</b>. After the first initial
  statement of the melody, players take turns improvising over the set harmonic pattern. Note that
  this use of the term chorus differs from its use in popular music or song, where a chorus
  alternates with verses.</p>
<a name="new_orleans" id="new_orleans"></a>
<h3>New Orleans Jazz</h3>
<p>One of the earliest types of jazz is now known as New Orleans jazz, for the place where it
  originated. New Orleans had a particularly rich musical culture, with elements of French and Cuban
  culture, and a surplus of instruments leftover from the marching bands of the Spanish-American war
  (1898). Similar styles also emerged in places like Kansas City. This early jazz style drew on the
  musical influences of the blues, spirituals, ragtime, and European elements such as marches,
  hymns, and fiddle tunes. Syncopated rhythms were played by a rhythm section consisting of piano,
  bass, banjo (and later guitar), and drums, with tuba substituted for the piano and bass when the
  band was on the move. A variety of wind and brass instruments were responsible for playing the
  melody. The New Orleans jazz sound is especially characterized by group improvisation, or sections
  where multiple players improvise solos at the same time. This results in a complex counterpoint
  among the parts, or polyphony. The expressive melodic style of this music drew on earlier blues
  style, and the alternation between the group and single soloists was reminiscent of the
  call-and-response of African spirituals. The syncopated rhythms drew on ragtime, and the
  organization of the tune and harmony in 12, 16, or 32 bar patterns was a legacy of 12-bar blues,
  16-bar ragtime and marches, and the 32 bar song form.</p>
<h4>Louis Armstrong</h4>
<p>One of the most famous performers of New Orleans jazz was Louis Armstrong (1901-1971). Although
  he moved from New Orleans to Chicago at the age of 22, and spent the later part of his life in New
  York, his style is considered a prime example of the New Orleans sound. He formed his own band in
  Chicago, the Hot Five or the Hot Seven depending on its current membership, with which he made
  most of his recordings. By the time he went to Chicago, he was already a famous jazz trumpeter,
  but he also became known for his unique voice, which he used in scat singing – a type of singing
  with nonsense syllables. Armstrong's recordings are considered the epitome of the New Orleans
  sound, but he also helped the genre evolve by placing greater importance on virtuosic soloing by
  an individual.</p>
<p>The following piece, "Willie the Weeper," was recorded with the Hot Seven in 1927. It is an
  unusual example of the jazz form discussed above, as it has two choruses: one in the major key and
  one in the minor key. In the listening you will hear each chorus played twice at the beginning,
  then a series of improvisatory solos over the set harmonic progressions, and finally a concluding
  chorus with group improvisation. Armstrong and his band rarely wrote down their music. Instead
  they played a melody and harmonic progression from memory, and then improvised over these
  so-called "head arrangements." The order in which each band member soloed over the harmony was
  either worked out in advance, or communicated by signals while playing. With so little of the
  music determined before the band plays, the cohesion and "tightness" of their playing is a thing
  to admire.</p>
<div class="video" id="weeper">
  <h1>Louis Armstrong and His Hot Seven performing "Willie the Weeper"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#weeper', 'QJpjA9RWkiQ');
    });
  </script>
</div>
<a name="swing" id="swing"></a>
<h3>Big Band and Swing</h3>
<p>As audiences for jazz grew, bands played in increasingly larger venues, from ballrooms to movie
  theaters. With larger audiences and larger spaces to fill, the bands soon grew in size as well.
  Though the general form of the music was essentially the same as New Orleans jazz, the sound was
  much mellower and more polished. With more musicians to coordinate, improvisation had to be less
  spontaneous. The tunes and harmony were written out, the band members played from sheet music, and
  a band-leader determined who would solo and when. Several talented musicians became quite well
  known as band-leaders in the 1930s and 1940s, among them Glenn Miller, Count Basie, Benny Goodman,
  and Duke Ellington, whose music follows. Note the muted trombone solo midway through, that has a
  surprising similarity to the sound of Armstrong's scat voice.</p>
<div class="video" id="ellington">
  <h1>Duke Ellington performing "It Don't Mean a Thing"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#ellington', 'qDQpZT3GhDg');
    });
  </script>
</div>
<a name="bebop" id="bebop"></a>
<h3>Bebop</h3>
<p>Many of the jazz musicians from the big bands would retire to smaller clubs at the end of the
  night. Here they engaged in "cutting contests" with each other, competitions to see how fast and
  how innovative a musician could be in improvising on known tunes. This style of playing had a
  sharper bite, was less polished and more spontaneous, and returned jazz playing to the small clubs
  of its early days. The style became known as Bebop and signaled a reaction to the big band sound
  in the 1940s. Bebop returned the focus to the performer: to their virtuosity, expressiveness, and
  improvisation. It also marked the beginning of an elitist attitude in jazz, similar to that which
  had developed in classical music. For even though performers might play familiar tunes, they
  played them at such breakneck speeds and with such freedom to add dissonance or experiment with
  the harmony that only seasoned listeners could fully appreciate their performances. Two of bebop's
  greatest performers were Charlie "Bird" Parker, saxophone, and Dizzy Gillespie, trumpet. The
  following is a piece by Parker in the bebop style called "Koko". Listen for the incredibly fast
  and virtuosic melody lines that are a hallmark of the bebop style.</p>
<div class="video" id="koko">
  <h1>Charlie Parker performing "Koko"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#koko', 'i_ZajJd-1kY');
    });
  </script>
</div>
<a name="popular" id="popular"></a>
<h2>Improvisation in Popular Music</h2>
<p>We have examined improvisation in the early forms of jazz, and improvisation certainly continues
  to be a major characteristic of jazz to this day. But there are other genres of modern music that
  also use this technique. One of the most obvious is that of the "jam band" in rock music. Bands
  like Phish and The Grateful Dead incorporate extended improvisation into their songs over a
  rhythmic groove and harmonic structure that functions quite similarly to jazz models. A song may
  start out in a familiar way, but each performance is unique. This has garnered such bands a large
  following of fans who travel the country to see their favorite band perform live, since each
  performance is always a little bit new. This fan base has also created a market for recordings of
  these live shows. Bands such as The String Cheese Incident, Leftover Salmon, O.A.R., The Flaming
  Lips, Bela Fleck and the Flecktones, and the Dave Matthews Band show how varied the jam band sound
  has become, as these bands draw on genres from punk and rock to jazz and bluegrass.</p>
<p>Another genre that draws heavily on improvisatory technique is that of the live DJ. Like jazz
  musicians who must be familiar with a tune and its chord changes before performing it, the DJ must
  know his records extremely well. Each performance may combine the recordings in new ways or put
  them in a different order, but the materials the DJ uses to build the overall sound are part of
  his collection and will be largely the same from performance to performance. In addition to using
  these building blocks in new ways, the DJ also improvises by adding his own sounds to the mix,
  such as scratching. The legacy of the DJ is rather complicated, as the technique became an
  important part of dance and electronic music culture as well as rap and hip-hop culture. For the
  purpose of relating the DJ to our improvisation theme we will only take a glance at one of the
  earliest DJs to begin developing these techniques on turntables: DJ Kool Herc.</p>
<div class="video" id="dj">
  <h1>DJ Kool Herc on DJ Techniques</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#dj', 'Hw4H2FZjfpo');
    });
  </script>
</div>
<p>Like our earlier jazz examples, both the DJ and the jam band have returned the creation of music
  to a constantly evolving act of performance. Some things may be planned out or rehearsed, but
  ultimately the music exists only in time. Recordings can capture the live event, and some DJs like
  Moby have even made the recording their focus. Yet none of this improvised music is written down,
  where it can be considered an object.</p>
<a name="classical" id="classical"></a>
<h2>Improvisation in Classical Music</h2>
<p>Improvisation has been an important part of classical music throughout history as well, despite
  our current association of classical music with a written object. We have already looked at an
  example of the concerto form, but without discussing one of its most fundamental characteristics.
  Most concertos contain a section called the <b>cadenza</b>. Usually occurring in the first and
  last movements of a concerto, the cadenza offers the soloist an opportunity to show off their
  technical skills in an improvised solo. Prior to the nineteenth century, it was expected that the
  cadenza would be created by the performer, not the composer. Accordingly, this section of the
  music would be left blank, with merely an instruction that the cadenza should occur there. The
  orchestra accompanying the soloist would drop out during the cadenza until the soloist paused on a
  dominant chord, thus signaling the reentrance of the orchestra. Clever soloists could incorporate
  parts of the main themes into the cadenza, or the soloist could simply show off with complicated
  scales and arpeggios. The soloist might work out a plan for the cadenza before the performance,
  but it was expected that the cadenza would not be written out and would have a spontaneous flavor.
</p>
<h3>Mozart's Piano Concerto No. 14</h3>
<p>Wolfgang Amadeus Mozart wrote many piano concertos in his career, and is in fact credited with
  establishing the genre. The piano was his primary performing instrument, so many of these were
  written for his own appearances in concert. Concerto No. 14, K. 449, was written in 1784,
  presumably for a series of concerts that Mozart gave that season. It holds a special place in
  Mozart's works, as a pivot point between earlier stylistic traits and Mozart's later explorations
  in the genre. Like the earlier concertos, No. 14 is accompanied by a small orchestra with only
  oboes and horns to augment the strings. The orchestra operates as a unit, as in the earlier
  concertos. In later works, Mozart would add flute, bassoons, and trumpet to the orchestra and
  treat the winds as a separate voice from the strings. The first movement of Concerto No. 14 also
  displays the kind of confrontational writing between orchestral utterances and the piano responses
  that would become typical in his later concertos, as well as in his operas between characters. But
  the concerto is significant for giving the orchestra a more important role with these
  confrontational utterances than it had in previous concertos. Additionaly, Concerto No. 14 adheres
  to the typical concerto form, but already shows adventurous harmonic moves and whispers of the
  experimentation with form that can be seen in later concertos.</p>
<p>Piano Concerto No. 14 is in the typical three-movement concerto form of the Classical period. We
  will focus on the first movement, in the expected sonata form. Concerto sonata form contains a <b>double
    exposition</b>, in which the orchestra presents the first theme, second theme, and closing theme
  all in the tonic, followed by the entrance of the piano, which proceeds to play these themes again
  but with a modulation to the dominant on the second theme. This particular concerto is unique in
  that the orchestral exposition includes a modulation to the dominant on the second theme. The
  double exposition is followed by a development in which the oppositional character of the writing
  is evident. A chromatic rising line in the piano leads surprisingly into the recapitulation, a
  technique that Mozart would continue to use but that appears especially shocking here. The trill
  in the piano that leads into the cadenza does not confirm the tonic, but rather the relative
  minor, another unusual choice. Finally, the cadenza is performed and leads into the closing theme
  to finish the movement.</p>
<div class="listen" id="mozart-piano14">
  <h1>W.A. Mozart, Piano Concerto No. 14, Mvt. I</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#mozart-piano14', 'd-sggMan3jQ');
    });
  </script>

  <div class="links">
    Recommended:
    <a href="http://www.naxosmusiclibrary.com/preview/catalogueinfo.asp?catID=NI5749-50"
       target="_blank" rel="noopener noreferrer" title="Listen on Naxos: NI5749-50, track 7"><img
            src="../images/layout/naxos.png" alt="Naxos"></a>
    <a href="http://colorado.naxosmusiclibrary.com/stream.asp?s=10796%2Fucolorado07%2Fqs9418%5F001"
       target="_blank" rel="noopener noreferrer" title="Listen on Naxos for University of Colorado"><img
            src="../images/layout/cu.png" alt="University of Colorado"></a>
    <a href="http://www.classicsonline.com/catalogue/product.aspx?pid=808047" target="_blank" rel="noopener noreferrer"
       title="Buy on Classics Online: NI5749-50, track 7"><img
            src="../images/layout/classics_online.png" alt="Classics Online"></a>
    <!--<a href="AMAZONLINK" target="_blank" rel="noopener noreferrer" title="Buy on Amazon"><img src="../images/layout/amazon.png" alt="Amazon"></a>
    Alternative:
    <a href="YOUTUBELINK" target="_blank" rel="noopener noreferrer" title="Listen on YouTube"><img src="../images/layout/youtube.png" alt="YouTube"></a>-->
  </div>
  <div class="clearfloat"></div>
</div>
<p>It wasn't until the nineteenth century that it became common for cadenzas to be written out.
  Virtuoso performers like Paganini and Liszt created extraordinarily difficult cadenzas for
  themselves and later performers sought to imitate them. Eventually, one performer's version of a
  cadenza began to be published along with the concerto, as if the composer had intended there to be
  only one manner of playing a cadenza. This has continued to be the case, where a cadenza is often
  memorized from someone else's performance rather than created by the performer themselves.</p>
<p>In fact, the nineteenth century marks a great change in our definition of the musical object. It
  was during this period that composers wanted to control every aspect of their art and leave
  nothing to the performer. The written object exactly represented the aural product. But in earlier
  periods, this was not the case. For example, in the Baroque era the written object was merely a
  guide for performing, much the way the symbol "G7" tells a guitarist what to play, but does not
  communicate exactly how many notes should appear in the chord or what register they should appear
  in. In the Baroque era this kind of guide for performing was called <b>figured bass</b>. The
  composer had only to write out the lowest bass note with suggestions of the intervals that should
  be played above that note to fill out the sound. Figured bass was often played by two players, one
  to play the notated bass line (a cellist or bassoonist, for example), and one to fill in the
  chords (usually a harpsichordist). The second performer had to <b>realize</b> the symbols by
  determining the proper pitches to complete the chords and selecting rhythms for those pitches.
  Look at the examples below from Caccini's <i>Vedr&ograve; 'l mio sol</i> to see what the composer
  wrote and two possible versions of what the performer might play.</p>
<div id="unrealized">
  <h1>original version with unrealized figured bass</h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#unrealized', '../scores/figured_bass_unrealized.png', '../scores/figured_bass_unrealized.mp3');
    });
  </script>
</div>
<div id="chordal">
  <h1>simple chordal realization of figured bass</h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#chordal', '../scores/figured_bass_chordal.png', '../scores/figured_bass_chordal.mp3');
    });
  </script>
</div>
<div id="figuration">
  <h1>figured bass realization with figuration</h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#figuration', '../scores/figured_bass_figuration.png', '../scores/figured_bass_figuration.mp3');
    });
  </script>
</div>
<h3>Bach's Toccata in D Minor</h3>
<p>Some early forms of music even resemble frozen improvisations, a moment of spontaneous creativity
  captured on paper (rather than on a recording, as with our jazz examples). The Baroque genre of
  the <b>toccata</b> is just such a form, specifically meant to embody an improvised style of
  playing. Toccatas (from the Italian "to touch") were usually written for the organ or harpsichord,
  and included a variety of textures and rhythms. Pieces were made of many smaller sections ending
  with weakened cadences in order to keep the piece moving. Performers were free to end the piece at
  any of these moments by simply strengthening the cadences, another mark of performance creativity
  that resonates with the spirit of improvisation.</p>
<p>J.S. Bach's Toccata in D Minor is perhaps one of the most well known examples of the genre, an
  especially dramatic version of a toccata. By this time, it was common to pair the free style of a
  toccata with a <b>fugue</b>, whose controlled counterpoint provided a nice contrast of mood and
  texture. Though this toccata is fully composed, it is representative of the style of improvised
  playing that many of Bach's contemporaries would have been capable of. Bach himself often worked
  out ideas at the keyboard before setting them to paper, and was even asked to improvise on themes
  before eager audiences, so it would not be too much of a stretch to imagine this piece played in
  such a spontaneous way. Listen for the contrasting textures and rhythms of this toccata, whether
  riffs on a scale, arpeggios, chords, or some other texture. The toccata is followed by a fugue in
  the same key (at 2:41 in the first link), in which a fugal theme is repeated in different voices,
  or registers, in exact imitation. The visual representation in these recordings will help you see
  the theme each time it appears.</p>
<div class="video" id="bach-visual">
  <h1>J.S. Bach, Toccata in D Minor (with visualization)</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#bach-visual', 'ATbMw6X3T40');
    });
  </script>
</div>
<div class="video" id="bach-notation">
  <h1>J.S. Bach, Toccata in D Minor (with notation)</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#bach-notation', 'DH6lYHWz2yY');
    });
  </script>
</div>
<p>There are many examples throughout the history of classical music of fully composed sections of
  music that are designed to sound improvised. In addition to the toccatas and fantasias of the
  Baroque period, one could add Beethoven's slow introductions to his piano sonatas, some of
  Chopin's Preludes for piano, and even some modern atonal music. The performance of much of
  Chopin's music often includes an element of improvisation as well, specifically with the technique
  of <b>rubato</b>. Meaning "to rob," rubato is the gentle stretching of the tempo to increase its
  intensity, followed by a speeding up to regain the proper tempo.</p>
<p>But if we want to discover the origins of this improvisatory urge, we could look all the way back
  to chant. Chants are now written out in musical notation, but only after centuries of evolution.
  Perhaps it would be fair to consider chant a type of captured improvisation as well. Certainly the
  additions to the liturgy that we call <b>tropes</b> came from a spontaneous creative spirit that
  may have fulfilled early performers' impulses to improvise. Even the <i>Dies irae</i> (see <a
          href="borrowing.html#dies_irae">Musical Borrowing</a>) was originally one such trope. It
  is also interesting to note the connection between the performance of chant and that of a DJ's
  dance music: both are intended for a purpose (for worship in one case and dance in the other),
  both are musical acts rather than objects, and both types of music are of little use to their
  respective audiences without their accompanying functions (of worship and dancing).</p>
<h3>Gershwin's <i>Rhapsody in Blue</i></h3>
<p>To culminate our topic on improvisation in classical music, we can turn to one final example.
  George Gershwin's <i>Rhapsody in Blue</i> is an ideal illustration of the many types of
  improvisation we have examined, as it is a hybrid work, sometimes called symphonic jazz. Gershwin
  was known for this style, incorporating jazz instruments and harmony into classical forms. The
  term rhapsody was used in classical music to denote an improvisatory form, just as the toccata
  was. Additionally, the piece is a one-movement concerto for piano and orchestra, and just as with
  any classical concerto the soloist is offered an opportunity to play a cadenza. In the first
  performance of this piece, Gershwin himself played the piano and improvised the cadenza, later
  writing it out as part of the score. Take a listen and notice these hybrid elements, particularly
  the prominence of certain jazz instruments near the beginning. Do you think this combination of
  styles is successful?</p>
<div class="video" id="rhapsody">
  <h1>George Gershwin, <i>Rhapsody in Blue</i>, performed by Leonard Bernstein</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#rhapsody', 'xxb7yNG0DGc');
      embedYouTube('#rhapsody', 'BgPV0jLmdSM');
    });
  </script>
</div>
<p>In this performance, the soloist and conductor is Leonard Bernstein, an important figure in the
  history of American music for his avid support of American composers.</p>
<a name="another_sense" id="another_sense"></a>
<h2>Improvisation in Another Sense</h2>
<p>These examples of improvisation offer illustrations of one sense of the word improvisation. Now
  we are going to expand the definition a bit and see what other kinds of connections can be made.
  Many of the early jazz tunes that musicians created became influential for later musicians, and
  continued to be played by performers in new ways. We call these pieces <b>standards</b>, and the
  new versions by other performers are known as <b>covers</b>. This type of piece represents a
  different angle on our topic of improvisation, in that the piece itself may be fully written out
  with little room left for improvisation on the melody, as with the song "Summertime." New versions
  of the piece, or covers, can thus be considered an improvisation on the original in that they are
  elaborations of the existing framework. The new performer may add a different vocal style, new
  instrumentation, or in some other way vary the original piece to create a new expression of it.
  Gershwin's "Summertime" has been the basis of many covers since he wrote it (some counts hit the
  25,000 mark), so we will use its example to explore this relationship between new elaborations and
  pre-existing material.</p>
<h3>Gershwin's "Summertime"</h3>
<p>"Summertime" is an aria and a recurring melody in Gershwin's opera <i>Porgy and Bess</i> (1935).
  Here is the original version:</p>
<div class="listen" id="summer">
  <h1>Gershwin, "Summertime" from <i>Porgy and Bess</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#summer', '_Lj4OKithgk');
    });
  </script>
</div>
<p>Some of the following performers have taken liberties with the lyrics, and some have discarded
  them altogether. Some performers have changed the instrumentation or tempo, and some have even
  extemporized on the melodic material. As you listen to these examples, think about the differences
  you hear and what makes these performance choices effective (or ineffective!).</p>
<p>The first three examples show how different performers within the jazz community have treated the
  song. In 1936, Billie Holiday was the first to record a cover of "Summertime" in the jazz style,
  so we will begin with her version.</p>
<div class="video" id="billie-summer">
  <h1>Billie Holiday performing "Summertime"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#billie-summer', '2J5nwuAwBQs');
    });
  </script>
</div>
<div class="listen" id="ella-summer">
  <h1>Ella Fitzgerald performing "Summertime"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#ella-summer', 'VZRgiuAXRAs');
    });
  </script>
</div>
<div class="video" id="miles-summer">
  <h1>Miles Davis performing "Summertime"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#miles-summer', 'EPj22GjTUzw');
    });
  </script>
</div>
<p>The following examples show how different musicians within the classical tradition have
  interpreted the song. Notice the different expressive techniques that are used to communicate its
  meaning without the lyrics. The King's Singers are a group of early music singers, specializing in
  music of the Renaissance such as madrigals. Itzhak Perlman is a renowned classical violinist; you
  may have heard his soul rending performance style in <i>Schindler's List</i>.</p>
<div class="listen" id="clarinet-summer">
  <h1>Clarinet quartet arrangement of "Summertime" by Massimo Ricci</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#clarinet-summer', 'W1uUNYdEDLg');
    });
  </script>
</div>
<div class="listen" id="fazil-summer">
  <h1>Variations on "Summertime" by Fazil Say for solo piano</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#fazil-summer', 'U89oKFqb3Z4');
    });
  </script>
</div>
<div class="listen" id="swingle-summer">
  <h1>Swingle Singers performing "Summertime"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#swingle-summer', 'eF4Nbe1ZPj4');
    });
  </script>
</div>
<div class="video" id="itzhak-summer">
  <h1>Itzhak Perlman and the Modern Jazz Quartet performing "Summertime"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#itzhak-summer', 'GD9D1d1T4WQ');
    });
  </script>
</div>
<p>The following are two of the many examples from the realm of popular music. Notice what liberties
  are taken with the lyrics.</p>
<div class="video" id="janice-summer">
  <h1>Janice Joplin performing "Summertime"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#janice-summer', 'i4HhG6DyoBU');
    });
  </script>
</div>
<div class="video" id="sublime-summer">
  <h1>Sublime performing "Summertime"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#sublime-summer', 'ayE6Shlv598');
    });
  </script>
</div>
{% endblock %}
