{% extends "layout.nunjucks" %}
{% block content %}
<h1>Instrument Families</h1>
<p>Musical instruments fall into five broad categories according to how they generate sounds:</p>
<div class="row">
  <div class="six columns center-text alpha">
    <div class="subsect">
      <p><b>Chordophones</b></p>
      <p>Chordophones produce sound with <b>vibrating strings</b>.</p>
      <div class="photo inlinebox">
        <a href="../images/instruments/guitar.png" target="_blank" rel="noopener noreferrer">
          <img alt="guitar" src="../images/instruments/guitar_sm.png">
          <br>
          guitar
        </a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/violin.png" target="_blank" rel="noopener noreferrer">
          <img alt="violin" src="../images/instruments/violin_sm.png">
          <br>
          violin
        </a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/cello.png" target="_blank" rel="noopener noreferrer">
          <img alt="cello" src="../images/instruments/cello_sm.png">
          <br>
          cello
        </a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/harp.png" target="_blank" rel="noopener noreferrer">
          <img alt="harp" src="../images/instruments/harp_sm.png">
          <br>
          harp
        </a>
      </div>
    </div>
  </div>
  <div class="six columns center-text omega">
    <div class="subsect">
      <p><b>Aerophones</b></p>
      <p>Aerophones produce sound with <b>vibrating columns of air</b>.</p>


      <div class="photo inlinebox">
        <a href="../images/instruments/trumpet.png" target="_blank" rel="noopener noreferrer">
          <img alt="trumpet" src="../images/instruments/trumpet_sm.png">
          <br>trumpet</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/flute.png" target="_blank" rel="noopener noreferrer">
          <img alt="flute" src="../images/instruments/flute_sm.png">
          <br>flute</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/whistle.png" target="_blank" rel="noopener noreferrer">
          <img alt="whistle" src="../images/instruments/whistle_sm.png">
          <br>whistle</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/bagpipes.png" target="_blank" rel="noopener noreferrer">
          <img alt="bagpipes" src="../images/instruments/bagpipes_sm.png">
          <br>bagpipes</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="one-third column center-text alpha">
    <div class="subsect">
      <p>
        <b>Membranophones</b>
      </p>
      <p>Membranophones produce sound with <b>vibrating membranes</b>.</p>
      <div class="photo inlinebox">
        <a href="../images/instruments/snare_drum.png" target="_blank" rel="noopener noreferrer">
          <img alt="snare drum" src="../images/instruments/snare_drum_sm.png">
          <br>snare drum</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/timpani.png" target="_blank" rel="noopener noreferrer">
          <img alt="timpani" src="../images/instruments/timpani_sm.png">
          <br>timpani</a>
      </div>
    </div>
  </div>
  <div class="one-third column center-text nested">
    <div class="subsect">
      <p>
        <b>Idiophones</b>
      </p>
      <p>Idiophones produce sound with the <b>vibration of the body of the instrument</b>.</p>
      <div class="photo inlinebox">
        <a href="../images/instruments/xylophone.png" target="_blank" rel="noopener noreferrer">
          <img alt="xylophone" src="../images/instruments/xylophone_sm.png">
          <br>xylophone</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/maracas.png" target="_blank" rel="noopener noreferrer">
          <img alt="maracas" src="../images/instruments/maracas_sm.png">
          <br>maracas</a>
      </div>
    </div>
  </div>
  <div class="one-third column center-text omega">
    <div class="subsect">
      <p>
        <b>Electrophones</b>
      </p>
      <p>Electrophones produce sound <b>electronically</b> or with the aid of <b>electronic
        components</b>.</p>
      <div class="photo inlinebox">
        <a href="../images/instruments/theremin.png" target="_blank" rel="noopener noreferrer">
          <img alt="theremin" src="../images/instruments/theremin_sm.png">
          <br>theremin</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/synthesizer.png" target="_blank" rel="noopener noreferrer">
          <img alt="synthesizer" src="../images/instruments/synthesizer_sm.png">
          <br>synthesizer</a>
      </div>
    </div>
  </div>
</div>
<p>This classification system, known as the Hornbostel-Sachs system, was originally created by Erich
  Moritz von Hornbostel and Curt Sachs to describe musical instruments all over the world. If we
  limit ourselves to the western music tradition, we find groups that may be more familiar to you;
  some that correspond with the Hornbostel-Sachs classifications, and others that do not.</p>
<h2>Instrument Families in Western Music</h2>
<h3>Keyboards</h3>
<div class="row">
  <div class="six columns">
    <p>Instruments like the piano, harpsichord, and organ use a keyboard as the interface between
      the performer and the instrument. The piano and harpsichord are chordophones, and the organ is
      an aerophone that uses air columns flowing through pipes to create sounds, but all three are
      traditionally operated by a single musician at a keyboard, so they are typically considered
      part of the keyboard family.</p>
  </div>
  <div class="six columns center-text">
    <div class="subsect">
      <p>
        <b>Keyboards</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/piano.png" target="_blank" rel="noopener noreferrer">
          <img alt="piano" src="../images/instruments/piano_sm.png">
          <br>piano</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/harpsichord.png" target="_blank" rel="noopener noreferrer">
          <img alt="harpsichord" src="../images/instruments/harpsichord_sm.png">
          <br>harpsichord</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/organ_pipes.png" target="_blank" rel="noopener noreferrer">
          <img alt="organ pipes" src="../images/instruments/organ_pipes_sm.png">
          <br>organ pipes</a>
      </div>
    </div>
  </div>
</div>
<h3>Strings</h3>
<p>Most chordophones are part of the string family of instruments in the western system. These are
  divided into groups of instruments that are bowed (ex. violin, cello), plucked (ex. harp, guitar),
  and hammered (hammered dulcimer). Although pianos are hammered chordophones and harpsichords are
  plucked chordophones, they are typically considered part of the keyboard family rather than the
  string family.</p>
<div class="row">
  <div class="one-third column center-text alpha">
    <div class="subsect">
      <p>
        <b>Bowed Strings</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/violin.png" target="_blank" rel="noopener noreferrer">
          <img alt="violin" src="../images/instruments/violin_sm.png">
          <br>violin</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/cello.png" target="_blank" rel="noopener noreferrer">
          <img alt="cello" src="../images/instruments/cello_sm.png">
          <br>cello</a>
      </div>
    </div>
  </div>
  <div class="one-third column center-text nested">
    <div class="subsect">
      <p>
        <b>Plucked Strings</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/harp.png" target="_blank" rel="noopener noreferrer">
          <img alt="harp" src="../images/instruments/harp_sm.png">
          <br>harp</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/guitar.png" target="_blank" rel="noopener noreferrer">
          <img alt="guitar" src="../images/instruments/guitar_sm.png">
          <br>guitar</a>
      </div>
    </div>
  </div>
  <div class="one-third column center-text omega">
    <div class="subsect">
      <p>
        <b>Hammered Strings</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/hammered_dulcimer.png" target="_blank" rel="noopener noreferrer">
          <img alt="hammered dulcimer" src="../images/instruments/hammered_dulcimer_sm.png">
          <br>hammered dulcimer</a>
      </div>
    </div>
  </div>
</div>
<h3>Woodwinds and Brass</h3>
<p>Aerophones are divided into the <b>woodwind</b> and <b>brass</b> families in western music. Both
  use vibrating air columns, but they use different mechanisms to start the vibrations. Playing a
  brass instrument (like a trumpet, trombone, or tuba) requires the vibration of the musician's lips
  against the mouthpiece of the instrument. In the case of woodwinds, the vibration begins either
  with a vibrating <b>reed</b>(ex. clarinet, bassoon, saxophone) or by the movement of a <b>column
    of air against an edge</b> (ex. flute, recorder). Although organs are edge-blown aerophones,
  they are considered part of the keyboard family rather than the woodwind family.</p>
<div class="row">
  <div class="one-third column center-text alpha">
    <div class="subsect">
      <p>
        <b>Brass</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/trumpet.png" target="_blank" rel="noopener noreferrer">
          <img alt="trumpet" src="../images/instruments/trumpet_sm.png">
          <br>trumpet</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/trombone.png" target="_blank" rel="noopener noreferrer">
          <img alt="trombone" src="../images/instruments/trombone_sm.png">
          <br>trombone</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/tuba.png" target="_blank" rel="noopener noreferrer">
          <img alt="tuba" src="../images/instruments/tuba_sm.png">
          <br>tuba</a>
      </div>
    </div>
  </div>
  <div class="two-thirds column center-text omega">
    <div class="subsect">
      <p>
        <b>Woodwinds</b>
      </p>
      <div class="subsect">
        <p>
          <b>Woodwinds with Reeds</b>
        </p>
        <div class="photo inlinebox">
          <a href="../images/instruments/clarinet.png" target="_blank" rel="noopener noreferrer">
            <img alt="clarinet" src="../images/instruments/clarinet_sm.png">
            <br>clarinet</a>
        </div>
        <div class="photo inlinebox">
          <a href="../images/instruments/saxophone.png" target="_blank" rel="noopener noreferrer">
            <img alt="saxophone" src="../images/instruments/saxophone_sm.png">
            <br>saxophone</a>
        </div>
        <div class="photo inlinebox">
          <a href="../images/instruments/bassoon.png" target="_blank" rel="noopener noreferrer">
            <img alt="bassoon" src="../images/instruments/bassoon_sm.png">
            <br>bassoon</a>
        </div>
      </div>
      <div class="subsect">
        <p>
          <b>Edge-blown Woodwinds</b>
        </p>
        <div class="photo inlinebox">
          <a href="../images/instruments/flute.png" target="_blank" rel="noopener noreferrer">
            <img alt="flute" src="../images/instruments/flute_sm.png">
            <br>flute</a>
        </div>
        <div class="photo inlinebox">
          <a href="../images/instruments/recorder.png" target="_blank" rel="noopener noreferrer">
            <img alt="recorder" src="../images/instruments/recorder_sm.png">
            <br>recorder</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>Percussion</h3>
<p>In western music, we group membranophones and idiophones into a single group: <b>percussion</b>.
  We distinguish between percussion instruments that create specific pitches and those that do not.
  The xylophone and timpani are <b>pitched percussion</b> instruments, and the tambourine, snare
  drum, and cymbals are <b>unpitched percussion</b> instruments.</p>
<div class="row">
  <div class="six columns center-text alpha">
    <div class="subsect">
      <p>
        <b>Pitched Percussion</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/xylophone.png" target="_blank" rel="noopener noreferrer">
          <img alt="xylophone" src="../images/instruments/xylophone_sm.png">
          <br>xylophone</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/timpani.png" target="_blank" rel="noopener noreferrer">
          <img alt="timpani" src="../images/instruments/timpani_sm.png">
          <br>timpani</a>
      </div>
    </div>
  </div>
  <div class="six columns center-text omega">
    <div class="subsect">
      <p>
        <b>Unpitched Percussion</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/tambourine.png" target="_blank" rel="noopener noreferrer">
          <img alt="tambourine" src="../images/instruments/tambourine_sm.png">
          <br>tambourine</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/snare_drum.png" target="_blank" rel="noopener noreferrer">
          <img alt="snare drum" src="../images/instruments/snare_drum_sm.png">
          <br>snare drum</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/cymbals.png" target="_blank" rel="noopener noreferrer">
          <img alt="cymbals" src="../images/instruments/cymbals_sm.png">
          <br>cymbals</a>
      </div>
    </div>
  </div>
</div>
<h3>Electronic Instruments</h3>
<p>Electronic instruments can be organized into three groups: instruments with <b>electronic
  action</b>, instruments <b>amplified electronically</b>, and instruments that actually <b>produce
  sound using electricity</b>. An example of an instrument with electronic action is an organ that
  uses electronic valves (openings to the sounding pipes). An electric guitar is an example of an
  instrument that is amplified electronically. Theremins and synthesizers, whether analog or
  digital, produce sound using electricity directly.</p>
<div class="row">
  <div class="one-third column center-text alpha">
    <div class="subsect">
      <p>
        <b>Electronic Action</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/organ.png" target="_blank" rel="noopener noreferrer">
          <img alt="organ with electronic valves" src="../images/instruments/organ_sm.png">
          <br>organ with electronic valves</a>
      </div>
    </div>
  </div>
  <div class="one-third column center-text nested">
    <div class="subsect">
      <p>
        <b>Electronically Amplified</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/electric_guitar_w_amp.png" target="_blank"
           rel="noopener noreferrer">
          <img alt="electric guitar with amplifier" src="../images/instruments/electric_guitar_w_amp_sm.png">
          <br>electric guitar with amplifier</a>
      </div>
    </div>
  </div>
  <div class="one-third column center-text omega">
    <div class="subsect">
      <p>
        <b>Sounds Produced Electronically</b>
      </p>
      <div class="photo inlinebox">
        <a href="../images/instruments/theremin.png" target="_blank" rel="noopener noreferrer">
          <img alt="theremin" src="../images/instruments/theremin_sm.png">
          <br>theremin</a>
      </div>
      <div class="photo inlinebox">
        <a href="../images/instruments/synthesizer.png" target="_blank" rel="noopener noreferrer">
          <img alt="synthesizer" src="../images/instruments/synthesizer_sm.png">
          <br>synthesizer</a>
      </div>
    </div>
  </div>
</div>
<h4>Analog vs. Digital</h4>
<p>Put very simply, in <b>analog</b> instruments the electricity vibrates* in the circuit in a way
  that is analogous (hence the term 'analog') to the way that sound vibrates in <b>acoustic</b> (non-electronic)
  instruments. In <b>digital</b> music, the sounds for each small slice of time are encoded as
  numbers (or digits, hence the word 'digital'). The encoding allows the music to be easily stored
  and manipulated as data, but it also gives an underlying 'stair-step' quality to the sounds when
  they are played back, which may or may not be noticeable to most listeners.</p>
<p>Originally, instruments such as synthesizers and theremins were analog, but now they are mostly
  digital. Computer-generated music, such as MIDI (Musical Instrument Digital Interface) music or
  sampled music (a composite of pre-recorded music clips), is also digital. Most modern recordings
  are also digital, with CDs and MP3s having largely replaced formats such as analog magnetic tapes
  and vinyl records.</p>
<p class="small">* Technically speaking, the electrical waveform does not vibrate, but modulates in
  such a way that the frequencies and amplitudes of sounds can be represented.</p>
<br>
<div class="small center-text">
    All photos on this page Copyright &copy; <a href="http://www.canstockphoto.com/" target="_blank" rel="noopener noreferrer">Can Stock Photo</a>
</div>
{% endblock %}
