{% extends "layout.nunjucks" %}
{% block content %}
<h1>Advanced Keys</h1>
<h2>Modulation</h2>
<div class="pic fltrt"><a href="../images/notation/circle_of_fifths_colors.svg" target="_blank"><img
    src="../images/notation/circle_of_fifths_colors.svg" alt="circle of fifths" width="500"
    border="0"/></a><br/>
    the circle of fifths (click and/or zoom to view larger)
</div>
<p>When the key changes in a middle of a piece, this is called a <b>modulation</b>. Although changing from
    any of the 24 keys (12 major and 12 minor) to any other is a modulation, there are certain key changes
    that are far more common than others. The circle of fifths can help us understand which keys are closely
    related and therefore which are most likely to modulate to each other.</p>
<p>Put simply, keys that are close to each other on the circle of fifths are <b>closely related</b>. It is
    very common, both in art music and in popular music, to hear modulations between relative major and
    minor keys, for example. Another common modulation is moving from one key to the next going clockwise
    around the circle of fifths. Modulating from the key of D to the key of A would be an example of this.
    Counter-clockwise modulation (from the key of A to the key of D, for example) also occurs, but is less
    common and more surprising.</p>
<p>Even more surprising are modulations to <b>distant keys</b>. Keys that are not near each other on the
    circle of fifths share fewer pitches and chords, which makes it difficult for composers to create
    convincing and elegant modulations between them. Some styles emphasize this challenging maneuver, while
    others rarely modulate to distant keys.</p>
<h2>Enharmonics and Note Spelling Within a Key</h2>
<p>The collection of notes defined by a key signature includes only <a href="notating_naming_pitches.html">one
    pitch for each letter (A, B, C, D, E, F, G)</a>. These pitches may be the natural version of the note
    (A), the sharp version (A-sharp), or the flat version (A-flat), but there will never be more than one
    version in a given collection. That is, there is no key that includes both A and A-sharp - there is only
    one version of A in the collection.</p>
<p>However, B-flat, the enharmonic equivalent of A-sharp, does exist in two major keys along with A: the key
    of F and the key of B-flat. Even though they are enharmonically equivalent, A-sharp should not be used
    as a substitute for B-flat because it creates confusion by putting two versions of A in the collection
    of pitches. Therefore, when writing in the key of F or B-flat, it is necessary to use B-flat instead of
    A-sharp, since B-flat exists in the collection and A-sharp does not.</p>
<p>We can see these encharmonic principles most easily when a collection of pitches is organized into a
    scale. Here are all 12 major scales:</p>

<div id="AllMajScales"><h1>Major Scales</h1></div>
<script>
    $(document).ready(function () {
        scoreInsert('#AllMajScales', '../scores/AllMajScales.png', '../scores/AllMajScales.mp3');
    });
</script>

<p>Here are all 12 natural minor scales:</p>

<div id="AllMinScales"><h1>Minor Scales</h1></div>
<script>
    $(document).ready(function () {
        scoreInsert('#AllMinScales', '../scores/AllMinScales.png', '../scores/AllMinScales.mp3');
    });
</script>

<h2>Order of Sharps and Flats</h2>
<p>When sharps or flats are added to a key signature, they are added in a specific order from left to right.
    If we take the order of flats, reverse them, and switch 'flat' to 'sharp', we get the order of
    sharps.</p>
<div><img class="inline" src="../images/notation/7flats.png" alt="seven sharps" width="221" height="114"/>
    <table class="inline">
        <tr>
            <td class="label">Order:</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td class="label">Flats:</td>
            <td>B-flat</td>
            <td>E-flat</td>
            <td>A-flat</td>
            <td>D-flat</td>
            <td>G-flat</td>
            <td>C-flat</td>
            <td>F-flat</td>
        </tr>
    </table>
</div>
<div><img class="inline" src="../images/notation/7sharps.png" alt="seven sharps"/>
    <table class="inline">
        <tr>
            <td class="label">Order:</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td class="label">Sharps:</td>
            <td>F-sharp</td>
            <td>C-sharp</td>
            <td>G-sharp</td>
            <td>D-sharp</td>
            <td>A-sharp</td>
            <td>E-sharp</td>
            <td>B-sharp</td>
        </tr>
    </table>
</div>
<p>Every time a sharp or flat is added to a key signature, it changes the order of <a href="intervals.html">whole
    and half steps</a> in the <a href="scales.html">scale</a> derived from the collection of pitches. Adding
    them in the order above ensures that the pattern used in <a href="scales_major.html">major</a> and <a
        href="scales_minor.html">natural minor scales</a> (W-W-h-W-W-W-h) is always present. To illustrate
    this point, take the C major scale:</p>
<table>
    <tr>
        <td>C</td>
        <td class="label"></td>
        <td>D</td>
        <td class="label"></td>
        <td>E</td>
        <td class="label"></td>
        <td>F</td>
        <td class="label"></td>
        <td>G</td>
        <td class="label"></td>
        <td>A</td>
        <td class="label"></td>
        <td>B</td>
        <td class="label"></td>
        <td>C</td>
    </tr>
    <tr>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
    </tr>
</table>
<p>If we add an F-sharp , we change the order of whole and half steps like this:</p>
<table>
    <tr>
        <td>C</td>
        <td class="label"></td>
        <td>D</td>
        <td class="label"></td>
        <td>E</td>
        <td class="label"></td>
        <td>F-sharp</td>
        <td class="label"></td>
        <td>G</td>
        <td class="label"></td>
        <td>A</td>
        <td class="label"></td>
        <td>B</td>
        <td class="label"></td>
        <td>C</td>
    </tr>
    <tr>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
    </tr>
</table>
<p>The <i>pattern</i> is still the same because we have added the correct sharp (F-sharp is the first in the
    order of sharps), but the order of whole and half steps does not yet make a major or minor scale. So, we
    need to start on a different note to get the correct order for a major or minor scale. The new starting
    point becomes the new tonic pitch, which shares its name with both the scale and key that have been
    created by adding the new accidental. For example, if G becomes the new tonic, we are now doing the key
    of G major, which uses the G major scale. The other option is to make E the new tonic, which would make
    it an E minor scale, which is used in the key of E minor.</p>
<table>
    <tr>
        <td class="label">G major:</td>
        <td>G</td>
        <td class="label"></td>
        <td>A</td>
        <td class="label"></td>
        <td>B</td>
        <td class="label"></td>
        <td>C</td>
        <td class="label"></td>
        <td>D</td>
        <td class="label"></td>
        <td>E</td>
        <td class="label"></td>
        <td>F-sharp</td>
        <td class="label"></td>
        <td>G</td>
    </tr>
    <tr>
        <td class="label"></td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
    </tr>
    <tr>
        <td colspan="11" class="label">E minor:</td>
        <td>E</td>
        <td class="label"></td>
        <td>F-sharp</td>
        <td class="label"></td>
        <td>G</td>
        <td class="label"></td>
        <td>A</td>
        <td class="label"></td>
        <td>B</td>
        <td class="label"></td>
        <td>C</td>
        <td class="label"></td>
        <td>D</td>
        <td class="label"></td>
        <td>E</td>
    </tr>
</table>
<p>The use of sharps and flats together in key signatures is avoided because it too could disrupt this
    pattern. There is no starting point in this example that would give us a major or natural minor
    scale:</p>
<table>
    <tr>
        <td>C</td>
        <td class="label"></td>
        <td>D</td>
        <td class="label"></td>
        <td>E</td>
        <td class="label"></td>
        <td>F-sharp</td>
        <td class="label"></td>
        <td>G</td>
        <td class="label"></td>
        <td>A</td>
        <td class="label"></td>
        <td>B-flat</td>
        <td class="label"></td>
        <td>C</td>
    </tr>
    <tr>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
        <td>h</td>
        <td class="label"></td>
        <td>W</td>
        <td class="label"></td>
    </tr>
</table>
{% endblock %}
