{% extends "layout.nunjucks" %}
{% block content %}
<h1>Melody</h1>
<p>A <b>melody</b> is most simply described as a series of pitches sounded in succession, but this definition
    does not explain how melodies are built and how they function in music. In this section we will explore the
    concept of melody in greater detail and discuss the relationships between melodies and <b>accompaniments</b>,
    the sounds meant to support and enhance melodies.</p>
<h2>Contour</h2>
<p><b>Contour</b> describes the linear motion of a melody up and down. Does it generally ascend or descend? Does
    it come back to the same pitch on which it began? Does the melody use large intervals or small ones?</p>
<div class="pic fltrt"><a href="../images/other/melody_contour.png" target="_blank" rel="noopener noreferrer"><img
    src="../images/other/melody_contour.png"
    alt="contour of &quot;Twinkle, Twinkle&quot; with and without staff lines" width="400" border="0"/></a>
</div>
<p>When melodies move by whole or half steps (like a <a href="scales.html">scale</a>), this is <b>conjunct</b>
    motion. Movement in larger <a href="intervals.html">intervals</a> is called <b>disjunct</b> motion. Most
    melodies combine the two, as in this example from "Twinkle, Twinkle". In this melody the contour begins with
    a leap upwards (disjunct motion), then a gradual descent using smaller intervals (conjunct motion) that
    finishes on the original pitch.</p>
<p>Melodic contour is also important in the history of music notation. Before our current system of notation was
    developed, musicians sometimes wrote down the contour of a melody in order to remember it. Over time,
    composers and performers started adding horizontal lines to make sure that when the same pitch returned it
    would be written at the same height, which made their contour drawings more specific, more accurate, and
    easier to read. They started with only one line, but they soon began adding more. Sometimes the lines were
    even color-coded, using red for C and yellow for G, for example. Color-coding fell out of practice, but
    musicians kept adding lines until there were five <a href="../resources/glossary.html">staff lines</a>, as
    in our modern notation system.</p>
<h2>Range</h2>
<p><b>Range</b> refers to the total range of pitches encompassed in the melody: how high and low the melody
    goes. If the score does not indicate which voice or instrument should be used to perform the music, the
    range can be used to help determine which <a href="voices.html">voices</a> and <a
        href="instrument_families.html">instruments</a> are appropriate for use. For example, if the range
    includes pitches that are too high or too low for a <a href="voices.html">voice</a> then it must be played
    on an <a href="instrument_families.html">instrument</a>. For more on instrument ranges, see <a
        href="timbre.html">Timbre</a>.</p>
<h2 class="clearfloat">Motives</h2>
<p>A <b>motive</b> or <b>motif</b> is the shortest possible melodic unit and may consist of as few as two
    different pitches, as in Beethoven's 5<sup>th</sup> Symphony.</p>
<div class="video">
    <h1>Beethoven's 5<sup>th</sup> Symphony</h1>
    <div class="links"><a href="http://youtu.be/B7pQytF2nak" target="_blank" rel="noopener noreferrer"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<p>Motives are the musical equivalent of a catch phrase or slogan and are often used in that capacity in
    commercials. Notice the motive on "by Mennen" and "Hot Pockets" in these commercials:</p>
<div class="video">
    <h1>Mennen Commercial</h1>
    <div class="links"><a href="http://youtu.be/m1lXTNVp4IY?t=25s" target="_blank" rel="noopener noreferrer"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<div class="video">
    <h1>Hot Pockets Commercial</h1>
    <div class="links"><a href="http://youtu.be/Tkl4Y0sxerQ" target="_blank" rel="noopener noreferrer"><img
        src="../images/layout/youtube.png" alt="YouTube"></a></div>
</div>
<h2>Phrases</h2>
<p>Motives may also be incorporated into a larger melodic unit: a <b>phrase</b>. Phrases are the musical
    equivalent of sentences, clauses, or lines of poetry. They can be divided by commas in lyrics (for vocal
    music), breaths (for voices and wind instruments), rests (silences), or simply by the shape of the melody.
    Phrases tend to be <b>lyrical</b> (singable, song-like) even if they are performed by instruments, and they
    usually occur in regular lengths.</p>
<p>In musical analysis, phrases are identified by lower case letters: "a" for the first, "b" for the second,
    etc. If the phrase repeats, the letter is used again. Also, phrases tend to end with <a
        href="cadences.html"><b>cadences</b></a>, which are <a href="melody.html">melodic</a> and <a
        href="harmony.html">harmonic</a> formulas that bring a sense of closure to the phrase.</p>
<h3>Antecedent and Consequent Phrases</h3>
<p>Two important and interrelated types of phrases are <b>antecedent</b> and <b>consequent phrases</b>.
    Antecedent and consequent phrases occur when one phrase seems to ask a question (the antecedent) and the
    other seems to answer it (the consequent). The antecedent phrase sounds unfinished or unresolved when it
    ends because its final pitch is not the <a href="scales.html">tonic pitch</a>. The consequent phrase then
    responds to the antecedent and finishes with a stronger sense of resolution, often by landing on the <a
        href="scales.html">tonic pitch</a>.</p>
<h2>Idiomatic Melodies</h2>
<p>When melodies are written specifically for a particular <a href="instrument_families.html">instrument</a> or
    <a href="voices.html">voice</a>, the composer will capitalize on the strengths and avoid the weaknesses of
    that <a href="instrument_families.html">instrument</a> or <a href="voices.html">voice</a>. This is called
    composing <b>idiomatically</b>. For example, some <a href="melody.html">melodies</a> are more suited to <a
        href="instrument_families.html">instruments</a> than <a href="voices.html">voices</a>: those that use
    large leaps (intervals) between pitches, those that are too high or too low for <a
        href="voices.html">voices</a>, or those with very fast passages, for example. <a href="voices.html">Voices</a>,
    on the other hand, are often considered more expressive than <a
        href="instrument_families.html">instruments</a>, particularly because they are uniquely capable of
    performing lyrics. So, when composers are writing <a href="melody.html">melodies</a>, they consider these
    strengths and weaknesses and adjust their compositions accordingly.</p>
{% endblock %}
