{% extends "layout.nunjucks" %}
{% block content %}
<h1>Grouping Beats - Meter</h1>
<div class="pic fltlft"><img src="../images/notation/measure.png" alt="Measure"/><br/>
    a measure
</div>
<p><b>Meter</b> is the result of grouping beats together into regular sets. In notation, each group of beats is
    contained in a <b>measure</b> (or bar), which is separated from the next measure with a vertical line, or
    <b>barline</b>. The first beat of each group is the strongest and is called the <b>downbeat</b>. In the
    patterns that conductors use to indicate meter, the downbeat is always indicated by a large downward motion
    (see the conducting patterns below). The last beat in a measure is the weakest, and is called the
    <b>upbeat</b>. When a melody begins with an upbeat instead of a strong downbeat, this is called a
    <b>pickup</b> or <b>anacrusis</b>.</p>
<h3 class="clearfloat">Duple, Triple, and Quadruple Meter</h3>
<div class="pic fltrt"><img src="../images/other/conducting_patterns.png" width="500"
                            alt="Conducting Patterns for Duple, Triple, and Quadruple Meters"/></div>
<p>When the beats of a piece are grouped by two (often going STRONG, weak, STRONG, weak - like a march), this is
    <b>duple meter</b>. When the beats are grouped by three (often STRONG, weak, weak, STRONG, weak, weak - like
    a waltz), the meter is <b>triple</b>. It is also common to have quadruple meter, but in many ways it is a
    variation of duple meter, so it is reasonable to consider both to be duple. It is possible to have 5 beats
    (quintuple meter) or more in each measure, but that is fairly unusual. The image shows the patterns that
    conductors use for duple, triple, and quadruple meters.</p>
<h3 class="clearfloat">Time Signature Basics</h3>
<div class="pic fltlft"><img src="../images/notation/timesignature.png" width="90" height="112"
                             alt="time signature"/></div>
<p>In notation, meters are indicated by <b>time signatures</b>, which consist of two numbers - a top number and
    a bottom number. In simple meters, the top number indicates how many beats there are in a measure. Meters
    with 2, 3, and 4 beats are by far the most common, and are conducted with the basic patterns above. The
    bottom number indicates the relationship between the rhythms and the beat. <a href="time_signatures.html">Click
        here for more on time signatures and how they work</a>.</p>
<h3 class="clearfloat">Polymeter, Suppressed Meter, and Non-metric Music</h3>
<p><b>Polymeter</b> occurs when there are two or more meters occurring simultaneously (ex. the violins are in
    3/4 while the woodwinds are in 4/4). This technique is fairly uncommon, but can be heard in some electronic
    dance music and in Stravinsky's ballets <i>Petruchka</i> and <i>The Rite of Spring</i>.</p>
<p>When polymeter is used, it can be very difficult to hear the meter because there is too much complexity. It
    is also possible for meter to be ambiguous because the beat is unclear. In either case, whenever the meter
    cannot be determined without looking at the notation, we call this <b>suppressed meter</b>.</p>
<p>In some music, there is no meter audible in performance, nor visible in notation. An example of this is the
    <a href="http://youtu.be/UiRpXsWlZK4" target="_blank" rel="noopener noreferrer">Gregorian chant of the Medieval period</a>, which
    consists of notated melodies without clear rhythmic indications. This type of piece is called
    <b>non-metric</b>.</p>
{% endblock %}
