{% extends "layout.nunjucks" %}
{% block content %}
<h1>Introduction to Music Notation</h1>
<a href="../resources/glossary.html">
  <img alt="sheet music" class="fltrt" src="../images/other/sheetmusic.jpg">
</a>
<p><b>Music notation</b> allows us to put sounds into writing. Although different systems are used
  around the world, the western system (which is used here) is the most prominent. Developing
  basic music reading skills is critical to the study of music, whether you are interested in
  performance, composition, music theory, musicology, or even sound engineering.</p>
<p>Music literacy allows you not only to read, but also to write music. Even if you are not
  interested in composing new music, having those skills will inform your performing and help you
  to adapt existing music to new performance scenarios (adapting a rock song for voice and
  ukulele, for example). Most importantly, reading music allows you to understand, study, and
  perform music that you have never heard before.</p>
<h2>Elements of Music Notation</h2>
<div class="floatingbox fltrt">
  <p>These terms and their corresponding symbols can be found in the <a
          href="../resources/glossary.html">notation glossary</a>.</p>
</div>
<p>In music notation, sounds are represented by small circles (or ovals) called <a
        href="../resources/glossary.html"><b>notes</b></a>. Notes can be high or low, and they can
  be short or long. The higness or lowness of the note is its <a href="pitch.html"><b>pitch</b></a>.
  To represent high and low pitches, notes are placed high or low on the <a
          href="../resources/glossary.html"><b>staff</b></a>, the five horizontal lines going across
  the page.</p>
<p>To represent <a href="rhythm_notation.html"><b>durations</b></a>, the notes are
  written slightly differently on the page. For example, some notes are open ovals, while others are
  filled in. Graphic variations such as that are used to indicate longer and shorter notes.</p><p>
  Reading music is also similar to reading a book in any left-to-right language. You start in the
  upper left corner and go left-to-right and top-to-bottom across the page. As you move horizontally
  through the music, you are also moving forward in time. To put it another way, sequential events
  are aligned left-to-right and events aligned vertically happen simultaneously. Notes played in a
  sequence form a <a href="melody.html"><b>melody</b></a> and notes played simultaneously form a <a
        href="harmony.html"><b>harmony</b></a>.</p>
<h2>Other Types of Western Music Notation</h2>
<p>Tablature (or tab) is a type of notation that shows both what to play and how to play it on a
  specific instrument. Guitar and ukulele tablature is common and widely available. Since tablature
  is specific to each instrument, it does not work well for a broad discussion of music and will not
  be covered here.</p>
<p>Another system is graphic notation, which is occasionally used for
  experimental and improvisational music. Graphic notation is not common and varies greatly from
  piece to piece, so will not be covered in this course.</p><h2>Summary</h2>
<ul class="disc">
  <li><a href="../resources/glossary.html"><b>Notes</b></a> are used to represent sounds</li>
  <li><a href="pitch.html"><b>Pitch</b></a> (highness and lowness of the sounds) is represented
    vertically, i.e. high pitches are placed high on the
    <a href="../resources/glossary.html"><b>staff</b></a> (five horizontal lines)
  </li>
  <li><a href="rhythm_notation.html"><b>Duration</b></a> is represented graphically, i.e. notes with
    different shapes have different durations
  </li>
  <li>Music is read left-to-right, top-to-bottom, just like a book</li>
  <li>The passage of <a href="rhythm.html"><b>time</b></a> is represented horizontally, i.e. moving
    horizontally across the page means moving forward in time
  </li>
  <li>A <a href="melody.html"><b>melody</b></a> is a sequence of notes</li>
  <li>A <a href="harmony.html"><b>harmony</b></a> is more than one note played simultaneously</li>
</ul>
{% endblock %}
