{% extends "layout.nunjucks" %}
{% block content %}
<h1>Octave Numbering</h1>
<p>In order to talk about some of the more advanced music theory topics, we need to be able to distinguish between
    pitches that are in different octaves. So, instead of talking about <b>pitch classes</b> (ex. A, B&#x266D;, G&#x266F;)
    where the octave is not considered, we will be referring to <b>absolute pitches</b>. In order to do this, we must have
    a system for numbering the octaves. There are several systems for <b>octave numbering</b>, but this website
    uses the <b>Scientific Pitch Notation System</b> where <a href="notating_naming_pitches.html">middle C</a>
    is C4 and octave numbers are incremented on C as in the image below. The C below C1 is C0, and the octave
    below that is C-1, but many of these pitches are below the typical range of human hearing (which is approximately 20
    to 20,000 Hz), so they will not play a role in our discussions.</p>
<div class="pic">
    <img src="/images/keyboard/scientific-pitch-notation-system.png"
         alt="scientific pitch notation system on the keyboard" border="0">
    <br>
    Scientific Pitch Notation System for Octave Numbering
</div>
{% endblock %}
