{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <li><a href="#greeks">The Greeks</a></li>
    <li><a href="#affections">The Doctrine of the Affections</a></li>
    <li><a href="#schopenhauer">Schopenhauer on Representing Emotion in Music</a></li>
    <li><a href="#hanslick">Hanslick on the Purpose of Music</a></li>
    <li>Musical Responses to Intellectual Currents</li>
    <ul>
      <li><a href="#enlightenment">The Enlightenment</a></li>
      <li><a href="#dvorak">Dvoř&aacute;k and Nationalism</a></li>
      <li><a href="#barber">Barber and the American Sound</a></li>
    </ul>
  </ul>
</div>
<h1>Music and Philosophy</h1>
<p>The discipline of philosophy is an old and revered one. The earliest philosophers contemplated
  every aspect of our existence, always attempting to come to some better understanding of it.
  Gradually, their questions began to be taken up by others, specialists concerned with just one
  aspect of our existence. Thus, the nature of the world moved from the philosophy of metaphysics to
  the discipline of science. This is not to say that philosophers ceased to ponder our world, or
  indeed even how we do science, but merely to point out that questions about science may be asked
  separately and without stopping the people who do science. This is a significant point for our
  topic only to remind ourselves that people have been creating and listening to music for almost as
  long as there have been people, quite aside from anyone philosophizing about said music.</p>
<p>So where do the paths of music and philosophy cross? Early and often. Music has been the topic of
  philosophical debate since the ancient Greeks, and it has continued to slide in and out of focus
  to the present day. As our understanding of our world and of music's place in it has evolved, so
  the philosophical arguments concerning music have also transformed. Music for the Greek
  philosophers was a part of their metaphysics; a part of how they thought the universe was
  structured. Following them, and throughout the Middle Ages, those with the knowledge to write
  about music considered it simply a means to an end in aiding the praise and worship of God. Their
  writings had little to contribute in the way of original philosophical thought about music. When
  music reappeared as a philosophical topic in the late Renaissance there were many similar concepts
  to the early Greek philosophies, minus the structural involvement in the universe. From that time
  a major revolution in our thoughts about the purpose and functioning of music has occurred every
  couple hundred years or so.</p>
<p>We will take a look at these turning points in philosophical thought about music. But first, a
  couple clarifications: Any philosophy is a complex system of thought. We will not be delving into
  the intricacies of these philosophies, but only skimming the barest of surfaces, and we will not
  be doing philosophy, but only looking at someone else's philosophy. Second, most of our discussion
  will center on the systems of thought created by philosophers and how they conceived of music's
  purpose or structure. But the end of this topic will also address "philosophies of music"
  understood in a much less rigid way. That is, we will explore how some major ideas, such as the
  Enlightenment or nationalism, had an effect on music.</p>
<p>By way of beginning our primary topic, let us begin with a foundational question: What does
  philosophy have to do with music anyway? It seeks to provide some elucidation of what music does
  in our lives, why we think about music the way we do, and what it is in music that keeps us going
  back for more. In other words, philosophizing about music is seeking to understand this thing that
  has become part of our lives and is a part of what it means to be a human being. For much of the
  recent past, these thoughts about music's role in our lives have had a lot to do with
  understanding the relationship between emotion and music.</p>
<a name="greeks" id="greeks"></a>
<h2>The Greeks</h2>
<p>The connection between music and philosophy can be traced back to the ancient Greeks. Music was
  an important part of ancient Greek culture, from religious ceremonies, poetry, and theatre, to
  military uses and education. Greek philosophers left a substantial written record of their ideas
  about music, many of which are still part of our culture today. These philosophers wrote in a
  range of styles, from books about the practicalities of making and understanding music (what we
  now call music theory), to books about the nature of the universe and music's effects (what we now
  call metaphysics, or just philosophy). Greek music theory differs substantially from the way we
  organize our musical materials now, and we have no way of knowing with certainty what their music
  sounded like, despite efforts to recreate it. What we can know is that music was a big part of how
  Greeks understood the world around them.</p>
<p>Plato (ca. 429-347 B.C.E.) wrote in his <i>Timaeus</i> about a "harmony of the spheres" that
  governed the movements of the universe. By this he meant that the motions of the planets and stars
  were in harmony, metaphorically speaking. The orderly motions of the planetary bodies could be
  defined in terms of number, and numerical relationships were also considered to give order to
  musical sound. It was thought that music could affect a person's <b>ethos</b> (behavior or ethics)
  because music was governed by the same laws as the universe, and thus could influence other
  realms, both physical and invisible. This belief. that music can influence behavior, was first put
  forth by Plato in his <i>Republic</i>, a treatise in which he outlines the way to set up an ideal
  state. In this important treatise, Plato declares that music's power to influence a person's
  behavior is so potent that the leaders of the republic should only be allowed to listen to certain
  kinds of music that will increase their courage and honesty. Music that might upset the social
  order should be banned from the republic, and each strata of society is allowed different types of
  music in order to encourage certain aspects of their character.</p>
<p>For Plato, music had the power to arouse certain emotional states in humans. It had this power
  because the music itself was an imitation of the sounds we make in those emotional states.
  Aristotle (384-322 B.C.E.) after him had a similar concept of music's power to influence our
  emotional states. But for Aristotle, this was because the music represented those emotions
  themselves, not merely the ways in which we express those emotions. A person would hear music and
  their emotional state would sympathetically align with that of the music.</p>
<p>Read the excerpt from Aristotle's Politics on the purpose and use of music. Aristotle's ideas
  built on Plato's, but were more lenient in some points.</p>
<div class="quote">
  <p>Our chief inquiry now is whether or not music is to be put into education and what music can
    do. Is it education or an amusement or a pastime? It is reasonable to reply that it is directed
    towards and participates in all three. Amusement is for the purpose of relaxation and relaxation
    must necessarily be pleasant, since it is a kind of cure for the ills we suffer in working hard.
    As to the pastimes of a cultivated life, there must, as is universally agreed, be present an
    element of pleasure as well as of nobility, for the happiness which belongs to that life
    consists of both of these. We all agree that music is among the most delightful and pleasant
    things, whether instrumental or accompanied by singing, so that one might from that fact alone
    infer that the young should be taught it… And the teaching of music is particularly apt for the
    young; for they because of their youth do not willingly tolerate anything that is not made
    pleasant for them, and music is one of those things that are by nature made to give pleasure.
    Moreover there is a certain affinity between us and music's harmonies and rhythms; so that many
    experts say that the soul is a harmony, others that it has harmony.</p>
  <p>We must now return to the question raised earlier – must they learn to sing themselves and play
    instruments with their own hands? Clearly actual participation in performing is going to make a
    big difference to the quality of the person that will be produced; it is impossible, or at any
    rate very difficult, to produce good judges of musical performance from among those who have
    never themselves performed… Since, as we have seen, actual performance is needed to make a good
    critic, they should while young do much playing and singing, and then, when they are older, give
    up performing; they will then, thanks to what they have learned in their youth, be able to enjoy
    music aright and give good judgments. What is needed is that the pupil shall not struggle to
    acquire the degree of skill that is needed for professional competitions, or to master those
    peculiar and sensational pieces of music which have begun to penetrate the competitions and have
    even affected education&hellip;</p>
  <p>We reject then as education a training in material performance which is professional and
    competitive. He that takes part in such performances does not do so in order to improve his own
    character, but to give pleasure to listeners, and vulgar pleasure at that. We do not therefore
    regard it as a proper occupation for a gentleman; it is rather that of a paid
    employee&hellip;</p>
  <p>We say then, in summary, that music ought to be used not as conferring one benefit only but
    many; for example, for education and cathartic purposes, as an intellectual pastime, as
    relaxation, and for relief after tension. While then we must make use of all the harmonies, we
    are not to use them all in the same manner, but for education use those which improve the
    character, for listening to others performing use both the activating and the emotion-striving
    or enthusiastic. Any feeling which comes strongly to some, exists in all others to a greater or
    less degree: pity and fear, for example, but also this "enthusiasm." This is a kind of
    excitement which affects some people very strongly. It may arise out of religious music, and it
    is noticeable that when they have been listening to melodies that have an orgiastic effect they
    are, as it were, set on their feet, as if they had undergone a curative and purifying treatment.
    And those who feel pity or fear or other emotions must be affected in just the same way to the
    extent that the emotion comes upon each. To them all comes a pleasant feeling of purgation and
    relief. In the same way cathartic music brings men an elation which is not at all harmful.</p>
</div>
<p>This excerpt reveals a prejudice against professional musicians, an idea that became a
  significant part of musical writing in the Middle Ages. Medieval treatises show a clear division
  between the performer of music and the one who thinks and writes about music, with the preference
  being for the intellectual rather than the musician. This partially explains why the music that
  was notated and preserved in the Middle Ages was chant, music in the highest service because in
  service to God. The kind of music that was played in the home or the tavern was only considered
  lowly entertainment, not worthy of preserving. In addition, its practitioners likely could not
  write, even if they could have afforded the paper to write on.</p>
<p>Writing about music continued through the Middle Ages, long after the demise of the Greek and
  Roman empires. Much of this writing was in the form of copying the surviving Greek treatises and
  commenting in the margins on the contents of those treatises, a process called <b>glossing</b>.
  This reference to the authority of those who have come before was a common attitude for medieval
  scholars. Unfortunately, the works these scholars had access to were not always complete, and they
  were not always understood or translated well by those who copied them. When Ottoman attacks on
  Constantinople in the late fourteenth century caused scholars there to move to Italy, taking their
  manuscripts with them, a new influx of ancient thought appeared in Europe. This is the next
  instance that we can see philosophy having a direct impact on music.</p>
<a name="affections" id="affections"></a>
<h2>The Doctrine of the Affections</h2>
<p>We have already discussed the <a href="words.html#monody">rise of early opera</a> and the role of
  the Florentine Camerata in supporting the creation of a new musical form. But we have not examined
  precisely why they thought this new music form would be effective. They were carrying on Plato's
  concept of the way in which music affects its listeners. They believed that the music represented
  the way that we express emotions, and since these opera singers were expressing the music as if
  they were feeling that particular emotion, the listeners would sympathize with them and feel that
  emotion as well. Thus music could be a powerful rhetorical device to aid in persuasion, if used
  correctly.</p>
<p>During the Baroque era these ideas about emotion in music became codified as the Doctrine of the
  Affections. Building on Ren&eacute; Descartes' explanation of the workings of emotion in his
  treatise, <i>The Passions of the Soul</i> (1645-46), composers sought to portray each of the
  particular emotions in different sections of their pieces. It was believed that emotions were felt
  as a result of the motion of certain spirits in the body, and that music that matched the motions
  of the spirits for a particular emotion could cause the listener's spirits to move in the same
  way, thus causing that emotion to be felt. Certain melodic gestures or rhythmic traits became
  standard ways of communicating each emotion. Music was still believed to be a useful tool, and
  listening to the right balance of emotions in music was thought to keep one's soul in balance and
  encourage mental and physical health. All the arts were employed to this end, with the focus being
  the imitation of generic emotional categories. (The expression of an individual artist's inner
  emotional state was not the goal, as it would be in nineteenth-century Romanticism.)</p>
<p>In instrumental music composers would often try to communicate one emotion in each movement, so
  that the entire piece would encompass multiple emotions. One common way to do this was in a suite
  of dance movements. Each dance was associated with certain emotional qualities, and the key the
  composer chose as well as the melodic gestures they used could further depict a specific emotion.
  Listen to these movements from J.S. Bach's Cello Suites and observe which emotions each movement
  seems to be trying to evoke.</p>
<div class="listen" id="suite1">
  <h1>Bach, Cello Suite No. 1 in G major, BWV 1007: I. Prelude</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#suite1', '1prweT95Mo0');
    });
  </script>
</div>
<div class="listen" id="suite2">
  <h1>Bach, Cello Suite No. 2 in D minor, BWV 1008: I. Prelude</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#suite2', 'YlfgtCfbOfE');
    });
  </script>
</div>
<div class="listen" id="suite3-prelude">
  <h1>Bach, Cello Suite No. 3 in C major, BWV 1009: I. Prelude</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#suite3-prelude', 'YUj-6Z8jCis');
    });
  </script>
</div>
<div class="listen" id="suite3-bouree">
  <h1>Bach, Cello Suite No. 3 in C major, BWV 1009: V. Bour&eacute;e I and II</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#suite3-bouree', 'xR4IElye7eg');
    });
  </script>
</div>
<div class="listen" id="suite5">
  <h1>Bach, Cello Suite No. 5 in C minor, BWV 1011: IV. Sarabande</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#suite5', 'oBFrEJK7oAg');
    });
  </script>
</div>
<p>These strategies for emotional depiction were important tools in Baroque opera as well. One of
  England's most famous composers, Henry Purcell, used several musical signals of sadness in the
  aria "When I am Laid in Earth" from his opera <i>Dido and Aeneas</i>. The story for the opera is
  based on Virgil's <i>Aeneid</i>, and this particular aria is sung by Queen Dido as she is dying of
  a broken heart. A chromatically descending bass line is repeated throughout the aria, called a <b>basso
    ostinato</b>, which had become a characteristic trait of the lament in the Baroque period. In
  addition, it gives the impression of continually falling, thus increasing the general mood of
  sadness. Over this Dido sings an aching melody, also full of chromatic inflections. These
  half-steps were a musical gesture often used to signify longing; in combination with the basso
  ostinato they help create one of the saddest pieces of music in Western history.</p>
<div class="listen" id="laid-in-earth">
  <h1>Purcell, "When I am Laid in Earth" from <i>Dido and Aeneas</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#laid-in-earth', 'y9q8ju5MloY');
    });
  </script>
</div>
<p>We can still see this awareness of music's emotional impact in our use of music today. The type
  of music athletes listen to before a competition to get psyched up is very different from the kind
  typically used during a wedding ceremony. This is reminiscent of the idea that music can express a
  certain emotion, and that such music will have specific effects on our own emotional states. We
  can also still see Plato's connection between music and social order in continued attempts to
  censor certain kinds of music that are considered dangerous to society. Censorship in the West
  usually focuses on musical text that is deemed inappropriate, but musical censorship in some
  cultures is much more broadly interpreted.</p>
<a name="schopenhauer" id="schopenhauer"></a>
<h2>Schopenhauer on Representing Emotion in Music</h2>
<p>While musical style in the next few centuries reflects the influence of cultural factors,
  philosophical theories about how music worked remained largely unchanged until the nineteenth
  century. With Arthur Schopenhauer's (1788-1860) publication of <i>The World as Will and Idea</i>,
  music's importance among the arts changed radically. Schopenhauer postulated that the universe was
  ultimately a cosmic will (remember Plato's harmony of the spheres?). He considered music the
  preeminent art because it could most closely represent this Will. In doing so, it could of course
  represent other things, like human emotions. This is different from earlier Platonic and Baroque
  conceptions of emotion in music, in that earlier constructs had music <i>imitating</i> these
  emotions, whereas for Schopenhauer music <i>represents</i> these emotions. Further, while music
  might express the emotions it is representative of, it does not necessarily cause the listener to
  feel those emotions.</p>
<p> Schopenhauer's theories provide philosophical backing for a trend that was already becoming
  quite established at the time of the publication of <i>The World as Will and Idea</i>. This trend
  was the growing support of instrumental music, primarily in what would become Germany. Not only
  was instrumental music revered for its supposed connection to a truer reality, free from the
  distraction of words. It was also a type of music that could be considered really German, as
  opposed to Italian opera or French ballet. Beethoven's music and his legacy benefited from such
  perspectives, but so did the concert culture in Germany in general.</p>
<a name="hanslick" id="hanslick"></a>
<h2>Hanslick on the Purpose of Music</h2>
<p>Perhaps you will have noticed that each new formulation for music and its emotive power comes a
  bit closer to your instinctual understanding of how it works. This is usually the case, as
  philosophers struggle to explain the phenomena of our world in increasingly accurate ways. Our
  next example is the philosophy of Eduard Hanslick (1825-1904). Hanslick had trouble with the idea
  that music could represent human emotions, since each listener might understand a certain piece of
  music to be representing a <i>different</i> emotion. He used this as support for his argument that
  music's purpose is not to cause us to feel a certain emotion (as with Plato and the later Doctrine
  of Affections), and neither is its purpose to represent emotions. For Hanslick, <i>music</i> is
  music's purpose, its <i>form</i> is its content, not emotions at all. To be clear, Hanslick did
  not rule out the possibility that music might arouse certain emotions in certain people, but felt
  that such an occurrence was not the purpose of music, and could often be explained as a result of
  other things in any case.</p>
<p>You may find some aspects of Hanslick's argument to be a relief. For instance, he acknowledges
  how your neighbor may find a certain passage of Mozart incredibly rousing while you find that the
  same passage lulls you to sleep. Some of Hanslick's contemporaries found his argument appealing
  for another reason. At a time when opera and various kinds of program music seemed to be taking
  over, he provided a compelling defense of music that was independent of text or program, absolute
  music. If music's content was simply itself, its form, then writers of symphonies and quartets had
  no need to compete with the craze for program music. There was more at stake in this debate than
  simply what kind of music composers wanted to write of course, as issues of national pride were
  also involved. But one composer who benefitted from Hanslick's side of the debate was Brahms, and
  he in turn encouraged many after him to continue composing in the genres of what we call absolute
  music. Listen to some of the examples on this page and see whether Schopenhauer's or Hanslick's
  ideas about the purpose and emotive power of music seem more convincing to you.</p>
<p>Philosophizing about music did not stop there, of course. In fact, by the mid-twentieth century
  interest in the topic had resurfaced considerably. Philosophers are still trying to explain the
  nature of music's emotional content and in what way it can affect us. What answers they construct
  may have a considerable impact on how we understand the significance of music in our lives, indeed
  on how we understand music at all. We will not follow our philosophical history any further, as it
  remains to be seen what impact more recent theories will have on the music itself. And of course,
  leaving the question of music's significance unanswered does not prevent us from enjoying it in
  our everyday lives.</p>
<a name="enlightenment" id="enlightenment"></a>
<h2>Musical Responses to Intellectual Currents</h2>
<h3>The Enlightenment</h3>
<p>We turn now to the second part of our topic, in which we will examine how some major intellectual
  currents have impacted the music of their time. Just as Baroque musical styles drew on
  developments in scientific thinking with the Doctrine of the Affections, so did Enlightenment
  musical style draw on the advanced philosophies and scientific developments of its day. The
  eighteenth century was a period of economic growth as a result of new methods for agricultural
  production. It was a period of individual rights, social reform, and universal education. It was
  the period of the French Revolution and the American Constitution. Scientific developments from
  the previous century led to the idea that human reason and the observation of nature through our
  own senses could reveal knowledge of our world. A growing middle class with a better education
  meant a larger audience for new scientific theories, literature, and the arts that had to be
  addressed differently than the previous century's connoisseurs. This, combined with a cosmopolitan
  international culture and a preference for naturalness of expression, led to a very different
  style of music. Rather than the stiff compartmentalizing of emotions, the artificiality, or the
  complex technical aspects of Baroque music, music in the Enlightenment should be expressive,
  natural, entertaining, and immediately pleasing. This was music for human ends, not social or
  religious purposes.</p>
<p>One of the clearest examples of this style can be found in the music of Joseph Haydn. His music
  is usually characterized as possessing a great wit, and containing pleasing melodies and an easy
  flow. Haydn was very concerned to provide music that appealed to his audience, and thus the pieces
  that were intended for the grand concert halls of London have a very different flavor than those
  intended for his audience at the Esterh&aacute;zy estate. We remember Haydn for the great
  contributions he made to the genres of the string quartet and the symphony, but this is mostly due
  to the circumstances of his employment rather than the result of a deliberate plan. Vocal music
  occupies a significant place in the works of his early career, and Haydn is known to have
  described the importance of a singing quality in melody, even in instrumental music. Yet, in
  Haydn's long career with the Esterh&aacute;zy family it was instrumental music that was most often
  demanded, and thus he developed his unique style in that medium.</p>
<p>Haydn wrote his Symphony No. 44, the "Trauersinfonie," while still in the early part of his stay
  at the Esterházy court, completing it in 1772. It exemplifies not only Haydn's unique style and
  treatment of the symphonic form, but also those attributes of Enlightenment thought that musicians
  strived for: clarity of form, simplicity of idea, naturalness of expression, and a beauty that can
  be immediately understood. However, this symphony is also considered an example of <i>Sturm und
    drang</i> style in Haydn's works, so we will explore what this means as well.</p>
<p><i>Sturm und drang</i> (literally storm and stress) is the name given to a German literary
  movement of the 1760s – 1780s, after a play by the same name. The movement emphasized the
  expression of extreme emotions with the intent to frighten or stun audiences. In music, the term
  was generally applied to pieces that displayed a certain dramatic quality. Such pieces were often
  in the minor mode, as is Symphony No. 44, and might contain adventurous harmonic devices,
  syncopated rhythms, exciting tremolos, or large leaps in the melody.</p>
<p>The agitated character of the <i>Sturm und drang</i> style is evident throughout the symphony,
  from the very opening. This first utterance of the symphony begins with dramatic upward leaps
  followed by sighing figures that set up the minor key. Repeated notes in the strings add
  intensity. Extremes of dynamics and register also increase tension. Such dramatic devices are
  employed throughout the typically weighty first movement. When the expected slow second movement
  arrives, it surprises by revealing itself as a minuet, typically reserved for the third movement.
  Additionally surprising is the complex counterpoint of a canon between upper and lower voices. The
  trio is a refreshing moment in major key, before returning to the canon. The slow third movement
  is of a length to balance the first, and contains the <i>con sordino</i> violins that were typical
  of <i>Sturm und drang</i> slow movements.</p>
<p>A <i>Sturm und drang</i> symphony was not typical for Haydn's style. However, the
  "Trauersinfonie" still manages to present lucid melodies and themes that can be easily absorbed by
  audiences, and organizes them in a clear if somewhat surprising form. The added drama and
  excitement of the style did not supersede the basic Enlightenment values of pleasing art that is
  free of artifice.</p>
<div class="listen" id="trauersinfonie">
  <h1>Haydn, Symphony No. 44 in E minor, Hob.I:44, "Trauersinfonie" (Mourning)</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#trauersinfonie', 'j1OcRXrkrug');
      embedYouTube('#trauersinfonie', 'qMgWQbBQYAg');
      embedYouTube('#trauersinfonie', '94_SVhFbDUo');
      embedYouTube('#trauersinfonie', '-tBBIwXZRwI');
    });
  </script>
</div>
<a name="dvorak" id="dvorak"></a>
<h3>Dvoř&aacute;k and Nationalism</h3>
<p>Nationalism may seem a strange topic to tack onto the end of a discussion about philosophy and
  music, but the ideals that inform nationalist sentiment were such a driving force for musical
  composition, particularly in the last 150 or so years, that including the topic here is
  justifiable. The list of composers that can be claimed as nationalist is a long one. Thus, the
  choice of the composers below may appear random, but the pieces are likely to sound familiar, and
  thus provide the perfect opportunity to delve deeper and uncover some of the philosophizing that
  surrounds them.</p>
<p>There are many ways to understand nationalism, but in music the term is generally applied to
  composers that flourished in the second half of the nineteenth century. As European countries
  began to seek independence based on some notion of "nation" they began to look for ways to define
  the nation. These were usually based partly on location, but largely on ethnic and linguistic
  identities and some shared history or mythology. These identities were then strengthened by art,
  literature, and music that portrayed elements of a national people. Artists often looked to folk
  cultures as a source of inspiration, and for composers this meant borrowing folk songs or creating
  music that sounded like it was a folk song.</p>
<p>One of the most renowned nationalist composers of the period was Czech composer Anton&iacute;n
  Dvoř&aacute;k (<i>di-VOR-zhak</i>). He wrote pieces in every genre, something of an anomaly for
  composers at the time. Yet even his instrumental works were considered to display a distinctly
  Czech quality in their melodies and harmonization, a quality that his countrymen recognized and
  that sounded exotically "other" to audiences in different countries. Just exactly what musical
  materials make his pieces sound Czech continues to be difficult to pin down, but nevertheless,
  Dvoř&aacute;k was recognized internationally as a great Czech nationalist composer.</p>
<p>It was in this capacity that he was invited to America by Jeannette Thurber to work as professor
  of composition at the National Conservatory of Music in New York. American composers were still
  struggling to define what constituted a national style, and what better solution than to invite
  the leading nationalist composer to help show them the way. Dvoř&aacute;k taught at the
  conservatory from 1892-1895, before returning to his homeland. It was during a summer vacation to
  the large Czech settlement in Spillville, Iowa, that he wrote his Quartet in F, known as the
  "American."</p>
<p>The quartet displays many characteristics of Dvoř&aacute;k's style, from pentatonic melodies,
  rhythmic ostinatos, and syncopations, to the rich textures that make full use of the composer's
  own instrument, the viola. This piece along with two other chamber works Dvoř&aacute;k wrote in
  the U.S. have been said to display an "American sound." This is attributed to their simpler
  harmonic material, clear and prominent melodies, and themes that are rarely put through a process
  of development. Perhaps the vast landscapes of his American surroundings inspired this kind of
  open quality in Dvoř&aacute;k's compositions. These chamber works are ultimately a result of Dvoř&aacute;k's
  own experiences in America, whereas his New World Symphony, also written in America, was a
  conscious effort to create a nationalist style of composition for American composers to
  follow.</p>
<div class="listen" id="dvorak-american">
  <h1>Dvoř&aacute;k, String Quartet No. 12 in F major, Op. 96, B. 179, "American"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#dvorak-american', 'yJvGHpAW4Og');
      embedYouTube('#dvorak-american', 'yJgWUvuEY9o');
      embedYouTube('#dvorak-american', '2JnVgXMIPT0');
      embedYouTube('#dvorak-american', 'bf03kpXNYtE');
    });
  </script>
</div>
<a name="barber" id="barber"></a>
<h3>Barber and the American Sound</h3>
<p>As for defining an American compositional style, Dvořák looked to the musical materials of
  indigenous Native American populations and the spirituals and plantation songs of the
  African-Americans. Unfortunately, this strategy, which had worked so well in his native country,
  was not well received in America. The young United States was a country built on geographic and
  political unity, but was ethnically and culturally quite diverse. Many who considered themselves
  American did not consider the music of Native Americans and slaves to be their music, and were
  opposed to having these materials form a new American voice. As a result, the search for an
  American style was still a topic of some debate several decades later when Samuel Barber wrote his
  <i>Adagio for Strings</i>.</p>
<p>By this time, many composers were trying to write in an American style by incorporating elements
  of jazz or popular music. We saw already how <a href="dance.html#ballet">Copland used a Shaker
    tune in his ballet <i>Appalachian Spring</i></a>. In the eyes of his contemporaries, Barber was
  considered conservative, a composer still using the techniques of the previous century. This was
  anything but American, especially since those techniques were largely European. Yet Barber's
  music, and this piece in particular, is still an important part of the performance repertory. We
  can see with hindsight that it is the directness of his style that is particularly American. And
  so despite the opinions of his contemporaries, we can examine this lasting example of American
  music.</p>
<p>The <i>Adagio for Strings</i> was originally the slow movement of a string quartet that Barber
  arranged for orchestra. This is one of his most well-known pieces now, and a good example of his
  style. It is full of the chromatic harmonies of the late Romantic language, but especially shows
  Barber's penchant for long lyrical melodies that have a vocal quality to them. The piece slowly
  builds in volume, passing the undulating melody around until the climactic moment on high held
  chords at maximum volume. A pause clears the tension and quiet chords lead into the final
  statements of the melody.</p>
<div class="listen" id="barber-adagio">
  <h1>Barber, Adagio for Strings, Op. 11</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#barber-adagio', 'eMFsN9lOVzE');
    });
  </script>
</div>
<p>Knowing that Barber's contemporaries were disappointed that he avoided the "American sound"
  question, where do you think his music falls? Does it sound American to you?</p>
{% endblock %}
