{% extends "layout.nunjucks" %}
{% block content %}
<h1>Introduction to Pitch</h1>
<p>One way that sounds are organized into music is by their highness or lowness, which is known as <b>pitch</b>.
    Pitches are played in patterns to create <a href="melody.html">melodies</a>, in sequence from low to high to
    create <a href="scales.html">scales</a>, and simultaneously to create <a href="harmony.html">harmonies</a>.
    Before we can discuss these applications, we must first understand what pitch is, <a
        href="notating_naming_pitches.html">how different pitches are indicated on the page</a>, and <a
        href="intervals.html">how pitches relate to each other</a>.</p>
<h2>Pitch and Frequency</h2>
<div class="pic fltlft"><img src="../images/other/soundwave.png" alt="graph of sound waves" border="0"
                             width=350/></div>
<p>Pitch is roughly equivalent to the <b>frequency</b> of a sound wave. Frequencies are measured in vibrations
    per second, or Hertz (Hz). Higher pitches vibrate more quickly, whereas low pitches vibrate more slowly. It
    should be noted, however, that frequency is a physical property of sound, whereas pitch is a perceived
    phenomenon that requires interpretation by the brain. Thus, although they are closely related, pitch and
    frequency are not synonyms. If you would like to learn more about the physics of sound, see the <a
        href="../resources/links.html">list of external links</a>.</p>
<h2 class="clearfloat">Tuning</h2>
<p><b>Tuning</b> is the process of matching pitches precisely with each other. Simply playing the "right" note
    doesn't always mean that the pitch matches perfectly with the other players. Instruments are affected by
    moisture, temperature, and time, and they must be tuned to account for the small rise or fall in pitch that
    these factors can cause. String instruments use tuning pegs to tighten or loosen the strings, for example,
    and woodwind and brass players can extend or reduce the length of their instruments by making slight
    adjustments at the places where sections of their instruments join.</p>
<p>Before performing, every instrumental music group must tune, whether it be an orchestra, a jazz band, or a
    rock band. We will discuss these performing groups in more detail in the section on <a href="ensembles.html"
                                                                                           target="_self">ensembles</a>.
    <a href="voices.html">Singers</a>, too, must listen carefully to the other performers to ensure that they
    are singing precisely the same pitch as the others, or they will be considered out of tune.</p>
{% endblock %}
