{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <li>Coded Meaning</li>
    <ul>
      <li><a href="#shostakovich">Shostakovich and the Soviet Communist Party</a></li>
      <li><a href="#byrd">William Byrd and the Protestant Reformation</a></li>
    </ul>
    <li>Commemoration</li>
    <ul>
      <li><a href="#tsar">Chaikovsky and the Tsar</a></li>
    </ul>
    <li>Revolutions</li>
    <ul>
      <li><a href="#faure">Faur&eacute; and the Requiem Mass</a></li>
      <li><a href="#napoleon">Beethoven and Napoleon</a></li>
    </ul>
    <li>Social Revolution</li>
    <ul>
      <li><a href="#woodstock">Woodstock</a></li>
    </ul>
  </ul>
</div>
<h1>Music in Politics and Revolution</h1>
<p>Music and politics seem a natural pair: most political events are accompanied by great bombast
  and fanfare, and have been for centuries. But the relationship can be much more complex than
  simply providing a soundtrack for political events. We will explore several angles in the examples
  that follow, from composers who had to code their meaning under threatening rulers (and who were
  so successful that we are still trying to understand their intentions) to musicians whose messages
  actually contributed to political change. Of course, music is also an important way to commemorate
  the events of our lives, and so there is much music whose purpose is the commemoration of great
  events or people, quite aside from any hidden personal convictions on the part of the composer.
  The possibilities are endless for this topic, but what follows are a few examples that show the
  range of interaction between music and politics.</p>
<a name="shostakovich" id="shostakovich"></a>
<h2>Coded Meaning</h2>
<h3>Shostakovich and the Soviet Communist Party</h3>
<p>Politics had a profound influence on the music of Dmitri Shostakovich, as it did on many other
  Soviet artists in the twentieth century. During Shostakovich's teenage years, the Russian
  Revolution of 1917 accomplished the overthrow of the tsar. Modern and experimental styles in all
  the arts were supported, as their revolutionary spirit seemed to match the politics of the time.
  But in 1922 a communist–ruled Soviet Union was established, and in 1924 Stalin's dictatorship came
  to power. In the name of suppressing "counter-revolutionaries" and "elitism" many people
  disappeared or were sent to the Siberian work camps. Stalin wanted to encourage art that supported
  the communist agenda, and he often chose extreme methods to ensure that his wishes were
  followed.</p>
<p>For most of Shostakovich's career, the prevailing aesthetic supported by the government was <b>Socialist
  Realism</b>. The definition of the style as given by communist party records is the "truthful and
  historically concrete representation of reality in its Revolutionary development." This definition
  was purposefully vague, but it was understood that art should be proletarian (of the working
  class), typical (of things in a working class person's life), realistic (not fantastical), and
  partisan (for the party and country). Overall, the style was meant to be an optimistic celebration
  of the People and their lives. This definition was somewhat elaborated for art and literature, and
  was explicit about excluding such painting styles as Impressionism, Cubism, and any number of less
  realistic styles. However, for music, the definition was much less precise. It was understood that
  modernist techniques such as serialism were not to be tolerated. Music with a clear melody and in
  a popular style was preferable. But beyond this, specifics were not expressed. Art that did not
  adhere to this prevailing aesthetic was labeled <b>formalist</b>, meaning it was conservative,
  academic, elitist, or with radical prominence of form. In actuality, it was the label the
  government used when the art or artist was felt to be contrary to the ideology of the state.</p>
<p>Such policies had encouraged Shostakovich to move away from any overtly modernist techniques like
  serialism. But he still experimented with other modernist techniques such as increased dissonance
  and innovative use of meter. His music had gained a large following in the Soviet Union, and even
  some international exposure. He was poised to become the twentieth century's next great opera
  composer, with his opera <i>Lady Macbeth of the Mtsensk District</i> (1934) opening in Moscow and
  Leningrad to great popular and critical success and continuing a two-year run.</p>
<p>However, 1934 was also the year that Stalin's purges began, known as the Great Terror. Many
  writers and artists were sent to the work camps, or simply disappeared. In 1936 Stalin attended a
  performance of Shostakovich's opera. The next day an article in Pravda, the official paper of the
  Central Committee of the Communist Party, called it "muddle instead of music." This was understood
  to be the opinion of the dictator, and spelled very bad news for Shostakovich. It was a warning to
  all those who had publicly praised the opera, and many of the artists Shostakovich had worked with
  were arrested. The opera, needless to say, was no longer performed. Shostakovich's adventurous
  4<sup>th</sup> symphony, which was about to be premiered, was put away and not performed until
  1961 (in a very different political climate). The details of the criticism were the usual ones:
  music not accessible to the people, melodies not lyrical, harmonies too dissonant, and certainly
  not heroic in tone.</p>
<p>Shostakovich's 5<sup>th</sup> symphony is commonly understood to be his attempt to be
  rehabilitated by the state and to avoid arrest. An article accompanying the premier in 1937 called
  it an "artist's response to just criticism." The article describes how the symphony is an
  expression of one man's experiences and suffering, and resolves the suffering in a joyous finale.
  Though it was signed by Shostakovich, it is impossible to know if he was the one who wrote the
  article, or even if he approved of its message. What it does show is that his rehabilitation was
  granted by the government.</p>
<p>In the past, many Westerners have looked on such events as clear instances of rebellion from
  within the Stalin dictatorship. It is anything but clear. There were no dissidents under Stalin:
  they simply disappeared. It would be incredibly dangerous to try to communicate anything overtly
  opposing the regime. Shostakovich was wise to resort to instrumental music, whose meaning could
  never be clearly pinned down. Indeed, this is what we should understand about the symphony; it is
  an example of calculated ambiguity. It was an immediate popular success, and its ambiguity may
  have contributed to this as well. One was not allowed to cry for the disappeared, or to hold
  funerals for people who supposedly have not died. So there is the sense that the symphony provided
  an outlet for grieving with its portrayal of a man and his suffering, and no one had to say what
  they might actually be weeping for. Shostakovich's continuing success throughout his life may have
  had something to do with the kind of catharsis he provided for his culture, a way to feel the
  things that were not said.</p>
<p>You can decide for yourself what you think Shostakovich's music means. It also provides us with
  an example of another important musical style in the early twentieth century: <b>neoclassicism</b>.
  After all the experimentation of the nineteenth century, several composers returned to the
  established forms of the Classical period as a way to simplify and reject the overly sentimental
  style of Romanticism. Thus neoclassical music often uses the traditional forms of the symphony or
  string quartet and infuses them with the new harmonic techniques and instrumentation of the
  twentieth century, all with a prevailing aesthetic preference for restraint and simplicity.</p>
<p>This style is especially apparent in the second movement of the symphony. This movement follows
  the form of a Classical period minuet and trio movement, a typical form to find in a middle
  movement. However, instead of the minuet, Shostakovich wrote a scherzo and trio ternary form, a
  slight riff on the Classical model, and a reference to Mahler's music. The scherzo itself is an
  alternation of phrases in march style with phrases in waltz style, juxtaposed jarringly and
  carried off with a rather ironic tone. The instrumentation is another modern innovation, as the
  melody begins in the low strings and then alternates between strings and winds. These playful
  combinations return in different ways in the second scherzo, the last part of the movement.
  Shostakovich also uses his harmonies in different ways, simply juxtaposing distant chords without
  the normal kind of preparation and resolution that might be expected for dissonances. And while
  the waltz sections are in a clear triple meter (as is the entire movement), the march sections
  often upset the meter with their duple feel. The Trio begins with the reduced instrumentation that
  traditionally marked such sections. But again, strange instrumentation rudely interrupts and the
  modern influence is asserted. </p>
<p>The entire symphony plays with the established norms for such a piece, in form, in harmony, and
  even in tone. Since Beethoven, the symphony had gained a trajectory from tragic to triumphant that
  had been little shaken. Listen for Shostakovich's modern touches with his harmony and
  instrumentation, and the odd flavor of his melodies in the second movement particularly. Then
  listen for the overall tone, and try to notice the ways this symphony continues the tradition and
  the ways in which it is new.</p>
<div class="video" id="shostakovich5">
  <h1>Shostakovich, Symphony No. 5 in D minor: IV. Allegro non troppo</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#shostakovich5', '9PD90rhA5Xs');
    });
  </script>
</div>
<a name="byrd" id="byrd"></a>
<h3>William Byrd and the Protestant Reformation</h3>
<p>Scholars have aptly noted the parallels that seem to exist between the ambiguous musical meaning
  in William Byrd's compositions in Elizabethan England and Shostakovich's under Stalin's
  dictatorship. During her reign, Elizabeth I established the Church of England (Anglican Church),
  which was in many respects a "middle way" that blended Catholic and Protestant practices. There
  were several aspects of Catholic worship and doctrine that were retained in the Anglican system,
  but since the Church of England conducted services in English (rather than Latin) and did not
  recognize the Pope as the ultimate authority in religious matters, it was considered part of the
  Protestant movement. The Church of England was designed as a compromise to ease tension and stop
  violence between the two religious factions, but it did not represent a shift towards religious
  tolerance. Despite similarities between Anglican and Catholic practices, it was illegal to be a
  practicing Catholic in England while Elizabeth was on the throne. As a composer and member of the
  Chapel Royal (where the queen herself would go to worship), William Byrd was expected to obey the
  prohibition and attend Anglican services. But Byrd was actually a Catholic whose family was fined
  several times for violating the prohibition on Catholic worship. We can find traces of this dual
  identity in much of Byrd's music, but like Shostakovich, Byrd's own intentions often remain
  ambiguous.</p>
<p>We will examine one instance of this with a song from Byrd's 1588 publication, <i>Psalmes, Sonets
  & songs of sadnes and pietie</i>. Byrd and his teacher, Thomas Tallis, held a printing monopoly
  for all music and music paper in England, a sign of royal favor. This 1588 collection of songs
  marked the first printing of music in thirteen years. In some ways it can be considered an act of
  loyalty to the queen and repentance for any connections Byrd may have had with certain prominent
  Catholics. In 1587 Mary Queen of Scots had been executed in connection with the Babington plot,
  one of many efforts to replace Queen Elizabeth with a Catholic monarch. Byrd had been placed under
  surveillance for his connections with some of the Catholic conspirators. Shortly after Mary's
  execution a funeral was held for the much beloved Protestant poet, Sir Philip Sidney. It seems
  that the elaborate funeral for this very loyal subject was intended to overshadow the memory of
  Mary's death with an event of great patriotism. Byrd's publication then, can be seen as both a
  recognition of Sidney's funeral and also an apology for any misbehavior on his own part.</p>
<p>However, several pieces in the collection may have also been significant for Byrd's Catholic
  connections and could be read as a sign of his continuing Catholic beliefs. For instance, "Why do
  I use?" sets part of a poem written in commemoration of Edmund Campion, a Jesuit martyr. Campion
  had traveled to England under the Pope's authority to support the Catholic cause there, and his
  death had only fueled their fire. To be caught with the poem written in his honor was often an
  offense worthy of arrest, or worse, as it was a sign of Catholic sympathizing. Even the lines that
  Byrd extrapolated from the poem would have been recognized by his contemporaries as part of the
  Campion poem. So what is such a poem doing in a collection intended to return Byrd to the queen's
  good graces, a collection dedicated to one of her favorites at court?</p>
<p>We can never be sure of Byrd's intentions, but it seems that the inclusion of this text could
  have pleased his Protestant audience as well as the Catholics, thus providing his own "middle
  way." For in a collection with so many references to Sidney, Protestants may have been happy to
  note how well the Catholic message was overshadowed by praise and fervor for the poet. And
  historical facts gave the Campion text a reason to be included as well, for Sidney and Campion had
  met in Europe and spent time discussing the issues of their day. Both men had left the encounter
  with a great respect for each other, despite their strongly differing views and loyalties.</p>
<p>The text of the song appears below. Whatever Byrd's intentions, the song's tone fits its funereal
  connection. The piece is considered a consort song, as it was intended for voice and a
  <b>consort</b>, or group of like instruments.</p>
<div class="listen" id="use">
  <h1>Byrd, "Why do I use my paper, ink, and pen?"</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#use', 'j9w6UDl4an0');
    });
  </script>
</div>
<table>
  <tr>
    <td class="labeltop">"Why do I use my paper, ink, and pen" (spelling regularized)</td>
  </tr>
  <tr>
    <td class="left">Why do I use my paper, ink, and pen,<br/>
      And call my wits to counsel what to say,<br/>
      Such memories were made for mortal men,<br/>
      I speak of Saints, whose names cannot decay,<br/>
      An Angels trump, were fitter for to sound,<br/>
      Their glorious death, if such on earth were found.<br/>
      <br/>
      That store of such were once on earth pursued,<br/>
      The histories of ancient times record,<br/>
      Whose constancy great tyrants rage subdued,<br/>
      Through patient death professing Christ their Lord,<br/>
      As his Apostles perfect witness bear,<br/>
      With many more that blessed Martyrs were.<br/>
      <br/>
      Whose patience rare and most courageous mind, <br/>
      With fame renowned perpetual shall endure,<br/>
      By whose examples we may rightly find,<br/>
      Of holy life and death a pattern pure:<br/>
      That we therefore their virtues may embrace,<br/>
      Pray we to Christ to guide us with his grace.
    </td>
  </tr>
</table>
<a name="tsar" id="tsar"></a>
<h2>Commemoration</h2>
<h3>Chaikovsky and the Tsar</h3>
<p>Chaikovsky is one of the last composers that can be considered a court composer, given his close
  relationship with the imperial court of the Russian tsar. Not only was Chaikovsky still writing
  music in the genres that were an important part of court culture, such as ballet, he often wrote
  music for the tsar or commissioned by him. The piece now known as the 1812 Overture is an example
  of politics influencing the patronage of music. The Tsar Alexander I had ordered a church to be
  built in commemoration of the retreat of Napoleon's army from Russian soil in 1812. Upon the
  completion of the Cathedral of Christ the Saviour, a festival was to be held in honor of the
  occasion, and Chaikovsky was commissioned to write an overture for this grand opening. His
  festival overture portrays the advancing French armies by referencing their national anthem, <i>La
    Marseillaise</i>, a signal his contemporaries would have recognized. Similarly, the Russians are
  represented by their national anthem, <i>God Save the Tsar</i>. The overture is programmatic in
  the way it tells the story of the invasion and ensuing battles through musical cues. The initial
  announcement of war through the church, the early triumph of Napoleon, the numbing winter winds of
  Russia, the fleeing peasants, and the final triumph of the Russian army can all be heard in sound.
  The piece concludes with an impressive blasting of canons coordinated with the music in a final
  assertion of victory and ringing of bells.</p>
<p>You may already be familiar with this piece, as it is often used in American Independence Day
  celebrations, despite its original associations with Russian national pride.</p>
<div class="video" id="marseillaise">
  <h1>Claude-Joseph Rouget de Lisle, "La Marseillaise" (National Anthem of France)</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#marseillaise', 'kpUTTlMHjLY');
    });
  </script>
</div>
<div class="video" id="eighteen-twelve">
  <h1>Chaikovsky, 1812 Overture</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#eighteen-twelve', 'rgOGl_OWOqg');
      embedYouTube('#eighteen-twelve', 'qW4C2h3lPac');
    });
  </script>
</div>
<a name="faure" id="faure"></a>
<h2>Revolutions</h2>
<h3>Faur&eacute; and the Requiem Mass</h3>
<p>Faur&eacute;'s life straddled a period of rapid artistic change in many of the arts as well as
  music. His style is representative of an aesthetic preference for order, restraint, and subtlety
  that had long prevailed in France. While grandiose emotional expression became the hallmark of the
  German Romantic style and those who followed it, there were those like Faur&eacute; who instead
  created lyrical and refined compositions. Faur&eacute; was considered an important composer in his
  own day, and was in the enviable position of having created music that remained vital throughout
  his life, despite the stylistic changes occurring around him. Even with the evolving nature of his
  own style, it was always considered to be the utterance of his own unique voice.</p>
<p>His most significant contributions were largely in the genres of song and chamber music. These
  intimate genres were the ideal outlet for his long lyrical melodic lines and harmonic
  adventurousness within a spare setting. Unlike the prevailing tendency to create tension with
  chromatic alterations that would then require release, Faur&eacute;'s harmonies use chromatic
  alterations and added notes to accomplish a kind of stasis, or atmospheric rest. The kinds of
  techniques he used are difficult to describe without resorting to some rather advanced theoretical
  analysis, but the effect should be easily enough perceived in the examples below. Moreover, Faur&eacute;'s
  experimentation with such harmonic devices and scales like the whole-tone scale were very
  influential for those who followed him.</p>
<p>At this point you may be wondering how Faur&eacute;'s Requiem fits into the current topic. What
  is revolutionary about a composer who was employed as a choirmaster and organist at various
  churches for more than forty years choosing to compose a requiem? A <b>requiem</b> is, after all,
  the Roman Catholic Mass for the Dead, whose opening words (Requiem aeternam) supply its name. We
  would expect his requiem to look like most musical settings of the Latin text. But instead, Faur&eacute;'s
  seven movements differ from the norm in a few revealing ways. His Requiem omits the <i>Dies
    irae</i> and <i>Benedictus</i>, and adds the <i>Pie Jesu</i>, <i>Libera me</i>, and <i>In
    paradisum</i>. Admittedly, some of these choices are not so extraordinary. <i>Pie Jesu</i> could
  substitute for the <i>Benedictus</i> in liturgical function. And the <i>Libera me</i> could follow
  the mass, as could the <i>In paradisum</i> which accompanied the coffin to its burial outside the
  church setting, so these two sections seem to have been simply subsumed into the requiem service
  in Faur&eacute;'s version. But the <i>Dies irae</i> had formed a significant part of the Requiem
  Mass since Mozart's impressive example, and indeed Faur&eacute; may be the only composer in the
  nineteenth century to have left it out of a Latin Requiem Mass. Additionally, this movement with
  its fire and brimstone, its talk of judgment and sin, was usually responsible for some of the most
  inspired musical writing in a requiem.</p>
<div class="listen" id="mzt-requiem">
  <h1>Mozart, Requiem in D minor: Sequence No. 1, <i>Dies irae</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#mzt-requiem', 'ZHZ46Zw899k');
    });
  </script>
</div>
<p>Which brings us to the point. Faur&eacute; lived during a period of questioning in France, a
  period of social challenges to organized religion. In the decades after his composition of the
  Requiem (1887-1893), Faur&eacute; would be employed at the state run national conservatory, and
  perhaps felt a greater freedom to express his religious doubts. But at the time of the composition
  of the Requiem, we can already see that some of his musical choices reveal a re-imagined version
  of faith. This corresponds with a revolution of ideas about faith in which members of the populace
  began to reject the institution of religion, but not its concerns. That is, debate still centered
  on the pursuit of morality and contemplation of the eternal, but without the faith and authority
  of an established church.</p>
<p>With this context in mind, it is possible to see Faur&eacute;'s requiem as a revolution in the
  way religion is conceived of; finding meaning on a personal level without explicitly denying the
  idea of faith. First, the whole piece both begins and ends with the word requiem, or rest. It is
  normal for this to be the first word, but very unusual for it to be the last. This textual freedom
  is a feature of the entire piece, as Faur&eacute; frequently rearranges, repeats, or leaves out
  words and phrases. The choices he makes with text are very revealing about the message the piece
  is meant to communicate. It is significant that the piece is framed by the word "requiem," and
  certainly the music as a whole can be characterized by that word. Moreover, where the word
  "requiem" is used, which is in most movements in Faur&eacute;'s setting, it is clearly audible.
  Listen for it in the excerpts below.</p>
<p>Textual reference is important in the middle movement as well, the <i>Pie Jesu</i>. For as
  scholars have pointed out, the words "Pie Jesu" are contained in the only line of the <i>Dies
    irae</i> that speaks of peace and rest, the last line. So even though Faur&eacute; has left out
  the terrifying <i>Dies irae</i>, he has included a movement that might remind his religiously
  educated listeners of that missing Dies irae, and consequently brings its absence to their
  attention. And he does this with the movement that forms the center of his work. Thus, the <i>Pie
    Jesu</i> reminds the listener of the absence of text about the day of wrath, and then instead
  presents a musical setting full of peace. This movement is set simply with only a soprano soloist
  accompanied by the orchestra.</p>
<p>In short, Faur&eacute;'s religious concept is one imbued with compassion, music for consoling at
  a time of death. The music itself has a lightness and beauty that perfectly equate with "eternal
  rest," and communicates spirituality that is free from the horrors of judgment. This tone is also
  evident in the last movement, the <i>In paradisum</i>. Faur&eacute; seems to be giving us his own
  view of the kingdom of heaven here, with the emphasis on peace and rest again.</p>
<p>Despite its deviation from the norm, Faur&eacute;'s Requiem was well received in his day. The
  piece has remained in use as both a functioning liturgical work and a concert piece, and has also
  been used in many movie and TV soundtracks. Listen to the <i>Pie Jesu</i> and the final movement,
  <i>In paradisum</i>, and see what kind of scene you think Faur&eacute; is painting. The setting in
  the recordings below is of the smaller chamber orchestra accompaniment with choir, as Faur&eacute;
  originally composed the work. He later revised it for a larger orchestral force with choir.</p>
<div class="listen" id="faure-requiem">
  <h1>Faur&eacute;, Requiem, Op. 48: <i>Pie Jesu</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#faure-requiem', 'JDvkFMqmDFg');
    });
  </script>
</div>
<table class="poem">
  <tr>
    <td colspan="2" class="labeltop"><i>Pie Jesu</i></td>
  </tr>
  <tr>
    <td class="labeltop">Latin</td>
    <td class="labeltop">English Translation</td>
  </tr>
  <tr>
    <td class="left">Pie Jesu Domine,<br/>
      dona eis requiem,<br/>
      requiem sempiternam.
    </td>
    <td class="left">Merciful Lord Jesus,<br/>
      grant them rest,<br/>
      eternal rest.
    </td>
  </tr>
</table>
<div class="listen" id="faure-paradisum">
  <h1>Faur&eacute;, Requiem, Op. 48: <i>In paradisum</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#faure-paradisum', 'kG8MojbMyWw');
    });
  </script>
</div>
<table class="poem">
  <tr>
    <td colspan="2" class="labeltop"><i>In Paradisum</i></td>
  </tr>
  <tr>
    <td class="labeltop">Latin</td>
    <td class="labeltop">English Translation</td>
  </tr>
  <tr>
    <td class="left">In Paradisum deducant te Angeli;<br/>
      in tuo adventu<br/>
      suscipiant te martyres,<br/>
      et perducant te<br/>
      in civitatem sanctam Jerusalem,<br/>
      Chorus Angelorum te suscipiat,<br/>
      et cum Lazaro quondam paupere<br/>
      aeternam habeas requieum.
    </td>
    <td class="left">May angels lead you into Paradise.<br/>
      At your coming<br/>
      may martyrs receive you,<br/>
      and may they lead you<br/>
      into the Holy City, Jerusalem.<br/>
      May the chorus of angels receive you,<br/>
      and with Lazarus, who once was a pauper,<br/>
      may you have eternal rest.
    </td>
  </tr>
</table>
<a name="napoleon" id="napoleon"></a>
<h3>Beethoven and Napoleon</h3>
<p>Beethoven himself is often considered a revolutionary figure in the history of music. He has long
  been painted as the pivot point between the styles of the Classical period and the Romantics. We
  can certainly find in his works the innovative attitude that the Romantic generation lauded him
  for. And he was one of the first composers to be zealously promoted as the genius artist whose
  works embodied the Romantic ideal of the Sublime.</p>
<div class="pic fltrt">
  <a href="http://en.wikipedia.org/wiki/File:Prise_de_la_Bastille.jpg"
     target="_blank">
    <img src="../images/other/Houel_Prise_de_la_Bastille.jpg"
         alt="Prise de la Bastille by Jean-Pierre Hou&euml;l"
         width="300" border="0"/>
  </a><br/>
  <i>Prise de la Bastille</i> by Jean-Pierre Hou&euml;l
</div>
<p>However, we are going to examine here one of Beethoven's works that can be more concretely
  associated with politics and revolutions. During Beethoven's life, Enlightenment values of social
  reform, universal education, and the inalienable rights of man had become watchwords. These
  radical new ideals had informed the principles behind the United States' Declaration of
  Independence and Constitution. And in 1789 they had finally erupted in the French Revolution with
  the Storming of the Bastille. Citizens sought to overthrow complacent monarchies and their
  supporting nobility and religious hierarchies in favor of representative government and a system
  that might reward talent rather than circumstances of birth. These kinds of battles were not won
  overnight, but you will recognize that the ideals behind them are very much a part of our society
  today.</p>
<p>Beethoven also supported these ideals, and so when he wrote his third symphony in 1803, he had
  originally intended to title it <i>Sinfonia Bonaparte</i>. By so doing, it would show his
  admiration for Napoleon Bonaparte's rise from common origins to his place as the defender of
  republican values in France during its first days as a republic. However, scholars believe that
  after Bonaparte declared himself emperor, Beethoven angrily scratched out the title and replaced
  it with <i>Sinfonia Eroica</i>. There is some evidence to suggest that Beethoven continued to
  admire Napoleon, and still intended to dedicate the piece to him for some years after. Yet, with
  rising political tensions between the Holy Roman Empire (Beethoven's home) and the ambitious
  Napoleon, it would have been unwise for Beethoven to appear to support Napoleon. Not only would it
  have been bad publicity in Vienna at the time, but it also could have caused outrage among
  Beethoven's patrons, many of whom were loyal supporters of the Holy Roman Emperor. Additionally,
  as these patrons were members of the nobility, Napoleon's overthrow of the monarchy in France
  represented a threat to their position. In the end, Beethoven dedicated his third symphony to
  Prince Lobkowitz, a loyal patron, and inscribed it simply "to celebrate the memory of a great
  man."</p>
<p>The piece is thought to portray the inner turmoil of a heroic figure in the experience of battle
  and its aftermath. Even though the piece may have been inspired by Napoleon, Beethoven could have
  had other heroic figures in mind as well. Indeed, scholars have suggested that the piece closely
  follows a type of narrative about Homer's Achilles that would have been known in Beethoven's day.
  Regardless, the third symphony is often referred to as the beginning of the heroic sound in
  Beethoven's compositions. His adherence to a set formal plan, four movements in the expected forms
  of sonata-slow-scherzo-finale, interferes little with the perception of the piece as the internal
  narrative of a heroic figure.</p>
<p>We will focus on just the first two movements. As previously stated, the first movement is in
  sonata form, the typical choice for symphonic first movements. The first theme is presented in the
  cellos though, a slightly unusual choice. Notice how the opening bars of the theme sound
  triumphant, even fanfare-like. But the final notes of the theme drop off with a chromatic fall
  that communicates the sense that something is not right. This musical intricacy does not get
  resolved until the truly triumphant final movement of the symphony, creating an arch not unlike a
  story. Notice throughout the movement Beethoven's use of the winds and strings in dialogue, and
  the frequent syncopated rhythms he incorporates. His characteristic dynamic contrasts are fairly
  simple to observe, but try also to notice how certain <b>motives</b>, or small musical units, keep
  recurring throughout the movement. Beethoven's music is often saturated with these motives, though
  some will be easier to hear than others.</p>
<div class="listen" id="eroica1">
  <h1>Beethoven, Symphony No. 3 in E flat major, Op. 55, "Eroica": I. Allegro con brio</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#eroica1', 'jrlAyokyKGU');
    });
  </script>
</div>
<div id="eroica1-score">
  <h1>Beethoven, Symphony No. 3 in E flat major, Op. 55, "Eroica": I. Allegro con brio, first theme</h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#eroica1-score', '../scores/eroica_I_theme_1.png', '../scores/eroica_I_theme_1.mp3');
    });
  </script>
</div>
<p>The second movement provides a stark contrast to the first, both in tempo and mood. This slow
  movement is a march, often described as a funeral procession. It is in ternary form, beginning
  with the opening march whose themes are played by the violins and oboes in minor key. This is
  interrupted by the Trio (at 3:50); a contrasting section in major key with the flavor of a
  revolutionary hymn. The somber march material returns (at 5:51) with its minor key themes.
  However, the themes are continually interrupted by other material, first tense, then angry, as if
  the heroic figure's emotions are surfacing while he witnesses the procession. To continue the
  illusion of a passing procession, the piece ends by fading into the distance.</p>
<div class="listen" id="eroica2">
  <h1>Beethoven, Symphony No. 3 in E flat major, Op. 55, "Eroica": II. Marcia funebre: Adagio
    assai</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#eroica2', 'MwmupVj_qxg');
    });
  </script>
</div>
<div id="eroica2-score">
  <h1>Beethoven, Symphony No. 3 in E flat major, Op. 55, "Eroica": II. Marcia funebre: Adagio, first theme</h1>
  <script>
    $(document).ready(function () {
      scoreInsert('#eroica2-score', '../scores/eroica_II_march_theme.png', '../scores/eroica_II_march_theme.mp3');
    });
  </script>
</div>
<a name="woodstock" id="woodstock"></a>
<h2>Social Revolution</h2>
<h3>Woodstock</h3>
<p>It is almost impossible to be a member of American culture and remain unaware of the 1969
  Woodstock music festival. Many of the musicians that participated in the festival have since
  become legendary and influential figures. The renown the festival earned for its muddy fields, its
  excess of drugs, and the general ethos of peace and free love either inspires nostalgia or
  distaste. In the minds of many people, it almost goes without say that Woodstock is associated
  with revolution.</p>
<p>However, the particular moment that Woodstock represents is more substantial than that. Music
  festivals were beginning to become more popular, and were offering a venue to hear styles of music
  that were not being played on the radio. The Newport Folk Festival and the Monterey Pop Festival
  were two of the most important of these, and were significant predecessors to Woodstock. What made
  Woodstock especially noteworthy was that it brought a kind of socially conscious music to the
  attention of an entire nation. The kinds of issues that the musicians were addressing were not the
  kinds of things that politicians wanted to talk about. But when the media began covering the
  festival as a unique event, suddenly these issues were gaining exposure in a national arena.
  Issues such as racial equality, pacifist opposition to the Vietnam War, and gender equality not
  only had a voice, but also an audience.</p>
<p>As a voice for such issues, Bob Dylan gained a following early on in the realm of folk music, the
  genre that typically dealt with social and political issues. His lyrics were poetically gifted,
  and his interest in beatnik writings combined with a unique vocal character made his music
  exceptional. The song below is an example of the kind of politically charged lyrics that many
  musicians of the era were singing. Dylan made an additional revolutionary step in his sound when
  he played at the 1965 Newport Folk Festival on an electric guitar instead of an acoustic guitar.
  Moving socially conscious music into this new sound realm met with opposition at first from folk
  fans, as electrified sounds were associated with the meaningless songs of rock 'n' roll that were
  heard on the radio; music that the masses happily listened to but that had little to do with
  political messages. His choice was influential though ultimately, and its effects are evident in
  the musical acts that appeared at Woodstock four years later. Listen to the song below, noting the
  elements that make his sound distinct and how his lyrics related to the politics of the time.</p>
<div class="listen" id="masters-of-war">
  <h1>Bob Dylan, "Masters of War"</h1>
  <div class="links">
    <a href="https://smile.amazon.com/Masters-of-War/dp/B00136LNH4/"
       target="_blank"
       rel="noopener noreferrer"
       title="Purchase from Amazon">
      <img src="../images/layout/amazon.png" alt="Amazon"></a>
  </div>
</div>
<table>
  <tr>
    <td class="labeltop">"Masters of War" (1963)</td>
  </tr>
  <tr>
    <td class="left">Come you masters of war<br/>
      You that build the big guns<br/>
      You that build the death planes<br/>
      You that build all the bombs<br/>
      You that hide behind walls<br/>
      You that hide behind desks<br/>
      I just want you to know<br/>
      I can see through your masks<br/>
      <br/>
      You that never done nothin'<br/>
      But build to destroy<br/>
      You play with my world<br/>
      Like it's your little toy<br/>
      You put a gun in my hand<br/>
      And you hide from my eyes<br/>
      And you turn and run farther<br/>
      When the fast bullets fly<br/>
      <br/>
      Like Judas of old<br/>
      You lie and deceive<br/>
      A world war can be won<br/>
      You want me to believe<br/>
      But I see through your eyes<br/>
      And I see through your brain<br/>
      Like I see through the water<br/>
      That runs down my drain<br/>
      <br/>
      You fasten the triggers<br/>
      For the others to fire<br/>
      Then you set back and watch<br/>
      When the death count gets higher<br/>
      You hide in your mansion<br/>
      As young people's blood<br/>
      Flows out of their bodies<br/>
      And is buried in the mud<br/>
      <br/>
      You've thrown the worst fear<br/>
      That can ever be hurled<br/>
      Fear to bring children <br/>
      Into the world<br/>
      For threatening my baby<br/>
      Unborn and unnamed<br/>
      You ain't worth the blood<br/>
      That runs in your veins<br/>
      <br/>
      How much do I know<br/>
      To talk out of turn<br/>
      You might say that I'm young<br/>
      You might say I'm unlearned<br/>
      But there's one thing I know<br/>
      Though I'm younger than you<br/>
      Even Jesus would never<br/>
      Forgive what you do<br/>
      <br/>
      Let me ask you one question<br/>
      Is your money that good<br/>
      Will it buy you forgiveness<br/>
      Do you think that it could<br/>
      I think you will find<br/>
      When your death takes its toll<br/>
      All the money you made<br/>
      Will never buy back your soul<br/>
      <br/>
      And I hope that you die<br/>
      And your death'll come soon<br/>
      I will follow your casket<br/>
      In the pale afternoon<br/>
      And I'll watch while you're lowered<br/>
      Down to your deathbed<br/>
      And I'll stand o'er your grave<br/>
      'Til I'm sure that you're dead
    </td>
  </tr>
</table>
<p>Woodstock was about like-minded people joining together in a place where they could be free to
  express their anti-establishment views and imagine a new kind of lifestyle. Dylan had begun to
  show how a person could write meaningful music about the world around them and it could sound, in
  the words of a contemporary, "extraordinary." Jimi Hendrix pushed the boundaries even further,
  showing that such music could sound any way you wanted. Hendrix had gone to England because of the
  lack of opportunities for black musicians in America and to find an audience that appreciated his
  unique guitar technique. When he returned and played at the Monterey Pop Festival, his reception
  had improved greatly. The excerpt below shows his revolutionary guitar-playing style, one that
  became extremely influential for those that followed. It also shows the revolutionary nature of
  much of the musical content at Woodstock. In this case, it is a very personal display of
  patriotism in a pacifist context, thus showing that one can disagree with the policies of one's
  government and still remain a patriotic citizen, a message that his audience would have
  understood. While Hendrix's rendition of the national anthem may be understood as a patriotic
  gesture, it has also been criticized as a desecration of a national symbol. Listen and decide for
  yourself:</p>
<div class="video" id="jimi-anthem">
  <h1>Jimi Hendrix performing the American National Anthem</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#jimi-anthem', 'MwIymq0iTsw');
    });
  </script>
</div>
{% endblock %}
