{% extends "layout.nunjucks" %}
{% block content %}
<h1>Principles of Rhythm</h1>
<p><b>Rhythm</b> is the timing and duration of the notes. In notation, <a href="pitch.html">pitches</a> go up
    and down on the staff, but rhythms go from left to right. Thus <a href="pitch.html">pitch</a> is the
    vertical element of music, while rhythm is the horizontal element.</p>
<p>In order to express rhythms in writing, we need three things:</p>
<ol>
    <li><a href="beat.html">a beat</a></li>
    <li><a href="rhythm_notation.html">a way of writing notes to show their relative durations</a>, and</li>
    <li><a href="time_signatures.html">a time signature</a> to define the relationship between the <a
        href="beat.html">beat</a> and the <a href="rhythm_notation.html">notated durations</a>.
    </li>
</ol>
{% endblock %}
