{% extends "layout.nunjucks" %}
{% block content %}
<div class="subsect toc">
  <h1>Table of Contents</h1>
  <ul>
    <li><a href="#medieval_chant">Medieval Chant</a></li>
    <ul>
      <li>Gregorian chant</li>
      <li>The Mass and <i>Dies irae</i></li>
    </ul>
    <li><a href="#madrigals">Madrigals</a></li>
    <ul>
      <li>Suspensions</li>
      <li>Word Painting</li>
    </ul>
    <li><a href="#monody">Monody and the Emergence of Opera</a></li>
    <ul>
      <li>Monody</li>
      <li>Early Opera</li>
    </ul>
    <li><a href="#rap">Rap</a></li>
    <ul>
      <li>Origins</li>
      <li>Poetics</li>
    </ul>
  </ul>
</div>
<h1>Music and Words</h1>
<p>Language and music have played important roles in culture ever since their emergence in
  prehistoric humans. The hyoid bone, which is responsible for speech, developed in humanoids more
  than 60,000 years ago, and the oldest known bone flute is 40,000 years old. Poetry, philosophy,
  and drama survive from ancient Western cultures, and both music iconography (images of musical
  instruments and music making) and music notation have also been discovered. The link between music
  and words is found in vocal music - songs, choral music, opera, musical theater, and so on. In
  this section, we will examine several genres of vocal music that have a particularly close
  relationship to language.</p>
<a name="medieval_chant" id="medieval_chant"></a>
<h2>Medieval Chant</h2>
<p>In Medieval Europe, a huge body of sacred music was written over the course of fifteen centuries
  using Christian holy writings as texts. This genre is known as <b>chant</b> or <b>plainchant</b>,
  and consists of pieces that are monophonic with Latin (and occasionally Greek) texts intended for
  use in religious observances. Not all of this music has survived, but a large collection was
  captured in an early form of music notation and still survives in medieval manuscripts. Because
  the words were considered holy by those who created and performed this music, the relationship
  between words and music in this body of works is particularly critical. Above all, the music was a
  vehicle to facilitate the communication of sacred words.</p>
<h3>Gregorian Chant</h3>
<p>The most wide-spread and prolific type of plainchant is known as <b>Gregorian chant</b>. In 800,
  Pope Leo III consolidated the power of the Roman Church with that of the Frankish kings by
  declaring Charlemagne (768–814) emperor and establishing what is now known as the Holy Roman
  Empire. Christianity was the dominant religion in most of Europe by the 8th century, and the
  Frankish kings had conquered most of Western Europe by the 9th century, making this empire a large
  and powerful one. In order to solidify their power and promote unity in the empire, Charlemagne
  and the Pope worked to codify the liturgy (religious observances) and standardize regional chant
  repertoires into a single unified practice: Gregorian chant.</p>
<p>Gregorian chant is named after Pope Gregory I (r. 590-604) who, according to legend, learned the
  music from the Holy Spirit in the embodiment of a dove. However, Pope Gregory predates
  Charlemagne's standardization effort by 200 years, and there is no evidence from his own time that
  he was involved in composing or standardizing chant. Historians now believe that this story was
  generated as political propaganda to facilitate its adoption and promote unification in the newly
  established empire.</p>
<h3>The Mass and <i>Dies irae</i></h3>
<p>Music played an important role in all aspects of church liturgy, but none more so than the <b>Mass</b>.
  The Mass began as a symbolic reenactment of the Last Supper, and over time developed into a
  complex and sophisticated ritual. By the 11th century it consisted of 22 sections, only 4 of which
  did not include music. Sections whose text changed according to the church calendar are known as
  the <b>Proper of the Mass</b>, and the sections with fixed texts are known collectively as the <b>Ordinary
    of the Mass</b>.</p>
<p>The Mass for the Dead, or <b>Requiem Mass</b>, is performed at funereal services and in memory of
  the dead. In a Requiem Mass, sections of the Mass that are typically joyful are omitted or
  replaced, and since the 14th century, <b><i>Dies irae</i></b> ('Day of Wrath') is usually
  included. The text of <i>Dies irae</i> speaks of the wrath of God on the final judgment day, and
  its melody has appeared in many sacred and secular compositions since its emergence in the Middle
  Ages. It is often used to portray impending doom or to evoke the ideas of death and damnation. We
  will revisit <i>Dies irae</i> in later sections, so take the opportunity to become familiar with
  it now.</p>
<p>As you listen to the chant, notice that the rhythms are not rigid, but free and speechlike. The
  Medieval notation used to capture Gregorian chant indicates pitches, but does not indicate
  rhythms, so the rhythm of a chant is determined by the rhythm and emphasis of its text and the
  interpretation of the performers.</p>
<div class="video" id="dies-irae">
  <h1>Requiem Mass, Sequence: <i>Dies irae</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#dies-irae', 'O8hSLgYJr3k');
    });
  </script>
</div>
<p>Although many chant texts are biblical (often coming from the Psalms and the Gospels), the text
  of <i>Dies irae</i> is original and has been attributed to Thomas of Celano (d. ca. 1250). The
  poem is particularly long for its genre, consisting of 18 rhymed stanzas and a final unrhymed
  couplet that was added later by an anonymous author.</p>
<p>Musically, the formal pattern is very repetitive: AABBCC/AABBCC/AABBCDEF. There are internal
  phrases that reoccur as well: the second phrase of B is the same as the first phrase of A, and the
  second phrases of D and E are also identical. This amount of repeated material gives the long
  chant unity and coherence, and after so many iterations the melodies become quite familiar.</p>
<table class="poem">
  <tr>
    <td class="labeltop">Musical Form</td>
    <td class="labeltop">Stanza</td>
    <td class="labeltop">Latin Text</td>
    <td class="labeltop">English Translation</td>
  </tr>
  <tr class="stanza">
    <td>A</td>
    <td class="stanza"></td>
    <td class="left">Dies irae, dies illa<br/>
      solvet saeclum in favilla,<br/>
      teste David cum Sibylla.
    </td>
    <td class="left">A day of wrath; that day,<br/>
      it will dissolve the world into glowing ashes,<br/>
      as attested by David together with the Sibyl.
    </td>
  </tr>
  <tr class="stanza">
    <td>A</td>
    <td class="stanza"></td>
    <td class="left">Quantus tremor est futurus,<br/>
      quando iudex est venturus,<br/>
      cuncta stricte discussurus?
    </td>
    <td class="left">What trembling will there be,<br/>
      when the Judge shall come<br/>
      to examine everything in strict justice.
    </td>
  </tr>
  <tr class="stanza">
    <td>B</td>
    <td class="stanza"></td>
    <td class="left">Tuba mirum spargens sonum,<br/>
      per sepulchra regionum,<br/>
      coget omnes ante thronum.
    </td>
    <td class="left">The trumpet's wondrous call sounding abroad<br/>
      in tombs throughout the world<br/>
      shall drive everybody forward to the throne.
    </td>
  </tr>
  <tr class="stanza">
    <td>B</td>
    <td class="stanza"></td>
    <td class="left">Mors stupebit et natura,<br/>
      cum resurget creatura,<br/>
      iudicanti responsura.
    </td>
    <td class="left">Death and nature shall stand amazed<br/>
      when creation rises again<br/>
      to give answer to its Judge.
    </td>
  </tr>
  <tr class="stanza">
    <td>C</td>
    <td class="stanza"></td>
    <td class="left">Liber scriptus proferetur<br/>
      in quo totum continetur, <br/>
      unde mundus iudicetur.
    </td>
    <td class="left">A written book will be brought forth<br/>
      in which everything is contained<br/>
      from which the world shall be judged.
    </td>
  </tr>
  <tr class="stanza">
    <td>C</td>
    <td class="stanza"></td>
    <td class="left">Iudex ergo cum sedebit,<br/>
      quidquid latet, apparebit;<br/>
      nil inultum remanebit.
    </td>
    <td class="left">So when the Judge is seated,<br/>
      whatever is hidden will be made known:<br/>
      nothing shall go unpunished.
    </td>
  </tr>
  <tr class="stanza">
    <td>A</td>
    <td class="stanza"></td>
    <td class="left">Quid sum miser tunc dicturus?<br/>
      Quem patronum rogaturus,<br/>
      cum vix iustus sit securus?
    </td>
    <td class="left">What shall I, wretch, say at that time?<br/>
      What advocate shall I entreat (to plead for me)<br/>
      when scarcely the righteous shall be safe from damnation?
    </td>
  </tr>
  <tr class="stanza">
    <td>A</td>
    <td class="stanza"></td>
    <td class="left">Rex tremendae maiestatis,<br/>
      qui salvandos salvas gratis,<br/>
      salva me, fons pietatis.
    </td>
    <td class="left">King of awesome majesty,<br/>
      who to grants salvation to those that are to be saved,<br/>
      save me, o fount of Piety.
    </td>
  </tr>
  <tr class="stanza">
    <td>B</td>
    <td class="stanza"></td>
    <td class="left">Recordare, Iesu pie,<br/>
      quod sum causa tuae viae:<br/>
      ne me perdas illa die.
    </td>
    <td class="left">Remember, dear Jesus,<br/>
      that I am the reason for Thy journey (into this world):<br/>
      do not cast me away on that day.
    </td>
  </tr>
  <tr class="stanza">
    <td>B</td>
    <td class="stanza"></td>
    <td class="left">Quaerens me, sedisti lassus: <br/>
      redemisti crucem passus:<br/>
      tantus labor non sit cassus.
    </td>
    <td class="left">Seeking me, Thou didst sit down weary,<br/>
      Thou didst redeem me, suffering the death on the Cross:<br/>
      let not such toil have been in vain.
    </td>
  </tr>
  <tr class="stanza">
    <td>C</td>
    <td class="stanza"></td>
    <td class="left">Iuste Iudex ultionis,<br/>
      donum fac remissionis<br/>
      ante diem rationis.
    </td>
    <td class="left">Just Judge of vengeance,<br/>
      grant me the gift of pardon<br/>
      before the day of reckoning.
    </td>
  </tr>
  <tr class="stanza">
    <td>C</td>
    <td class="stanza"></td>
    <td class="left">Ingemisco tamquam reus:<br/>
      culpa rubet vultus meus:<br/>
      supplicanti parce, Deus.
    </td>
    <td class="left">I groan like one condemned:<br/>
      my face blushes for my sins:<br/>
      spare a supplicant, o God.
    </td>
  </tr>
  <tr class="stanza">
    <td>A</td>
    <td class="stanza"></td>
    <td class="left">Qui Mariam absolvisti,<br/>
      et latronem exaudisti, <br/>
      mihi quoque spem dedisti.
    </td>
    <td class="left">Thou who didst absolve Mary (Magdalen),<br/>
      and heard the robber,<br/>
      hast given me hope as well.
    </td>
  </tr>
  <tr class="stanza">
    <td>A</td>
    <td class="stanza"></td>
    <td class="left">Preces meae non sunt dignae:<br/>
      sed tu bonus fac benigne,<br/>
      ne perenni cremer igne.
    </td>
    <td class="left">My prayers are not worthy:<br/>
      but Thou, of Thy goodness, deal generously (with me),<br/>
      that I burn not in the everlasting flame.
    </td>
  </tr>
  <tr class="stanza">
    <td>B</td>
    <td class="stanza"></td>
    <td class="left">Inter oves locum praesta,<br/>
      et ab haedis me sequestra,<br/>
      statuens in parte dextra.
    </td>
    <td class="left">Give me a place among the sheep,<br/>
      and separate me from the goats,<br/>
      setting me on Thy right hand.
    </td>
  </tr>
  <tr class="stanza">
    <td>B</td>
    <td class="stanza"></td>
    <td class="left">Confutatis maledictis,<br/>
      flammis acribus addictis:<br/>
      voca me cum benedictis.
    </td>
    <td class="left">When the accursed have been confounded<br/>
      and sentenced to acrid flames,<br/>
      call me along with the blessed.
    </td>
  </tr>
  <tr class="stanza">
    <td>C</td>
    <td class="stanza"></td>
    <td class="left">Oro supplex et acclinis<br/>
      cor contritum quasi cinis,<br/>
      gere curam mei finis.
    </td>
    <td class="left">I prostrate myself, supplicating,<br/>
      my heart in ashes, repentant;<br/>
      take good care of my last moment!
    </td>
  </tr>
  <tr class="stanza">
    <td>D</td>
    <td class="stanza" rowspan="2"></td>
    <td class="left">Lacrymosa dies illa<br/>
      qua resurget ex favilla
    </td>
    <td class="left">That day will be one of weeping<br/>
      on which shall rise again from the embers
    </td>
  </tr>
  <tr>
    <td>E</td>
    <td class="left">iudicantus homo reus:<br/>
      huic ergo parce, Deus.
    </td>
    <td class="left">the guilty man, to be judged:<br/>
      Therefore spare him, O God.
    </td>
  </tr>
  <tr>
    <td>F</td>
    <td></td>
    <td class="left">Pie Iesu Domine,<br/>
      dona eis requiem. Amen.
    </td>
    <td class="left">Merciful Lord Jesus,<br/>
      grant them rest. Amen.
    </td>
  </tr>
</table>
<p>The abundance of formal repetition in <i>Dies irae</i> reveals a great deal about the
  relationship between words and music in this chant. Using the same music over and over again
  regardless of text indicates that the music was not designed to interpret or express specific
  words. For example, the word '<i>irae</i>' ('wrath') is set to the same music as '<i>causa</i>'
  ('cause'), '<i>redemisti</i>' ('for thou has redeemed'), '<i>Mariam</i>' ('Mary'), '<i>meae</i>'
  ('my'), and '<i>haedis</i>' ('goats'). If the music had been designed to guide interpretation or
  express the meaning of the text, surely 'goats' and 'wrath' would be set differently. Instead, the
  form and rhythm of the text guide the music more than the meaning of the words themselves.</p>
<p>In Gregorian chant, the music is completely subservient to the words, and its main purpose is to
  carry those words to a congregation, perhaps in a large, resonant church. Although chant is
  designed to be pleasing, in order to fulfill this role, chants must also be simple: monophonic,
  unaccompanied, easily sung and remembered.</p>
<a name="madrigals" id="madrigals"></a>
<h2>Madrigals</h2>
<p>With Gregorian chant we saw how music can be used functionally as a vessel for the transmission
  of words. In the Renaissance period, a secular (non-sacred) polyphonic genre developed that began
  setting poetry with an emphasis on expression: the <b>madrigal</b>.</p>
<!-- <p class="floatingbox fltrt">Humanism: !!!!!!!!!!!!!!!!!!!!</p>-->
<p>Poems used for madrigals were usually love poems, satires, or allegories. Most madrigals are
  through-composed, so the form of the poem was of little importance to composers of these pieces.
  Vivid imagery and emotional content were the qualities that most intrigued madrigal composers
  because these features created expressive and interpretive opportunities for the music. The poems
  of Petrarch (1304-1374), a Medieval Italian poet and humanist, were considered ideal for madrigals
  because they were finely crafted and rich in these expressive opportunities.</p>
<div class="video" id="marenzio1">
  <h1>Luca Marenzio (1553/4-1599), <i>Zefiro torna, e 'l bel tempo rimena</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#marenzio1', 'H5HQlJCro50');
    });
  </script>
</div>
<table class="poem">
  <tr>
    <td class="labeltop">Italian Rhyming Pattern</td>
    <td class="labeltop">Italian Sonnet by Petrarch<br/>
      <small><i>Canzoniere</i>, 310</small>
    </td>
    <td class="labeltop">English Translation<br/>
      <small>by William Dudley Foulke</small>
    </td>
  </tr>
  <tr>
    <td>a<br/>
      b<br/>
      a<br/>
      b<br/>
      <br/>
      a<br/>
      b<br/>
      a<br/>
      b<br/></td>
    <td class="left">Zefiro torna, e 'l bel tempo rimena<br/>
      e i fiori e l'erbe, sua dolce famiglia,<br/>
      et garrir Progne et pianger Filomena,<br/>
      et Primavera candida e vermiglia;<br/>
      <br/>
      ridono i prati, e 'l ciel si rasserena,<br/>
      Giove s'allegra di mirar sua figlia,<br/>
      l'aria e l'acqua e la terra &egrave; d'amor piena,<br/>
      ogni animal d'amar si riconsiglia.<br/></td>
    <td class="left"> Again with gladsome feet Zephyr returns<br/>
      Mid grass and flowers, his goodly family<br/>
      And Procne chatters, Philomela mourns,<br/>
      While Spring comes forth in all her finery.<br/>
      <br/>
      The meadows laugh; the skies are bright and fair,<br/>
      And Aphrodite wins the smile of Jove,<br/>
      While full of passion is the earth and air<br/>
      And every creature turns his thoughts to love.<br/></td>
  </tr>
  <tr>
    <td>c<br/>
      d<br/>
      c<br/>
      <br/>
      d<br/>
      c<br/>
      d
    </td>
    <td class="left"> Ma per me, lasso, tornano i pi&ugrave; gravi<br/>
      sospiri che del cor profondo tragge<br/>
      quella ch'al Ciel se ne port&ograve; le chiavi;<br/>
      <br/>
      et cantar augelletti, e fiorir piagge,<br/>
      e 'n belle donne oneste atti soavi<br/>
      sono un deserto e fere aspre e selvagge.
    </td>
    <td class="left"> For me, alas! these vernal days are shorn<br/>
      Of all delight and laden with the sighs<br/>
      Which from my heart's recesses she hath torn<br/>
      <br/>
      Who bore its hopes and pangs to Paradise!<br/>
      'Till birds and flowers and woman's graces mild<br/>
      To me are but a desert, stern and wild.
    </td>
  </tr>
</table>
<p>The sonnet is divided into two parts with different rhyming schemes. Unfortunately, the English
  translation does not follow the same rhyme scheme as the original Italian, so you will need to
  refer to the Italian text to see these patterns. Traditionally, the first part of a sonnet will
  introduce a situation or problem and the second part will resolve the problem or respond to the
  situation. In this case, the bright happiness of spring portrayed in the first section contrasts
  sharply with the bitterness and pain of a man whose beloved has died.</p>
<p>The music portrays this contrast in several ways. The tempo is much slower in the second section,
  and rhythms that were jaunty and energetic in the first section give way to smooth and sustained
  patterns. The vocal ranges also tend to be lower in this section, implying low spirits and
  depression in contrast with the bright optimism and high pitches of the first section. Marenzio
  also uses <b>suspensions</b> and <b>word painting</b> to evoke the contrasting emotions of this
  poem.</p>
<h3>Suspensions</h3>
<p>A <b>suspension</b> is an elegant way of introducing dissonance into a piece of music, and was a
  favorite technique of madrigal composers. Suspensions follow specific formulas and consist of
  three parts: the preparation, the suspension itself, and the resolution. The preparation is
  consonant, the suspension is dissonant, and the resolution is consonant again. Suspensions are
  named according to the dissonant interval that creates the suspension and the consonant interval
  that resolves it. Therefore, a 9-8 suspension occurs when a 9th (which is dissonant) resolves to
  an octave (which is consonant).</p>
<div id="suspensions_examples">
  <h1>Suspensions</h1>
</div>
<script>
  $(document).ready(function () {
    scoreInsert('#suspensions_examples', '../scores/suspensions.png', '../scores/suspensions.mp3');
  });
</script>
<p>Because these suspensions are driven by dissonance, they are used in music of this period to
  indicate tension and unease. Suspensions can even be linked together, one after another, which
  creates a sense of longing and gives the impression that resolution will never be achieved. In
  Petrarch's poem the speaker is distressed because his beloved is gone and will never return, which
  makes these gestures of anguish and yearning particularly well suited to its musical setting.</p>
<h3>Word Painting</h3>
<p>An important feature of any madrigal is <b>word painting</b>, and <i>Zefiro torna, e 'l bel tempo
  rimena</i> is no exception. Word painting occurs when the music is designed to symbolically
  represent the ideas in the text. Word painting generally appears on words that express emotion
  ('weep', 'laugh', 'pity'), indicate motion or direction ('leap', 'cast down'), or represent time
  or number ('quickly', 'twice'). Often natural sounds, like birds chirping or a brook babbling, are
  imitated as well - a technique called <b>onomatopoeia</b>. In this madrigal, Marenzio uses word
  painting on '<i>garrir</i>' ('chatters'), '<i>ridono</i>' ('laugh'), '<i>profondo</i>'
  ('profound'), '<i>Ciel</i>' ('Heaven' or 'Paradise'), '<i>cantar</i>' ('sing'), and others. Listen
  again to the recording and follow along with the examples of word painting in the chart below.</p>
<div class="video" id="marenzio2">
  <h1>Luca Marenzio (1553/4-1599), <i>Zefiro torna, e 'l bel tempo rimena</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#marenzio2', 'H5HQlJCro50');
    });
  </script>
</div>
<table>
  <tr>
    <td class="labeltop nobreak">Time Stamp</td>
    <td class="labeltop">Word Painting</td>
  </tr>
  <tr>
    <td>0:23</td>
    <td class="left">Procne's chattering is portrayed by short, quick, descending scalar
      (scale-like) passages.
    </td>
  </tr>
  <tr>
    <td>0:54</td>
    <td class="left">Laughing is depicted with even faster figures going both up and down, with
      particularly high pitches in the soprano.
    </td>
  </tr>
  <tr>
    <td>2:05</td>
    <td class="left">On the Italian word for 'profound' ('<i>profondo</i>') all the voices descend,
      which is unusual for this style. In contrast, the following phrase leads to the word for
      'Heaven' ('<i>Ciel</i>') and is filled with ascending figures and high notes.
    </td>
  </tr>
  <tr>
    <td>2:26</td>
    <td class="left">The solemnness of this section is interrupted with the singing of little birds
      ('<i>cantar augelletti</i>'), which consists of light, fast, rhythms and <b>paired
        imitation</b>. Paired imitation occurs when a duet between two voices is imitated by two
      other voices, in this case emulating a 'conversation' between two groups of birds.
    </td>
  </tr>
</table>
<p>These musical gestures are symbols that support the meaning of Petrarch's poem. The same
  technique is used in later music, including popular songs. One example of this is <a
          href="http://www.youtube.com/watch?v=Z_am82sYFXU" target="_blank">"Smash the Mirror" from
    <i>Tommy</i> by The Who</a>, which ascends chromatically (by half-step) on the lyric, "rise,
  rise, rise, rise..." The technique can also be used ironically, where the music portrays the
  opposite effect of the one that is implied by the lyrics. An example of this can be found
  in <a href="https://youtu.be/650qT7e12YY" target="_blank">"Shy" from the musical <i>Once Upon a
    Mattress</i> by Mary Rodgers</a>. The lyrics are about being timid and meek,
  but the music itself is showy and suited for a bold voice.</p>
<a name="monody" id="monody"></a>
<h2>Monody and the Emergence of Opera</h2>
<p>Following the Renaissance period in music history is the Baroque period. The term 'baroque' was
  originally pejorative, meaning 'deformed pearl', but has since come to stand for the period in
  music history that falls between the Renaissance and Classical periods. The Baroque period was the
  time of Johann Sebastian Bach (1685-1750) and George Frideric Handel (1685-1759), and is also the
  period in which opera was established as an important and popular genre.</p>
<h3>Monody</h3>
<p><b>Monody</b>, an important precursor of opera, is accompanied solo singing (not to be confused
  with the texture called mono<i>phony</i>, which is simply unaccompanied melody). The Florentine
  Camarata, an influential group of philosophers and scholars of the late 1500s, came to believe
  that the most appropriate and emotionally potent way to express poetry through music was with a
  single line of melody, carefully crafted to to the rhythms and meaning of the text. They believed
  that this style avoided the confusion of madrigalian polyphony, and approximated more closely the
  speech inflections of a skilled actor or orator. This philosophy and the style of music that it
  engendered would soon become <b>opera</b>, music paired with drama, poetry, and stagecraft.</p>
<h3>Early Opera</h3>
<p>The Camarata drew their conclusions from examinations of ancient Greek and Roman drama and
  treatises, which reflected the general interest in classical antiquity in Florence at the time. It
  is no surprise, then, that many early operas treated Greek and Roman mythological subjects. One
  such opera, a setting of the story of Orpheus and Eurydice entitled <i>L'Orfeo</i> (1607), was
  written by Claudio Monteverdi (1567-1643).</p>
<p>Monteverdi wrote only vocal music, and was particuarly attentive to the relationship between his
  music and the text. When a story or play is adapted for film we call this a screenplay and the
  author is a screenwriter. In the case of opera, the adaptation is a <b>libretto</b> and the author
  is a <b>librettist</b>. In the case of <i>L'Orfeo</i>, the librettist was Alessandro Striggio, who
  modeled the form of the libretto on Greek tragedy.</p>
<p>One important feature of early opera was the development of <b>aria</b> and <b>recitative</b>.
  Arias are lyrical pieces that pause the action and allow a single character to express their
  emotions. An aria is the operatic equivalent of a soliloquy in a play, and is accompanied by the
  full orchestra. Recitative, on the other hand, is designed to emulate speech by using free rhythms
  and melodies that approximate the pitches of normal speech. Since there is no speaking in opera,
  recitative is used in its place. Recitative in early opera is accompanied by only <b>basso
    continuo</b> - one instrument playing the bass line (often cello) and another filling in the
  harmonies (often harpsichord). Despite its apparent functionality, recitative can be beautiful and
  expressive, especially in the hands of a composer like Monteverdi.</p>
<p>According to Greek mythology, Orpheus was part god and able to move people's emotions with his
  music and poetry. In this story, his wife, Eurydice, dies from a snakebite, and Orpheus is so
  distraught that he goes to the underworld in an attempt to retrieve her by charming the god of the
  underworld, Hades, with his music. The recitative below is Orpheus's lament at the news of his
  wife's death.</p>
<div class="video" id="monteverdi">
  <h1>Claudio Monteverdi (1567-1643), Recitative: "Tu se' morta" from <i>L'Orfeo</i> (1607)</h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#monteverdi', 'kEgLr-YVRvs');
    });
  </script>
</div>
<table class="poem">
  <tr>
    <td class="labeltop">Original Italian</td>
    <td class="labeltop">English Translation</td>
  </tr>
  <tr>
    <td class="left">Tu s&eacute; morta, s&eacute; morta, mia vita,<br/>
      ed io respiro; tu s&eacute; da me partita,<br/>
      s&eacute; da me partita per mai pi&ugrave;,<br/>
      mai pi&ugrave; non tornare, ed io rimango-<br/>
      no, no, che se i versi alcuna cosa ponno,<br/>
      n'andr&ograve; sicuro a' pi&ugrave; profondi abissi,<br/>
      e, intenerito il cor del re de l'ombre,<br/>
      mecco trarrotti a riveder le stelle,<br/>
      o se ci&ograve; negherammi empio destino,<br/>
      rimarr&ograve; teco in compagnia di morte.<br/>
      Addio terra, addio cielo, e sole, addio.
    </td>
    <td class="left">You are dead, are dead, my life,<br/>
      And I breathe; you have left me,<br/>
      You have left me forever,<br/>
      Never to return, and I remain-<br/>
      No, no, if my verses have any power,<br/>
      I will go confidently to the deepest abysses,<br/>
      And, having melted the heart of the king of shadows,<br/>
      Will bring you back to see the stars again,<br/>
      Or, if cruel fate denies me this,<br/>
      I will remain with you in the company of death.<br/>
      Farewell earth, farewell sky, and sun, farewell.
    </td>
  </tr>
</table>
<p>Dissonance is used prominently in this recitative to express Orpheus's pain. Monteverdi also uses
  word painting on '<i>morta</i>' ('death'), '<i>pi&ugrave; profondi abissi</i>' ('the deepest
  abysses'), and '<i>riveder le stelle</i>' ('see the stars again'). How does he use music to
  portray these words?</p>
<a name="rap" id="rap"></a>
<h2>Rap</h2>
<p>So far we have looked at three examples of music with a special relationship to words: Gregorian
  chant, madrigals, and early opera. All these examples are from the 17th century or prior, but
  that's not to say that there hasn't been a great deal of music since then that interacts with
  words in a unique and fundamental way. In fact, one of the most word-driven forms of all time was
  born in the 20th century: rap.</p>
<h3>Origins</h3>
<p>The origins of rap lie as far back as the origins of poetry, but rap as we know it emerged around
  1980 as a sub-genre of hip-hop, which was influenced largely by the folk music of the African
  diaspora and African-American music including jazz, blues, funk, and gospel. Rap began when
  hip-hop disc jockeys (<b>DJs</b>) of the South Bronx in New York City decided that they needed to
  pick up the microphone to keep the attention of their audiences. They began speaking in time with
  the rhythms of the music and soon added rhymes and other wordplay. Thus the DJ became an <b>MC</b>,
  master of ceremonies. When rap first emerged it was less about word craft and more about
  entertainment. In the late '80s and early '90s rappers began to use more complex rhythms (known as
  <b>flow</b>), to create more sophisticated wordplay, and to treat social, political, and economic
  issues in their pieces. It was these innovations that define the genre as we know it today.</p>
<h3>Poetics</h3>
<p>Rappers exploit a vast repertoire of techniques inherited from poetry and literature (rhyme,
  simile, metaphor, personification, alliteration, assonance, oxymoron, onomatopoeia, imagery,
  irony, foreshadowing, and so on) and music (meter, rhythm, repetition, variation, contrast,
  chorus, and so on), and they add their own innovations in rhythm, rhyme, and wordplay in a way
  that has left its mark on the English language (look no farther than rappers' monikers for
  evidence of this). Chicago-born rapper Common writes, "All rap is poetry. That's not to say that
  all rap is <i>poetic</i>, though. Some rhymes just don't quite flow right; some are hard to listen
  to. But then again, just because it might not sound poetic to me doesn't mean it's not poetry."
</p>
<p>One aspect of rap that cannot be ignored is its subversiveness, which sometimes manifests itself
  in crude, violent, or otherwise offensive lyrics. Eminem is one rapper who incites a great deal of
  controversy in this regard, while simultaneously earning global celebrity, financial success, and
  the respect of his peers for his skills as a lyricist. New York rapper 50 Cent has described
  Eminem as, "the best rapper," remarking, "You know how a person is made for something? Eminem is
  made for hip-hop."</p>
<p>One of the less controversial pieces by Eminem is "'Till I Collapse" featuring fellow rapper Nate
  Dogg from his 2002 Grammy-nominated album <i>The Eminem Show</i>. The track has never been
  released as a single, but has been very successful as an independent title, having been used in
  association with the promotion of sports teams and video games. The marching cadence <a
          href="borrowing.html">sampled</a> in the introduction ("Left, left, left, right, left...")
  evokes the military, and may have been chosen to suggest that soldiers represent the commitment
  and hard work advocated in the lyrics, but this theme is not revisited explicitly in Eminem's rap
  or elsewhere in the song.</p>
<p>In the lyrics below, some examples of poetic devices are noted. The list is not exhaustive, but
  shows how traditional techniques are applied in rap lyrics.</p>
<div class="listen" id="eminem">
  <h1>Eminem, "'Till I Collapse" from <i>The Eminem Show</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#eminem', 'JPXZGKxmfFg');
    });
  </script>
</div>
<table>
  <tr>
    <td class="labeltop">Poetic Devices</td>
    <td class="labeltop">Eminem, "'Till I Collapse"</td>
  </tr>
  <tr>
    <td>internal rhyme, repetition</td>
    <td class="left">'Till I <b>collapse</b> I'm spilling these <b>raps</b> long as you feel
      <b>'em</b><br/>
      'Till the day that I drop you'll never say that I'm not killin' <b>'em</b><br/>
      'Cause when I am not, then I'ma stop pennin' <b>'em</b></td>
  </tr>
  <tr>
    <td>end of line rhyme</td>
    <td class="left">And I am not hip-hop and I'm just not <b>Eminem</b><br/>
      Subliminal thoughts, when I'ma stop sending <b>them</b>?<br/>
      Women are caught in webs, spin 'em and hock venom
    </td>
  </tr>
  <tr>
    <td>internal rhyme</td>
    <td class="left">Adrenalin shots of <b>penicillin</b> could not get the <b>illin'</b> to
      stop<br/>
      <b>Amoxicillin</b>'s just not real enough<br/>
      The criminal cop <b>killin'</b> hip-hop <b>villain</b></td>
  </tr>
  <tr>
    <td>internal rhyme</td>
    <td class="left">A minimal <b>swap</b> to <b>cop</b> millions of Pac listeners<br/>
      You're coming with me, feel it or not you're gonna fear it<br/>
      Like I showed you the spirit of god lives in us<br/>
      You hear it a lot, lyrics to shock
    </td>
  </tr>
  <tr>
    <td>alliteration, paraphrase (of Snoop Dogg's '-izzle' usage)</td>
    <td class="left">Is it a miracle or am I just product of pop <b>fizzin</b>' up?<br/>
      For <b>shizzle</b> my <b>wizzle</b>, this is the plot, listen up<br/>
      You <b>bizzles</b> forgot, <b>Slizzle</b> does not give a f***!<br/>
      <br/></td>
  </tr>
  <tr>
    <td>end of line rhyme</td>
    <td class="left">Music is like magic, there's a certain feeling you <b>get</b><br/>
      When you real and you spit and people are feeling your <b>s***</b><br/>
      This is your moment, and every single minute you spend<br/>
      Trying to hold on to it because you may never get it again<br/>
      So while you're in it, try to get as much s*** as you can<br/>
      And when your run is over just admit when it's at its end
    </td>
  </tr>
  <tr>
    <td>end of line rhyme</td>
    <td class="left">Because I'm at the end of my wits with half the s*** <b>gets in</b><br/>
      I got a list, here's the order of my list that <b>it's in</b>:<br/>
      It goes Reggie, Jay-Z, 2Pac and Biggie
    </td>
  </tr>
  <tr>
    <td>end of line rhyme, slant rhyme, repetition, assonance</td>
    <td class="left">Andre from OutKast, Jada, Kurupt, Nas and <b>then me</b><br/>
      But in this industry I'm the cause of a lot of <b>envy</b><br/>
      So when I'm not put on this list, the s*** does not <b>offend me</b><br/>
      That's why you see me walking around like nothing's bothering <b>me</b><br/>
      Even though half you people got a f***in' problem with <b>me</b><br/>
      You hate it but you know respect you got to give <b>me</b><br/>
      The press's wet dream like Bobby and <b>Whitney</b>; Nate, hit <b>me</b><br/>
      <br/></td>
  </tr>
  <tr>
    <td>end of line rhyme</td>
    <td class="left">Soon as a verse starts, I eat at an MC's <b>heart</b><br/>
      What is he thinking? How not to go against me. <b>Smart</b>.
    </td>
  </tr>
  <tr>
    <td>internal rhyme</td>
    <td class="left">And it's <b>absurd</b>, how people hang on every <b>word</b></td>
  </tr>
  <tr>
    <td>assonance, alliteration, internal rhyme</td>
    <td class="left">I'll probably never get the props I feel I ever <b>deserve</b><br/>
      But I'll never be <b>served</b>, my spot is forever <b>reserved</b></td>
  </tr>
  <tr>
    <td>end of line slant rhyme, full rhyme</td>
    <td class="left">If I ever leave Earth, that would be the death of me <b>first</b><br/>
      Because in my heart of hearts I know nothing could ever be <b>worse</b><br/>
      That's why I'm clever when I put together every <b>verse</b></td>
  </tr>
  <tr>
    <td>internal slant rhyme</td>
    <td class="left">My thoughts are <b>sporadic</b>, I act like I'm an <b>addict</b></td>
  </tr>
  <tr>
    <td>internal rhyme or slant rhyme on the same syllable in each line</td>
    <td class="left">I rap like I'm addicted to <b>smack</b> like I'm Kim Mathers<br/>
      But I don't want to go forth and <b>back</b> in constant battles<br/>
      The <b>fact</b> is I would rather sit <b>back</b> and bomb some rappers<br/>
      So this is like a full blown <b>attack</b> I'm launching at them<br/>
      The <b>track</b> is on some battling raps who want some static?<br/>
      Because I don't really think that the <b>fact</b> that I'm Slim matters<br/>
      A <b>plaque</b> and platinum status is <b>wack</b> if I'm not the baddest, so...
    </td>
  </tr>
</table>
{% endblock %}
