{% extends "layout.nunjucks" %}
{% block content %}
<!--
<div class="subsect toc">
    <h1>Table of Contents</h1>
    <ul>
        <li>#</li>
        <ul>
            <li>#</li>
        </ul>
    </ul>
</div>
-->
<h1>Writing About Music</h1>
<div class="row">
  <div class="one-half column offset-by-three">
    <blockquote>
      <p>"<i>Writing about music is like dancing about
        architecture.</i>"</p>
      <p align="right">- Martin Mull, actor and
        comedian</p>
    </blockquote>
  </div>
</div>
<p>Why do we write about music? No description, no matter how detailed, can substitute for the
  experience of hearing the music. Yet for centuries people have been writing about music (as well
  as many other arts). In some cases, these words about music can increase our understanding of the
  audible experience, and thus deepen our connection with the work or its performers. This is the
  category of writing that successful program notes fall into. Reading about the piece will not
  compensate for listening to the piece, but it may be an important part of our experience with the
  music.</p>
<p>Music criticism emerged in the early 18<sup>th</sup> century during the Enlightenment's
  encyclopedic concern with categorization and description. Writers about music contributed
  everything from reviews to discussions of style and aesthetic preferences in newspapers and
  scholarly publications. But it was in the 19<sup>th</sup> century that music journalism really
  took off. Not only was the musically literate public growing, aided by an increased amount of
  published music and public concerts, but new perspectives of art and art's purpose had also
  arisen. One of the most important figures at that time was Robert Schumann (1810-1856), himself a
  composer. He founded the <i>Neue Zeitschrift für Musik</i> (or <i>New Journal of Music</i>) in
  1834 in Germany. It gained a wide readership and was responsible for promoting such unknown
  composers as Johannes Brahms and Fryderyk Chopin. Schumann's opinions and criticism as published
  in the journal had an influence on not only the musical audience, but also contemporary composers.
  That is to say, writing about music influenced not only the way people heard that music, but also
  the way composers created new music.</p>
<p>The following is an excerpt from an article Schumann wrote about Berlioz's <i>Symphonie
  fantastique</i> when it was new. The full article is one of Schumann's longer ones, and includes
  many kinds of musical writing. He attempts to clarify for Berlioz's audiences the nature of the
  piece, and grapples with its unique form in relation to Berlioz's stated program. In addition to
  lengthy sections on the technical aspects of form and harmony in the piece, Schumann attempts to
  situate the work in its historical context by comparing it to certain works of Beethoven. Schumann
  deals with larger debates of his time (whether stated programs help or hinder the listener) as
  well as giving his judgment of the composer's talents (gifted in orchestration). Look for this
  range of involvement with the music as you read.</p>
<div class="quote">
  <p>&hellip;It is true that the oft-repeated principle melody of the whole symphony has something
    flat about it. Berlioz praises it rather too much, when, in the program, he attributes to it "a
    somewhat impassioned character, but noble yet timid." However, we must remember that he did not
    intend to embody a great thought here, but rather a haunting persistent idea, such as one finds
    it hard to get rid of through an entire day. Uniformity, insanity, could hardly have been better
    sketched. In the review I have mentioned, we are told that the principal melody of the second
    part is common and trivial; but there Berlioz leads us into a dancing-hall (as Beethoven does in
    the last movement of the A-major symphony), nothing more and nothing less. It is just so with
    the first melody of the third part, which Fétis, if I remember rightly, styles gloomy and
    tasteless. But wander among the Alpine shepherd paths, and listen to the Alpine horns and reed
    pipes; this is a reproduction of such effects. Equally natural and original are all the melodies
    of the symphony. In some episodes they leave what is merely characteristic behind them, and
    attain a lofty, universal beauty. What can be said against the melody with which the symphony
    begins? Never exceeding – by more that one degree – the limits of an octave, it is unrivalled
    for melancholy. And if that painful melody of the oboe in one of the preceding examples, springs
    a little too much, shall we point to everything with the finger? If I were to reproach Berlioz,
    it would be for his neglected middle parts; but they meet with a peculiar obstacle, such as we
    seldom remark in any other composer. His melodies are distinguished by such intensity of almost
    every tone, that, like some old folk-songs, they will scarcely bear a harmonic accompaniment,
    and even seem to lose in fullness of tone when accompanied. On this account, Berlioz generally
    harmonizes them with a sustained ground bass, or with the chords of the surrounding upper and
    lower fifths&hellip; his melodies are not to be listened to with the ears alone, else they will
    pass by misunderstood by those who do not know how to sing them in their hearts; but for those
    who do, they possess a meaning that seems to grow deeper the more often they are heard.</p>
  <p>&hellip;</p>
  <p>We will leave it undecided as to whether there are many poetic moments in the program of
    Berlioz's symphony. The principal question is, does the unexplained and unaccompanied music
    contain any meaning in itself, and, above all, does a spirit of its own inhabit it? As to the
    first, I think I have already said something; the second no one can deny, even where Berlioz
    openly fails. And if we would combat the spirit of the day, which tolerates a burlesque "Dies
    Irae," we should only repeat what has been said and written for years against Crabbe, Heine,
    Byron, Hugo, and others. For a few moments in an eternity, Poesy has put on the mask of irony to
    cover her grief-worn face. Perhaps the friendly hand of Genius may also loosen it.</p>
  <p>There is yet much of good and ill to say; but here, for today, I must break off. Could I hope
    that these lines would have the effect of inducing Berlioz to refrain his inclination towards
    eccentricity, - should they aid in obtaining complete recognition for his symphony, not as the
    masterpiece of a master, but as a work distinguished by its originality from all that stands
    beside it, - should they inspire German artists (to whom Berlioz stretches out the hand of
    brotherhood – a strong hand, ready to fight with them against dull, pedantic mediocrity) to new
    production, then the aim of their publication will have been fully attained.</p>
</div>
<p>Nearly a century later, composer Virgil Thomson continued this tradition of the
  composer-journalist. In his post with the New York Herald Tribune, Thomson had the opportunity to
  contribute writings that ranged from brief reviews of the previous evening's concert to lengthy
  discussions of new composers or current trends in the concert hall. Listen to the following piece
  by Edgard Var&egrave;se (1883-1965) before reading Thomson's short article on the composer,
  written in 1966. Notice what effect his writing has on your opinion or experience of the
  music.</p>
<div class="listen" id="varese">
  <h1>Edgard Var&egrave;se, <i>Po&egrave;me &eacute;lectronique</i></h1>
  <script>
    $(document).ready(function () {
      embedYouTube('#varese', 'R-R3F3ZVbi8?t=28s');
    });
  </script>
</div>
<div class="quote">
  <p>Edgard Var&egrave;se was born in 1883, not 1885, as had been believed till the time of his
    death. He was part Franco-Italian and part Burgundian, part engineer and part musician (a pupil
    of the Ecole Polytechnique as well as of both the Schola Cantorum and the Paris Conservatoire),
    a conductor both of modern orchestral repertory and of Renaissance choral music, a friend of
    Debussy and of Busoni, and a composer the most modern of them all. A broadly-based European (ten
    years resident in Italy, fifteen in France, seven in Berlin, those last brilliant years before
    World War I), he took to America so completely in his thirty-third year that all his preserved
    music is American work.</p>
  <p>Debussy's assumption that chords do not move, Busoni's advice that there was more future
    outside of classical harmony than within the thorough-bass convention, and America's freedom of
    artistic expansion (unique in 1916) made him the leader of our musical advance – and indeed of
    the world advance – a position which he held unchallenged during the time of his major
    production as a composer, or about fifteen years. During five of his last twelve years,
    beginning at seventy, he composed again, this time with electronic materials. And again he was
    the farthest out among the far-outs, partly because he had a first-class ear for sound and
    partly because he had long since by-passed, way back in his Berlin days, the attempt to make
    non-tonal music out of only tonal instruments and materials, an effort that later came to
    represent for him a doctrinaire, or establishment-type, modernism.</p>
  <p>Var&egrave;se's own music, for all its awareness of acoustical theory and of sound-source
    technology, remains highly resistant to analysis. This fact represents no small achievement, as
    indeed it does also in the case of Europe's older masters from Mozart through Debussy. For the
    explainable loses interest. And Var&egrave;se's music, over a nigh on to fifty-year period, has
    not lost its interest. It is still exciting, sometimes shocking, often vastly beautiful as
    sound, and always the work of genius – in other words, of imagination and brains. Aspects of it
    are surely arcane, the result of unstated but systematic calculations; others are just as
    certainly irrational, spontaneous, and inspired; and the whole of it has long seemed to me, by
    exactly these qualities plus that of never showing fatigue, great music.</p>
  <p>Melody, harmony, and form, in the classical sense, it seems to have shaken off completely in
    spite of its author's classical education. From <i>Am&eacute;riques</i> of 1919 to the <i>Po&egrave;me
      &eacute;lectronique</i> of 1957 he worked with timbre along with kinds of sound, chunks of it,
    organized these into a polyphony comparable perhaps to the intersecting polyhedrons that are the
    shapes of modern architecture. Nevertheless, these pieces are not static like a building, nor
    even like the music of Debussy; they move forward, aerodynamic, airborne. What moves them
    forward? Rhythms, I think, rhythms counterpointed to create tension and release energy. There
    are also in the timbre contrasts and loudness patterns designed for producing anxiety and
    relief, just as there are in tonal music. And these designs create psychological form, though
    the music is not overtly planned for drama.</p>
  <p>It seems to hang together not from themes and their restatements but from tiny cells or motives
    which agglomerate like crystals. As Var&egrave;se himself described this phenomenon, "In spite
    of their limited variety of internal structure, the external forms of crystals are almost
    limitless." To have produced with so cool a concept of artistic creation music of such warm
    sonorous interest and such urgent continuity makes of Var&egrave;se, and I think there is no way
    round this, the most original composer of the last half century and one of the most powerfully
    communicative.</p>
</div>
<p>These examples illustrate music writing that ranges from the descriptive, through the
  educational, to the opinionated. They grapple with the music itself, and also with philosophical
  arguments more tangential to the music. But perhaps the oldest form of writing about music, and
  one that we are still familiar with, is music reviews. Journal entries dating back to the
  Renaissance describe wonderful new musicians in the king's court, or the latest composition of Mr.
  Bach. Not all of these had a wide readership, of course, but they show that our engagement with
  music through words has in some respects remained the same for hundreds of years. These websites
  provide examples of our modern style of review; take a look at a few.</p>
<a href="http://www.spin.com/reviews" target="_blank">
  <div class="website">
    <h1><i>Spin Magazine</i>: Reviews</h1>
  </div>
</a>
<a href="http://www.nytimes.com/pages/arts/music/index.html?adxnnl=1&amp;adxnnlx=1308793492-t3jSOi+6QT3YADm5ysTrtA"
   target="_blank">
  <div class="website">
    <h1><i>The New York Times</i>: Music Reviews</h1>
  </div>
</a>
<p>This form of musical writing seems to have remained relatively constant. Most reviews mention the
  quality of the performance, describe how the music sounds, and give the author's opinion. Today,
  reviews are principally meant to function as marketing tools, with magazines and websites
  informing the consumer about this performer or that new album in largely positive ways. But they
  may also aid our understanding of the auditory product. Think about your experience with reviews,
  and whether this is a kind of writing that is useful to your musical experience, or simply
  superfluous. The following is a funny example of the marketing ploy gone wrong&hellip;</p>
<a href="http://www.npr.org/blogs/therecord/2011/04/21/135568766/everything-you-know-about-this-band-is-wrong"
   target="_blank">
  <div class="website">
    <h1><i>National Public Radio</i>: "Everything You Know About This Band is Wrong"
        by Frannie Kelley</h1>
  </div>
</a>
<p>Writers about music have had a long role as taste-makers, whether in the formal sense of
  criticism and program notes, or the more casual opinions of many reviews. Critics from Boston and
  New York in the early 20<sup>th</sup> century were so opposed in their opinions of repertory and
  style of performance that a single piece played by the same orchestra in both cities often
  received wildly different reviews. These critics formed a relationship with their audiences that
  few music writers have today. The wealth of information available to us means that there are more
  voices to contribute their opinions, and always someone to disagree.</p>
<p>In our information age, the question has become even more pertinent; what good is writing about
  music? There is a famous anecdote about a composer who is asked upon finishing the first
  performance of a new piece what it means. He promptly sat down at the piano and played it again.
  This story nicely illustrates the idea that we cannot say or write anything about the music that
  can take the place of actually hearing the music itself. The meaning of the music <i>is</i> the
  music. It is rather like writing about a building; the description of size, color, style, number
  of windows, etc., may tell a person a good deal about the building. But such a description will
  not shelter anyone from rain or provide a place to walk through. The description is merely words
  and the building is the building.</p>
<p>Nonetheless, we continue to write about music. The writing sometimes helps us gain a deeper
  appreciation for the art, and sometimes helps us digest the experience once we've had it. However
  incomplete, the words still come. Keep this in mind as you write your concert reviews and
  listening guides. Having to put down in words elements of form and harmony may help you hear them
  better when you listen. Having to describe a piece aside from the auditory experience may make you
  listen more attentively to begin with. But ultimately, our words are only aids to a fundamentally
  aural experience.</p>
{% endblock %}
